final_flow.json
[{"id":"3bef7874.507c38","type":"tab","label":"Main App","disabled":false,"info":""},{"id":"193ad77.9f3b929","type":"tab","label":"Search Query","disabled":false,"info":""},{"id":"ab752122.685d1","type":"tab","label":"Delete Collection Daily","disabled":false,"info":""},{"id":"2eb61c9e.90ad14","type":"tab","label":"Webscrape combine","disabled":false,"info":""},{"id":"aa3add00.b2795","type":"tab","label":"Debug Tools","disabled":false,"info":""},{"id":"d7a05650.4d7538","type":"ui_group","z":"","name":"Upload PDF for analysis","tab":"34eaacab.ff46f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"34eaacab.ff46f4","type":"ui_tab","z":"","name":"Company Report Analysis Portal","icon":"dashboard","disabled":false,"hidden":false},{"id":"5e77e8ea.036608","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3fdc0371.10f93c","type":"ui_group","z":"","name":"Revenue","tab":"cc423cb5.d2955","order":2,"disp":false,"width":"6","collapse":false},{"id":"cc423cb5.d2955","type":"ui_tab","z":"","name":"Company Report Analysis Portal","icon":"dashboard","disabled":false,"hidden":false},{"id":"e985f1f1.aab83","type":"ui_group","z":"","name":"Search Query","tab":"306032d6.86f42e","order":6,"disp":false,"width":"8","collapse":false},{"id":"306032d6.86f42e","type":"ui_tab","z":"","name":"Search Query","icon":"dashboard","disabled":false,"hidden":false},{"id":"8c5aafbf.a3bdc","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"4aa74f9d.0cf18","type":"ui_group","z":"","name":"Upload New Report","tab":"33a4217.63d7ede","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b3f2d57.fa5ff4","type":"ui_tab","z":"","name":"Company Report Analysis Portal","icon":"dashboard","disabled":false,"hidden":false},{"id":"9eb4013e.ba125","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#006ac7","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#006ac7","edited":true},"page-titlebar-backgroundColor":{"value":"#0071b8","edited":true},"page-backgroundColor":{"value":"#e6e6e6","edited":true},"page-sidebar-backgroundColor":{"value":"#dedede","edited":true},"group-textColor":{"value":"#005dd6","edited":true},"group-borderColor":{"value":"#e6e6e6","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#8a8a8a","edited":true},"widget-backgroundColor":{"value":"#0062d1","edited":true},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bfd5c8d4.fd46e8","type":"ui_group","z":"","name":"Revenue","tab":"4b3f2d57.fa5ff4","order":2,"disp":false,"width":"6","collapse":false},{"id":"135b5065.61b6d","type":"ui_group","z":"","name":"Gross Profit","tab":"4b3f2d57.fa5ff4","order":3,"disp":false,"width":"6","collapse":false},{"id":"1b529f70.9d5091","type":"ui_group","z":"","name":"ReUpload","tab":"4b3f2d57.fa5ff4","order":4,"disp":false,"width":"4","collapse":false},{"id":"33a4217.63d7ede","type":"ui_tab","z":"","name":"UploadTab","icon":"dashboard","disabled":false,"hidden":false},{"id":"712fd2d3.1cd75c","type":"ui_group","z":"","name":"Title","tab":"4b3f2d57.fa5ff4","order":4,"disp":false,"width":"6","collapse":false},{"id":"b8f16d96.10971","type":"ui_group","z":"","name":"Cash Flow","tab":"4b3f2d57.fa5ff4","order":5,"disp":false,"width":"6","collapse":false},{"id":"fd6f9069.65284","type":"ui_group","z":"","name":"Search Query","tab":"82cd618f.24afa","order":6,"disp":false,"width":"8","collapse":false},{"id":"82cd618f.24afa","type":"ui_tab","z":"","name":"Search Query","icon":"dashboard","disabled":false,"hidden":false},{"id":"f9c8cca7.a1855","type":"ui_group","z":"","name":"Keywords","tab":"4b3f2d57.fa5ff4","order":6,"disp":false,"width":"6","collapse":false},{"id":"669c385b.9b5df8","type":"ui_group","z":"","name":"Finance Debt","tab":"4b3f2d57.fa5ff4","order":7,"disp":false,"width":"6","collapse":false},{"id":"54ac3598.9c717c","type":"ui_group","z":"","name":"Sentiment","tab":"4b3f2d57.fa5ff4","order":8,"disp":true,"width":"6","collapse":false},{"id":"d35311c2.f2b6f","type":"ui_group","z":"","name":"Metadata","tab":"4b3f2d57.fa5ff4","order":9,"disp":false,"width":"6","collapse":false},{"id":"733be9ea.15e0f8","type":"inject","z":"ab752122.685d1","name":"Repeated flush discovery","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["e38f40ca.d5e58"]]},{"id":"ffc01ebf.51ad5","type":"function","z":"ab752122.685d1","name":"Set coll id to del","func":"currcollection = msg.collections[msg.currindex].collection_id\nmsg.discoveryparams = {}\nmsg.discoveryparams.collectionId = currcollection\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":180,"wires":[["53d83150.e14a4"]]},{"id":"16c78f35.61b4b1","type":"switch","z":"ab752122.685d1","name":"","property":"currindex","propertyType":"msg","rules":[{"t":"lt","v":"numcollections","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":180,"wires":[["ffc01ebf.51ad5"]]},{"id":"7fbddf2d.f4b66","type":"function","z":"ab752122.685d1","name":"init loop","func":"msg.numcollections = msg.collections.length\nmsg.currindex = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":180,"wires":[["16c78f35.61b4b1","5d47d074.c9291"]]},{"id":"bc2ab5aa.e57768","type":"function","z":"ab752122.685d1","name":"Loop","func":"msg.currindex = parseInt(msg.currindex) + 1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":360,"wires":[["16c78f35.61b4b1","db7e6e31.f74c3"]]},{"id":"db7e6e31.f74c3","type":"debug","z":"ab752122.685d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":360,"wires":[]},{"id":"5d47d074.c9291","type":"debug","z":"ab752122.685d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":360,"wires":[]},{"id":"7d9009f7.d65968","type":"template","z":"3bef7874.507c38","name":"upload doc automation synchronously","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n\n    <style>\n        body,h1 {font-family: \"Raleway\", sans-serif;}\n        body, html {height: 100%}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);;\n            min-height: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .topTxt {\n            width: 100%;\n            text-align: center;\n            font-size: 18px;\n        }\n\n\n\n\n\n    </style>\n\n\n    <body >\n        <div class=\"bgimg w3-display-container w3-animate-opacity w3-text-white\">\n            <div class=\"topTxt\">\n                Upload a financial report (pdf) for us to analyse and we'll help you decide which business is worth your time\n            </div>\n            <div class=\"w3-display-middle\" style=\"width: 40%\">\n                <h1 class=\"w3-jumbo w3-animate-top\" style=\"text-align: center\">Upload Document</h1>\n                <hr class=\"w3-border-grey\" style=\"margin:auto;width:100%\">\n                <p class=\"w3-large w3-center\"></p>\n                <div class=\"w3-large w3-center\">\n                    <form>\n                        <!--\n                        <label for=\"API Key\">API Key:</label>\n                        <input id=\"API Key\" type=\"text\" name=\"apikey\" value=\"\"><br><br>\n                        <label for=\"Endpoint\">Discovery URL:</label>\n                        <input id=\"Endpoint\" type=\"text\" name=\"endpt\" value=\"\"><br><br>\n                        -->\n                        \n                        <input id=\"Collname\" type=\"text\" name=\"collname\" value=\"\" placeholder=\"Enter Collection Name...\"><br><br>\n                    </form>\n\n\n                    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js\"></script>\n\n                    <label for=\"filehere\" class=\"chooseFile\"><i class=\"fa fa-cloud-upload\"></i>Choose File (.pdf)</label>\n                    <input id=\"filehere\" type=\"file\" name='uploadedFile' style=\"display:none;\" accept=\".pdf\">\n\n\n                    <input type=\"submit\" value=\"Analyse\" onclick=\"submit()\">\n                </div>\n\n\n\n                <p id=\"displaystatus\"></p>\n                <p id=\"displayout\"></p>\n                <p id=\"displayerr\"></p>\n            </div>\n        </div>\n\n\n\n\n        <script type=\"text/javascript\">\n            function config_inst(config) {\n                let conf_id;\n\n                // TODO - Replace values with your own values\n                switch(config) {\n                    case \"URL\":\n                        conf_id = \"placeholderurl\";\n                        break;\n                    case \"API key\":\n                        conf_id = \"placeholderapikey\";\n                        break;\n                    case \"Configuration ID\":\n                        conf_id = \"placeholderconfigid\";\n                        break;\n                    case \"Environment ID\":\n                        conf_id = \"placeholderenvid\";\n                        break;\n                    default:\n                        conf_id = \"\"\n                }\n\n                return conf_id;\n            }\n\n            function submit() {\n\n                // TODO - Replace noderedinst with your own instance\n                var noderedinst = \"placeholderurl\";\n                var nextendpt = \"/beginprocessing\";\n\n                let hardcodedapikey = config_inst(\"API key\");\n                let hardcodedurl = config_inst(\"URL\");\n                let hardcodedenvid = config_inst(\"Environment ID\");\n                let hardcodedconfigid = config_inst(\"Configuration ID\");\n\n                var envid = hardcodedenvid;\n                var configid = hardcodedconfigid;\n                var endpt = hardcodedurl;\n                var apikey = hardcodedapikey;\n                // var endpt = document.getElementById('Endpoint').value;\n                // var apikey = document.getElementById('API Key').value;\n                var collname = document.getElementById('Collname').value;\n                if (collname == \"\"){\n                    collname = \"newcollection\";\n                }\n                var apikeyentry = \"apikey:\" + apikey;\n\n                document.getElementById('displaystatus').innerHTML = \"Checking collections\";\n\n                collections = listcoll(endpt, envid, apikeyentry);\n                document.getElementById('displaystatus').innerHTML = \"Collections checked\";\n                var collobj = JSON.parse(collections);\n                numcolls = (collobj.collections).length;\n\n                var collid = \"\";\n\n                if (numcolls == 0){\n                    // create collection\n                    createcoll(configid,endpt, envid, collname, apikeyentry);\n                    // get collid\n                    newcollections = listcoll(endpt, envid, apikeyentry);\n                    newcollobj = JSON.parse(newcollections);\n                    collid = JSON.stringify(newcollobj.collections[0].collection_id);\n                } else if (numcolls == 1){\n                    collid = JSON.stringify(collobj.collections[0].collection_id);\n                } else {\n                    // throw error?\n                    document.getElementById('displayerr').innerHTML = \"Multiple Collections Error\";\n                }\n                collid = collid.slice(1,-1);\n                document.getElementById('displaystatus').innerHTML = \"Obtained collection ID\";\n                uploaddoc(endpt, envid, collid, apikeyentry);\n                document.getElementById('displaystatus').innerHTML = \"Your file is being processed. Please wait. Alternatively, visit https://node-red-ucl-2020.eu-gb.mybluemix.net/ui sometime later. Thanks!\";\n\n                docuploadedwaiting = true;\n\n                while(docuploadedwaiting){\n                   \n                    colldeets = checkColl(endpt,envid, collid, apikeyentry);\n                    var collinfo = JSON.parse(colldeets);\n                    if (collinfo.document_counts.processing == 0){\n                        if (collinfo.document_counts.available > 0){\n                            docuploadedwaiting = false;\n                        }\n                        else if (collinfo.document_counts.available > 0 && collinfo.document_counts.failed > 0){\n                            document.getElementById('displayerr').innerHTML = \"FILE UPLOAD FAILED\";\n                            return;\n                        }\n                    }\n                }\n                updatedb(noderedinst,collid);\n                var redirectto = noderedinst + nextendpt;\n                window.location.replace(redirectto);\n\n            }\n            function listcoll(endpt, envid, apikeyentry) {\n                var xmlHttp = new XMLHttpRequest();\n                thisurl = endpt + \"/v1/environments/\" + envid + \"/collections?version=2019-04-30\"\n                xmlHttp.open(\"GET\", thisurl, false);\n                xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(apikeyentry));   \n                xmlHttp.send();\n                return xmlHttp.responseText\n            }\n            function createcoll(configid, endpt, envid, collname, apikeyentry) {\n                var xmlHttp = new XMLHttpRequest();\n                thisurl = endpt + \"/v1/environments/\" + envid + \"/collections?version=2019-04-30\";\n                xmlHttp.open(\"POST\", thisurl, false);\n                xmlHttp.setRequestHeader(\"Content-Type\",\"application/json\");\n                xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(apikeyentry));   \n                xmlHttp.send(JSON.stringify({\"name\":collname,\"description\":\"My collection\",\"configuration_id\":configid,\"language\":\"en\"}));\n                return xmlHttp.responseText;\n            }\n            function uploaddoc(endpt, envid, collid, apikeyentry) {\n                var xmlHttp = new XMLHttpRequest();\n\n                var urlendpt = endpt + \"/v1/environments/\" + envid + \"/collections/\" + collid + \"/documents?version=2019-04-30\";\n\n                xmlHttp.open(\"POST\", urlendpt, false);\n                xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(apikeyentry));   \n\n                var fileInput = document.getElementById('filehere');\n                var file = fileInput.files[0];\n                var formData = new FormData();\n                formData.append(\"file\", file);\n\n                xmlHttp.send(formData);\n                return xmlHttp.responseText;\n            }\n            function checkColl(endpt, envid, collid, apikeyentry) {\n                var xmlHttp = new XMLHttpRequest();\n                thisurl = endpt + \"/v1/environments/\" + envid + \"/collections/\" + collid + \"?version=2019-04-30\";\n                xmlHttp.open(\"GET\", thisurl, false);\n                xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(apikeyentry));   \n                xmlHttp.send();\n                return xmlHttp.responseText;\n            }\n            function updatedb(endpt, collid){\n                var xmlHttp = new XMLHttpRequest();\n                thisurl = endpt + \"/newupload\";\n                xmlHttp.open(\"POST\", thisurl);\n                xmlHttp.setRequestHeader(\"Content-Type\", \"application/json\");\n\n                currfn = document.getElementById('filehere').value;\n                fnsplit = currfn.split(\"\\\\\");\n                realfname = fnsplit[(fnsplit.length)-1];\n\n                xmlHttp.send(JSON.stringify({\"filename\":realfname,\"collid\":collid}));\n                return true;\n            }\n\n            $('#filehere').change(function() {\n                var i = $(this).prev('label').clone();\n                var file = $('#filehere')[0].files[0].name;\n                $(this).prev('label').text(file);\n            });\n        </script>\n    </body>\n</html>","output":"str","x":450,"y":80,"wires":[["cb214ed2.b13e7","8f39d937.a00f18"]]},{"id":"df8f39fe.d250d8","type":"http in","z":"3bef7874.507c38","name":"","url":"/uploadfile","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["7d9009f7.d65968"]]},{"id":"cb214ed2.b13e7","type":"debug","z":"3bef7874.507c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":120,"wires":[]},{"id":"8f39d937.a00f18","type":"http response","z":"3bef7874.507c38","name":"","statusCode":"","headers":{},"x":750,"y":80,"wires":[]},{"id":"a415b7c0.75ee58","type":"http in","z":"3bef7874.507c38","name":"","url":"/beginprocessing","method":"get","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["57d6d586.cb611c"]]},{"id":"c8ff79c7.dd0598","type":"comment","z":"3bef7874.507c38","name":"Redirects here upon file upload success","info":"","x":150,"y":240,"wires":[]},{"id":"8dab87c2.f55378","type":"function","z":"3bef7874.507c38","name":"Get coll id","func":"msg.collectionIdtouse = msg.collections[0].collection_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":280,"wires":[["7d8c3272.3451bc","7eabe228.97ba9c"]]},{"id":"7d8c3272.3451bc","type":"debug","z":"3bef7874.507c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":280,"wires":[]},{"id":"41cff564.8ea1bc","type":"http response","z":"193ad77.9f3b929","name":"","statusCode":"","headers":{},"x":550,"y":180,"wires":[]},{"id":"94a23952.2f1ea8","type":"template","z":"193ad77.9f3b929","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Send query here:</h1>\n<form action=\"/watsonhandler\" method=\"POST\">\n    <label for=\"query\">Enter query:</label>\n    <input type=\"text\" name=\"query\" /> <br> <br>\n    <label for=\"searchScope\">Search:</label>\n    <select id=\"searchScope\" name=\"searchScope\">\n        <option value=\"Document\">Document</option>\n        <option value=\"News\">News</option>\n        <option value=\"Web\">Web</option>\n    </select> <br> <br>\n    <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":350,"y":180,"wires":[["41cff564.8ea1bc"]]},{"id":"7aa59160.15ca6","type":"http in","z":"193ad77.9f3b929","name":"","url":"/searchwatson","method":"get","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["94a23952.2f1ea8"]]},{"id":"d6febe72.1bc4","type":"http in","z":"193ad77.9f3b929","name":"","url":"/watsonhandler","method":"post","upload":false,"swaggerDoc":"","x":100,"y":620,"wires":[["5f3e4942.cb6558"]]},{"id":"520875fd.54111c","type":"http response","z":"193ad77.9f3b929","name":"","statusCode":"","headers":{},"x":1370,"y":760,"wires":[]},{"id":"ac231251.ff145","type":"switch","z":"193ad77.9f3b929","name":"","property":"queryParams.searchNews","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":760,"wires":[["f53c9445.eaef28"]]},{"id":"5f3e4942.cb6558","type":"function","z":"193ad77.9f3b929","name":"Parse Query","func":"msg.queryParams = {};\nmsg.queryParams.queryterm = msg.payload.query;\nmsg.queryParams.searchDoc = false;\nmsg.queryParams.searchNews = false;\nmsg.queryParams.searchWeb = false;\nif ((msg.payload.searchScope) == \"Document\"){\n    msg.queryParams.searchDoc = true;\n}\nif ((msg.payload.searchScope) == \"News\"){\n    msg.queryParams.searchNews = true;\n}\nif ((msg.payload.searchScope) == \"Web\"){\n    msg.queryParams.searchWeb = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":760,"wires":[["ac231251.ff145","7eb95786.87bc28","653bac19.9d79c4"]]},{"id":"48f54378.87ceac","type":"debug","z":"193ad77.9f3b929","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":660,"wires":[]},{"id":"9f39a912.4617f8","type":"watson-discovery-v1","z":"193ad77.9f3b929","name":"Search Watson","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"5","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"term(text)","return":"text,website","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":1080,"y":660,"wires":[["48f54378.87ceac","fa8dbd21.16dcd"]]},{"id":"f53c9445.eaef28","type":"function","z":"193ad77.9f3b929","name":"Overwrite Query","func":"msg.discoveryparams = {};\nmsg.discoveryparams.query = \"text:\" + msg.queryParams.queryterm;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":660,"wires":[["9f39a912.4617f8"]]},{"id":"fa8dbd21.16dcd","type":"function","z":"193ad77.9f3b929","name":"Display Top Result","func":"msg.payload = msg.search_results.results[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":740,"wires":[["81547169.cdd2f","5dfa1b7e.991f24"]]},{"id":"902d593f.a8c218","type":"comment","z":"3bef7874.507c38","name":"DOC CONSUMPTION","info":"","x":140,"y":40,"wires":[]},{"id":"7eabe228.97ba9c","type":"function","z":"3bef7874.507c38","name":"transform query","func":"msg.discoveryparams = {};\nmsg.discoveryparams.collectionId = msg.collectionIdtouse;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":520,"wires":[["27f7fee9.3ffd02"]]},{"id":"ea6ce609.e9e798","type":"function","z":"3bef7874.507c38","name":"","func":"let revenues = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const revenue = item.passage_text + ' ';\n  revenues = revenues.concat('', revenue);\n})\n\nmsg.ui.last_revenue = revenues;\nmsg.payload = revenues;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":820,"wires":[["b7e312e0.7144b"]]},{"id":"57d6d586.cb611c","type":"watson-discovery-v1","z":"3bef7874.507c38","name":"List Collections test","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"listCollections","service-endpoint":"","x":430,"y":280,"wires":[["8dab87c2.f55378"]]},{"id":"7eb95786.87bc28","type":"switch","z":"193ad77.9f3b929","name":"","property":"queryParams.searchDoc","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":1000,"wires":[["85cfee15.940e"]]},{"id":"92d03777.ec7378","type":"watson-discovery-v1","z":"193ad77.9f3b929","name":"Query","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","collection_name":"","count":"2","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"term(text)","return":"text","description":"","size":"","discovery-method":"query","service-endpoint":"","x":1130,"y":1380,"wires":[["c331743b.630d18"]]},{"id":"4c723340.e9d90c","type":"function","z":"193ad77.9f3b929","name":"build query","func":"msg.discoveryparams.query=msg.payload.query;\nmsg.discoveryparams.nlp_query=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1380,"wires":[["92d03777.ec7378"]]},{"id":"c331743b.630d18","type":"function","z":"193ad77.9f3b929","name":"","func":"msg.payload = {}\nmsg.payload.result = msg.search_results.passages;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":1480,"wires":[["a7ea37bc.1705d8","111704d5.8aca6b"]]},{"id":"85cfee15.940e","type":"watson-discovery-v1","z":"193ad77.9f3b929","name":"List env_id","environmentname":"","environmentId":"","collectionId":"ec3020bf-ea5e-4b00-8737-63de6a2bade3","configurationname":"","configurationId":"","collection_name":"","count":"2","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"term(text)","return":"text","description":"","size":"","discovery-method":"listEnvrionments","service-endpoint":"","x":630,"y":1160,"wires":[["c532a907.d2ee38"]]},{"id":"c532a907.d2ee38","type":"function","z":"193ad77.9f3b929","name":"get env_id","func":"msg.discoveryparams = {};\nmsg.discoveryparams.environmentId = msg.environments[1].environment_id;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":1220,"wires":[["95821bab.6977c8"]]},{"id":"95821bab.6977c8","type":"watson-discovery-v1","z":"193ad77.9f3b929","name":"List collections","environmentname":"","environmentId":"","collectionId":"ec3020bf-ea5e-4b00-8737-63de6a2bade3","configurationname":"","configurationId":"","collection_name":"","count":"2","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"term(text)","return":"text","description":"","size":"","discovery-method":"listCollections","service-endpoint":"","x":620,"y":1320,"wires":[["cb584138.065f8"]]},{"id":"cb584138.065f8","type":"function","z":"193ad77.9f3b929","name":"get coll_id","func":"msg.discoveryparams.collectionId = msg.collections[0].collection_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1380,"wires":[["4c723340.e9d90c"]]},{"id":"7cbc2a45.5002d4","type":"watson-discovery-v1","z":"3bef7874.507c38","name":"Revenue Last Year","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"revenue last year","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":250,"y":820,"wires":[["ea6ce609.e9e798"]]},{"id":"a93e963e.0c0ea8","type":"watson-discovery-v1","z":"3bef7874.507c38","name":"Finance Debt","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"finance debt","filter":"","aggregation":"","return":"","description":"","size":"","discovery-method":"query","service-endpoint":"","x":250,"y":980,"wires":[["261cd9e8.160206"]]},{"id":"261cd9e8.160206","type":"function","z":"3bef7874.507c38","name":"","func":"let debts = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const debt = item.passage_text + ' ';\n  debts = debts.concat('', debt);\n})\n\nmsg.ui.finance_debt = debts;\nmsg.payload = debts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":980,"wires":[["f3569c02.20ce7"]]},{"id":"9a636a2a.e86168","type":"watson-discovery-v1","z":"3bef7874.507c38","name":"Cash Flow","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"cash flow","filter":"","aggregation":"","return":"","description":"","size":"","discovery-method":"query","service-endpoint":"","x":230,"y":900,"wires":[["e05618b8.7394b8"]]},{"id":"e05618b8.7394b8","type":"function","z":"3bef7874.507c38","name":"","func":"let cash_flow = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const cash = item.passage_text + ' ';\n  cash_flow = cash_flow.concat('', cash);\n})\n\nmsg.ui.cash_flow = cash_flow;\nmsg.payload = cash_flow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":900,"wires":[["4e5c47a1.226a98"]]},{"id":"a7ea37bc.1705d8","type":"debug","z":"193ad77.9f3b929","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":1480,"wires":[]},{"id":"779dfa60.cc4f24","type":"inject","z":"3bef7874.507c38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":460,"wires":[["3b533b15.01bfe4"]]},{"id":"3b533b15.01bfe4","type":"function","z":"3bef7874.507c38","name":"Set collection id","func":"// TODO - replace placeholder below\nmsg.collectionIdtouse = \"placeholderid\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":460,"wires":[["7eabe228.97ba9c"]]},{"id":"653bac19.9d79c4","type":"switch","z":"193ad77.9f3b929","name":"","property":"queryParams.searchWeb","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":860,"wires":[["c4a056eb.1cb838","1799adc8.630a92"]]},{"id":"1c21d685.76bb69","type":"function","z":"ab752122.685d1","name":"Set update log","func":"msg.datenow = Date.now();\nmsg.payload = \"UPDATE FILELOG SET DELETED='\" + msg.datenow + \"' WHERE COLLECTION='\"+ msg.discoveryparams.collectionId +\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":180,"wires":[["e3d08d35.b1c5b"]]},{"id":"e3d08d35.b1c5b","type":"dashDB in","z":"ab752122.685d1","dashDB":"","service":"_ext_","query":"","params":"","name":"","x":1220,"y":280,"wires":[["bc2ab5aa.e57768"]]},{"id":"fb7a4c09.1b56a","type":"http in","z":"ab752122.685d1","name":"","url":"/newupload","method":"post","upload":false,"swaggerDoc":"","x":370,"y":480,"wires":[["39e57243.6598ae","65472daa.bac0e4"]]},{"id":"39e57243.6598ae","type":"function","z":"ab752122.685d1","name":"","func":"msg.fn = msg.payload.filename;\nmsg.collid = msg.payload.collid;\nmsg.datenow = Date.now();\nmsg.payload = \"INSERT INTO FILELOG (FILENAME, COLLECTION, ADDED, DELETED) VALUES ('\"+ msg.fn + \"', '\"+ msg.collid + \"', '\"+ msg.datenow + \"', null);\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":480,"wires":[["9e9e24b8.645938"]]},{"id":"9e9e24b8.645938","type":"dashDB in","z":"ab752122.685d1","dashDB":"","service":"_ext_","query":"","params":"","name":"","x":760,"y":480,"wires":[["184d9d7f.54e293"]]},{"id":"184d9d7f.54e293","type":"debug","z":"ab752122.685d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":480,"wires":[]},{"id":"e38f40ca.d5e58","type":"watson-discovery-v1","z":"ab752122.685d1","name":"list coll test","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"listCollections","service-endpoint":"","x":430,"y":260,"wires":[["7fbddf2d.f4b66"]]},{"id":"53d83150.e14a4","type":"watson-discovery-v1","z":"ab752122.685d1","name":"delete coll test","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"deleteCollection","service-endpoint":"","x":1270,"y":140,"wires":[["1c21d685.76bb69"]]},{"id":"65472daa.bac0e4","type":"debug","z":"ab752122.685d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":540,"wires":[]},{"id":"3bf65c1b.96c104","type":"watson-discovery-v1","z":"3bef7874.507c38","name":"Keyword","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":false,"query":"","filter":"","aggregation":"term(enriched_text.concepts.text,count:7)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":260,"y":580,"wires":[["b76e9ed0.accdb"]]},{"id":"e4aab374.53307","type":"debug","z":"3bef7874.507c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":1120,"wires":[]},{"id":"b76e9ed0.accdb","type":"function","z":"3bef7874.507c38","name":"","func":"let keywords = [];\n\nmsg.search_results.aggregations[0].results.forEach(function(item, index, array) {\n  keywords.push(item.key)\n});\n\nmsg.ui.keyword = keywords;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["23f38b9d.090ee4"]]},{"id":"27f7fee9.3ffd02","type":"watson-discovery-v1","z":"3bef7874.507c38","name":"Metadata","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":300,"y":520,"wires":[["b8e86c51.299fe"]]},{"id":"b8e86c51.299fe","type":"function","z":"3bef7874.507c38","name":"","func":"msg.ui = {};\n\nmsg.ui.colours = {\n    \"analytical\": \"#19A3F7\",\n    \"anger\": \"#FFA197\",\n    \"confident\": \"#A779D8\",\n    \"fear\": \"#7DB258\",\n    \"joy\": \"#FFF173\",\n    \"sadness\": \"#69C3E2\",\n    \"tentative\": \"#94FFEF\",\n    \"na\": \"white\"\n};\n\n// Title\nmsg.ui.title = msg.search_results.results[0].extracted_metadata.title;\n\n// Sentiment analysis\nmsg.ui.sentiment = msg.search_results.results[0].enriched_text.sentiment.document.label;\n\n// Industries\nlet industries = [];\nmsg.search_results.results[0].enriched_text.categories.forEach(function(item, index, array) {\n  let labels = item.label.split(' and ');\n  labels.forEach(function(item, index, array) {\n      if(item.startsWith('/')) {\n          array[index] = item.substr(1);\n      }\n  })\n  industries = industries.concat(labels);\n})\nconst industry = new Set(industries);   // Remove duplications\nmsg.ui.industry = [...industry];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":580,"wires":[["3bf65c1b.96c104"]]},{"id":"abb6e869.a6b3f8","type":"comment","z":"2eb61c9e.90ad14","name":"GET Company Overview","info":"","x":270,"y":700,"wires":[]},{"id":"66730eea.f4939","type":"inject","z":"2eb61c9e.90ad14","name":"make request normalco","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"09678867","payload":"","payloadType":"date","x":260,"y":940,"wires":[["6d90997.323ac68"]]},{"id":"6d90997.323ac68","type":"function","z":"2eb61c9e.90ad14","name":"set url","func":"// check isalphanumeric\nif(!msg.topic.match(/^([0-9]|[a-z])+([0-9a-z]+)$/i)){\n    msg.payload = \"ERROR!\";\n    return msg;\n}\nmsg.url = \"https://beta.companieshouse.gov.uk/company/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":920,"wires":[["28401692.ac035a"]]},{"id":"28401692.ac035a","type":"switch","z":"2eb61c9e.90ad14","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":820,"wires":[["63adf29b.0647bc"]]},{"id":"63adf29b.0647bc","type":"http request","z":"2eb61c9e.90ad14","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":1020,"wires":[["b832d725.709778"]]},{"id":"9752ddb9.e6e5d","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"div.column-half","ret":"html","as":"single","x":1560,"y":960,"wires":[["483da3ef.6db84c"]]},{"id":"fd08f613.f23dd8","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"dl dd","ret":"html","as":"single","x":1270,"y":920,"wires":[["ab74ca30.3e03b8"]]},{"id":"d7ae517c.10f13","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"#sic0","ret":"html","as":"single","x":950,"y":1020,"wires":[["64576e18.3367e"]]},{"id":"b832d725.709778","type":"function","z":"2eb61c9e.90ad14","name":"init returnval + store html file","func":"msg.infotoreturn = {};\nmsg.infotoreturn.compnumber = msg.topic;\nmsg.html = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1020,"wires":[["d7ae517c.10f13"]]},{"id":"64576e18.3367e","type":"function","z":"2eb61c9e.90ad14","name":"store natureofbiz + reinstate payload html","func":"msg.infotoreturn.natureofbiz = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":1020,"wires":[["fd08f613.f23dd8"]]},{"id":"d8d74609.8c4ad8","type":"inject","z":"2eb61c9e.90ad14","name":"make request dissolved co","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"09854375","payload":"","payloadType":"date","x":290,"y":900,"wires":[["6d90997.323ac68"]]},{"id":"ab74ca30.3e03b8","type":"function","z":"2eb61c9e.90ad14","name":"store info","func":"msg.infotoreturn.address = msg.payload[0];\nmsg.infotoreturn.companystatus = msg.payload[1];\nif(msg.payload.length == 5){\n    msg.infotoreturn.dissolvedate = msg.payload[2];\n    msg.infotoreturn.companytype = msg.payload[3];\n    msg.infotoreturn.incdate = msg.payload[4];\n}\nelse if (msg.payload.length == 4){\n    msg.infotoreturn.companytype = msg.payload[2];\n    msg.infotoreturn.incdate = msg.payload[3];\n}\nelse {\n    // error has occurred\n}\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":780,"wires":[["2570b6ae.80962a"]]},{"id":"2570b6ae.80962a","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"p.heading-xlarge","ret":"html","as":"single","x":1470,"y":780,"wires":[["9a17b028.8cff9"]]},{"id":"9a17b028.8cff9","type":"function","z":"2eb61c9e.90ad14","name":"Store info","func":"msg.infotoreturn.compname = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":860,"wires":[["9752ddb9.e6e5d"]]},{"id":"483da3ef.6db84c","type":"function","z":"2eb61c9e.90ad14","name":"store accounts and confirmation statement for future parsing","func":"msg.accounts = msg.payload[0];\nmsg.statementsexist = false;\nif (msg.payload.length == 2){\n    msg.statementsexist = true;\n    msg.confirmationstatements = msg.payload[1];\n}\ndelete msg['html'];\n\nmsg.payload = msg.accounts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":880,"wires":[["17960f8c.61548"]]},{"id":"17960f8c.61548","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"p","ret":"html","as":"single","x":1770,"y":940,"wires":[["1aa2a08a.f7a3cf"]]},{"id":"1aa2a08a.f7a3cf","type":"function","z":"2eb61c9e.90ad14","name":"process account info","func":"arrlen = msg.payload.length;\naccinfo = \"\";\nfor(var i=0; i<arrlen; i++){\n    msg.payload[i] = msg.payload[i].replace(/(\\r\\n|\\n|\\r)/gm, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<strong>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<\\/strong>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<br>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<br\\/>/g, \"\");\n    msg.payload[i] = msg.payload[i].split(/\\s+/).join(' ');\n    thisinfo = msg.payload[i].concat(\". \");\n    accinfo = accinfo.concat(thisinfo);\n}\nmsg.infotoreturn.acc = accinfo;\ndelete msg['accounts'];\nmsg.payload = msg.confirmationstatements;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":980,"wires":[["43160c9d.0233f4","7251ee3d.4d625"]]},{"id":"43160c9d.0233f4","type":"switch","z":"2eb61c9e.90ad14","name":"","property":"statementsexist","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2050,"y":960,"wires":[["7b51f046.4f8f4"]]},{"id":"7b51f046.4f8f4","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"p","ret":"html","as":"single","x":2190,"y":960,"wires":[["175ff25f.18c57e"]]},{"id":"175ff25f.18c57e","type":"function","z":"2eb61c9e.90ad14","name":"process statement info","func":"arrlen = msg.payload.length;\nstatementinfo = \"\";\nfor(var i=0; i<arrlen; i++){\n    msg.payload[i] = msg.payload[i].replace(/(\\r\\n|\\n|\\r)/gm, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<strong>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<\\/strong>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<br>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<br\\/>/g, \"\");\n    msg.payload[i] = msg.payload[i].split(/\\s+/).join(' ');\n    thisinfo = msg.payload[i].concat(\". \");\n    statementinfo = statementinfo.concat(thisinfo);\n}\nmsg.infotoreturn.statement = statementinfo;\ndelete msg['confirmationstatements'];\nmsg.overview = msg.infotoreturn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2280,"y":1000,"wires":[["afe7ca94.2d7d08"]]},{"id":"7251ee3d.4d625","type":"switch","z":"2eb61c9e.90ad14","name":"","property":"statementsexist","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":2040,"y":1040,"wires":[["9458e5e3.193d48"]]},{"id":"9458e5e3.193d48","type":"function","z":"2eb61c9e.90ad14","name":"Set payload","func":"msg.overview = msg.infotoreturn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2190,"y":1080,"wires":[["afe7ca94.2d7d08"]]},{"id":"afe7ca94.2d7d08","type":"function","z":"2eb61c9e.90ad14","name":"set url","func":"// check isalphanumeric\nif(!msg.topic.match(/^([0-9]|[a-z])+([0-9a-z]+)$/i)){\n    msg.payload = \"ERROR!\";\n    return msg;\n}\nmsg.url = \"https://beta.companieshouse.gov.uk/company/\" + msg.topic + \"/officers\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1280,"wires":[["c9e093e4.f5623"]]},{"id":"c9e093e4.f5623","type":"switch","z":"2eb61c9e.90ad14","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"53","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":1340,"wires":[["281a3a9d.128776"]]},{"id":"281a3a9d.128776","type":"http request","z":"2eb61c9e.90ad14","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":1220,"wires":[["66eeed72.7c56a4"]]},{"id":"afa68c9d.09039","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"div.appointments-list","ret":"html","as":"single","x":840,"y":1240,"wires":[["61a48c09.2792b4"]]},{"id":"f234dceb.1e1d5","type":"inject","z":"2eb61c9e.90ad14","name":"make request empty","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":170,"y":1020,"wires":[["6d90997.323ac68"]]},{"id":"97d4f994.f53928","type":"inject","z":"2eb61c9e.90ad14","name":"make request invalid","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"@@@","payload":"","payloadType":"date","x":210,"y":980,"wires":[["6d90997.323ac68"]]},{"id":"61a48c09.2792b4","type":"function","z":"2eb61c9e.90ad14","name":"set payload non array","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":1200,"wires":[["bfbbac93.d788a"]]},{"id":"bfbbac93.d788a","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"div","ret":"html","as":"single","x":990,"y":1280,"wires":[["3114e1ad.ff674e"]]},{"id":"66eeed72.7c56a4","type":"function","z":"2eb61c9e.90ad14","name":"init returnval + store html file","func":"msg.infotoreturn = {};\nmsg.infotoreturn.compnumber = msg.topic;\nmsg.html = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1260,"wires":[["ff61644c.6930c8"]]},{"id":"ff61644c.6930c8","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"p.heading-xlarge","ret":"html","as":"single","x":550,"y":1320,"wires":[["627eb3f8.806dac"]]},{"id":"627eb3f8.806dac","type":"function","z":"2eb61c9e.90ad14","name":"Store info","func":"msg.infotoreturn.compname = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1380,"wires":[["3894bb4b.ddb004"]]},{"id":"3894bb4b.ddb004","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"#company-appointments","ret":"html","as":"single","x":750,"y":1380,"wires":[["df18170c.054d78"]]},{"id":"df18170c.054d78","type":"function","z":"2eb61c9e.90ad14","name":"Store info","func":"msg.payload[0] = msg.payload[0].replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nmsg.payload[0] = msg.payload[0].split(/\\s+/).join(' ');\n\nmsg.infotoreturn.totalappts = msg.payload[0];\nmsg.payload = msg.html;\ndelete msg['html'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1380,"wires":[["afa68c9d.09039"]]},{"id":"3114e1ad.ff674e","type":"function","z":"2eb61c9e.90ad14","name":"get correct divs","func":"arrlen = msg.payload.length;\nnewpayload = [];\nfor(var i=0; i<arrlen; i++){\n    if(msg.payload[i].includes('h2')){\n        newpayload = newpayload.concat([msg.payload[i]]);\n    }\n}\nmsg.infotoreturn.people = [];\nmsg.currpayload = newpayload[0];\nmsg.payload = msg.currpayload;\nmsg.divstoparse = newpayload.slice(1);\nmsg.loopleft = newpayload.length;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1280,"wires":[["51828553.95e27c","caa63ac5.90d968"]]},{"id":"d0affa7d.7647a8","type":"html","z":"2eb61c9e.90ad14","name":"Get Name","property":"payload","outproperty":"payload","tag":"h2 span a","ret":"html","as":"single","x":1970,"y":1280,"wires":[["6895f5e7.f979ac"]]},{"id":"1781fc2.8571d04","type":"html","z":"2eb61c9e.90ad14","name":"Get info","property":"payload","outproperty":"payload","tag":"dl dd","ret":"html","as":"single","x":1620,"y":1300,"wires":[["f9895450.c428a8"]]},{"id":"f9895450.c428a8","type":"function","z":"2eb61c9e.90ad14","name":"Parse Info","func":"arrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    msg.thisguy[msg.thisguyfields[i]] = msg.payload[i];\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1770,"y":1300,"wires":[["d0affa7d.7647a8"]]},{"id":"51828553.95e27c","type":"switch","z":"2eb61c9e.90ad14","name":"Loop finished","property":"loopleft","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1420,"y":1220,"wires":[["80aabe7b.cb60c"]]},{"id":"caa63ac5.90d968","type":"switch","z":"2eb61c9e.90ad14","name":"Enter Loop","property":"loopleft","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":1280,"wires":[["9d291390.98066"]]},{"id":"6895f5e7.f979ac","type":"function","z":"2eb61c9e.90ad14","name":"Parse Info","func":"msg.thisguy.name = msg.payload[0];\nmsg.infotoreturn.people = msg.infotoreturn.people.concat([msg.thisguy]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":1280,"wires":[["d59910ef.7f848"]]},{"id":"d59910ef.7f848","type":"function","z":"2eb61c9e.90ad14","name":"Setup next loop","func":"delete msg['thisguy'];\ndelete msg['thisguyfields'];\nif (msg.divstoparse.length >0){\n    msg.currpayload = msg.divstoparse[0];\n    msg.payload = msg.currpayload;\n    msg.divstoparse = msg.divstoparse.slice(1);\n}\nmsg.loopleft--;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":1220,"wires":[["51828553.95e27c","caa63ac5.90d968"]]},{"id":"80aabe7b.cb60c","type":"function","z":"2eb61c9e.90ad14","name":"Setup returning values","func":"delete msg['currpayload'];\ndelete msg['divstoparse'];\ndelete msg['loopleft'];\nmsg.ppl = msg.infotoreturn;\ndelete msg['infotoreturn'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":1180,"wires":[["4a28e82.093bf18"]]},{"id":"9d291390.98066","type":"function","z":"2eb61c9e.90ad14","name":"setup return value","func":"msg.thisguy = {}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":1380,"wires":[["20ef507b.b8f79"]]},{"id":"20ef507b.b8f79","type":"html","z":"2eb61c9e.90ad14","name":"Get fields","property":"payload","outproperty":"payload","tag":"dl dt","ret":"html","as":"single","x":1840,"y":1380,"wires":[["64cb13b2.b5524c"]]},{"id":"64cb13b2.b5524c","type":"function","z":"2eb61c9e.90ad14","name":"Create fields","func":"msg.thisguyfields = msg.payload;\narrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    if (msg.payload[i].includes(\"Role\")){\n        msg.payload[i] = \"Role\";\n    }\n    msg.thisguy[msg.payload[i]] = \"\";\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2010,"y":1380,"wires":[["1781fc2.8571d04"]]},{"id":"4a28e82.093bf18","type":"function","z":"2eb61c9e.90ad14","name":"set url","func":"// check isalphanumeric\nif(!msg.topic.match(/^([0-9]|[a-z])+([0-9a-z]+)$/i)){\n    msg.payload = \"ERROR!\";\n    return msg;\n}\nmsg.url = \"https://beta.companieshouse.gov.uk/company/\" + msg.topic + \"/charges\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1620,"wires":[["9f607dcd.bd796"]]},{"id":"9f607dcd.bd796","type":"switch","z":"2eb61c9e.90ad14","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"52","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":1680,"wires":[["bda10fda.1b2a2"]]},{"id":"bda10fda.1b2a2","type":"http request","z":"2eb61c9e.90ad14","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":1560,"wires":[["af421d1b.57ba6"]]},{"id":"af421d1b.57ba6","type":"function","z":"2eb61c9e.90ad14","name":"init returnval + store html file","func":"msg.infotoreturn = {};\nmsg.infotoreturn.compnumber = msg.topic;\nmsg.html = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1600,"wires":[["fe2101a0.a1b1a","44d90bbc.e5d5c4"]]},{"id":"f07be5c5.4180c8","type":"function","z":"2eb61c9e.90ad14","name":"Store info","func":"msg.infotoreturn.compname = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1640,"wires":[["3035797e.4f3726"]]},{"id":"6ab7f46b.b18e2c","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"p.heading-xlarge","ret":"html","as":"single","x":1250,"y":1580,"wires":[["f07be5c5.4180c8"]]},{"id":"44d90bbc.e5d5c4","type":"switch","z":"2eb61c9e.90ad14","name":"No Charges","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":1660,"wires":[["f21f5e91.dbf43"]]},{"id":"fe2101a0.a1b1a","type":"switch","z":"2eb61c9e.90ad14","name":"Charges found","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":840,"y":1600,"wires":[["7c95d6e1.da8a08"]]},{"id":"f21f5e91.dbf43","type":"function","z":"2eb61c9e.90ad14","name":"Setup return value","func":"msg.infotoreturn.charges = \"NONE\";\n\nmsg.charges = msg.infotoreturn;\n\ndelete msg['html'];\ndelete msg['infotoreturn'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1700,"wires":[["ed4baf7e.a738a"]]},{"id":"7c95d6e1.da8a08","type":"function","z":"2eb61c9e.90ad14","name":"reset html","func":"msg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1600,"wires":[["6ab7f46b.b18e2c"]]},{"id":"3035797e.4f3726","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"#company-mortgages","ret":"html","as":"single","x":1520,"y":1560,"wires":[["e57aaf53.ced27"]]},{"id":"e57aaf53.ced27","type":"function","z":"2eb61c9e.90ad14","name":"Store info","func":"msg.infotoreturn.charges = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1620,"wires":[["1313d58d.a5be9a"]]},{"id":"1313d58d.a5be9a","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"#company-mortgages-breakdown","ret":"html","as":"single","x":1820,"y":1560,"wires":[["67860f24.76978"]]},{"id":"67860f24.76978","type":"function","z":"2eb61c9e.90ad14","name":"Store info","func":"msg.infotoreturn.chargesdetailed = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":1620,"wires":[["37f1f7bd.297958"]]},{"id":"8e4739f6.176ad8","type":"function","z":"2eb61c9e.90ad14","name":"return values","func":"delete msg['currpayload'];\ndelete msg['divstoparse'];\ndelete msg['loopleft'];\nmsg.charges = msg.infotoreturn;\ndelete msg['infotoreturn'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1780,"wires":[["ed4baf7e.a738a"]]},{"id":"37f1f7bd.297958","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"#mortgage-content div","ret":"html","as":"single","x":1840,"y":1720,"wires":[["33896715.4c61a8"]]},{"id":"33896715.4c61a8","type":"function","z":"2eb61c9e.90ad14","name":"get correct divs","func":"arrlen = msg.payload.length;\nnewpayload = [];\nfor(var i=0; i<arrlen; i++){\n    if(msg.payload[i].includes('h2')){\n        newpayload = newpayload.concat([msg.payload[i]]);\n    }\n}\nmsg.infotoreturn.chargelist = [];\nmsg.currpayload = newpayload[0];\nmsg.payload = msg.currpayload;\nmsg.divstoparse = newpayload.slice(1);\nmsg.loopleft = newpayload.length;\ndelete msg['html'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2160,"y":1700,"wires":[["cc149782.e5c7f8","3ec51876.3c50b8"]]},{"id":"3ec51876.3c50b8","type":"switch","z":"2eb61c9e.90ad14","name":"Enter Loop","property":"loopleft","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2410,"y":1740,"wires":[["98cebf7.b0adc4"]]},{"id":"cc149782.e5c7f8","type":"switch","z":"2eb61c9e.90ad14","name":"Loop finished","property":"loopleft","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2420,"y":1680,"wires":[["8e4739f6.176ad8"]]},{"id":"98cebf7.b0adc4","type":"function","z":"2eb61c9e.90ad14","name":"setup return value","func":"msg.thischarge = {}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2610,"y":1740,"wires":[["e36b5e4e.03168"]]},{"id":"e36b5e4e.03168","type":"html","z":"2eb61c9e.90ad14","name":"Get fields","property":"payload","outproperty":"payload","tag":"dl dt","ret":"html","as":"single","x":2780,"y":1740,"wires":[["ac4fca8d.a3c528"]]},{"id":"ac4fca8d.a3c528","type":"function","z":"2eb61c9e.90ad14","name":"Create fields","func":"msg.thischargefields = msg.payload;\narrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    if (msg.payload[i].includes(\"Role\")){\n        msg.payload[i] = \"Role\";\n    }\n    msg.thischarge[msg.payload[i]] = \"\";\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2930,"y":1720,"wires":[["21cf1ede.b58c22"]]},{"id":"21cf1ede.b58c22","type":"html","z":"2eb61c9e.90ad14","name":"Get info","property":"payload","outproperty":"payload","tag":"dl dd","ret":"html","as":"single","x":3000,"y":1800,"wires":[["d73570b5.948ee"]]},{"id":"d73570b5.948ee","type":"function","z":"2eb61c9e.90ad14","name":"Parse Info","func":"arrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    msg.thischarge[msg.thischargefields[i]] = msg.payload[i];\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3150,"y":1860,"wires":[["a605bca2.594d4"]]},{"id":"a605bca2.594d4","type":"html","z":"2eb61c9e.90ad14","name":"Get info","property":"payload","outproperty":"payload","tag":"div.text","ret":"html","as":"single","x":3360,"y":1840,"wires":[["9244a1c7.56662"]]},{"id":"9244a1c7.56662","type":"function","z":"2eb61c9e.90ad14","name":"Setup payload","func":"msg.currpayload = msg.payload[0];\ndelete msg['thischargefields'];\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3546.199951171875,"y":1844.4000244140625,"wires":[["8800b778.fb5f78"]]},{"id":"8800b778.fb5f78","type":"html","z":"2eb61c9e.90ad14","name":"Get fields","property":"payload","outproperty":"payload","tag":"h3","ret":"html","as":"single","x":3720,"y":1800,"wires":[["c23887b1.36ff88"]]},{"id":"c23887b1.36ff88","type":"function","z":"2eb61c9e.90ad14","name":"Create fields","func":"msg.thischargefields = msg.payload;\narrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    if (msg.payload[i].includes(\"Role\")){\n        msg.payload[i] = \"Role\";\n    }\n    msg.thischarge[msg.payload[i]] = \"\";\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3870,"y":1800,"wires":[["56151039.03f6a"]]},{"id":"56151039.03f6a","type":"html","z":"2eb61c9e.90ad14","name":"Get info","property":"payload","outproperty":"payload","tag":"li","ret":"html","as":"single","x":3880,"y":1860,"wires":[["c24784ad.126ab8"]]},{"id":"c24784ad.126ab8","type":"function","z":"2eb61c9e.90ad14","name":"Parse Info","func":"msg.thischarge[msg.thischargefields[0]] = msg.payload[0];\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4050,"y":1840,"wires":[["4bf811c0.09a65"]]},{"id":"4bf811c0.09a65","type":"html","z":"2eb61c9e.90ad14","name":"Get info","property":"payload","outproperty":"payload","tag":"p","ret":"html","as":"single","x":4100,"y":1900,"wires":[["a565725a.0fe19"]]},{"id":"a565725a.0fe19","type":"function","z":"2eb61c9e.90ad14","name":"Parse Info","func":"msg.thischarge[msg.thischargefields[1]] = msg.payload[0];\nmsg.infotoreturn.chargelist = msg.infotoreturn.chargelist.concat([msg.thischarge]);\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3773.800048828125,"y":1675.5999755859375,"wires":[["f764b633.fbe0a8"]]},{"id":"f764b633.fbe0a8","type":"function","z":"2eb61c9e.90ad14","name":"Setup next loop","func":"delete msg['thischarge'];\ndelete msg['thischargefields'];\nif (msg.divstoparse.length >0){\n    msg.currpayload = msg.divstoparse[0];\n    msg.payload = msg.currpayload;\n    msg.divstoparse = msg.divstoparse.slice(1);\n}\nmsg.loopleft--;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2680,"y":1680,"wires":[["cc149782.e5c7f8","3ec51876.3c50b8"]]},{"id":"ed4baf7e.a738a","type":"function","z":"2eb61c9e.90ad14","name":"set url","func":"// check isalphanumeric\nif(!msg.topic.match(/^([0-9]|[a-z])+([0-9a-z]+)$/i)){\n    msg.payload = \"ERROR!\";\n    return msg;\n}\nmsg.url = \"https://beta.companieshouse.gov.uk/company/\" + msg.topic + \"/filing-history\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1980,"wires":[["a764597a.ef35d8"]]},{"id":"a764597a.ef35d8","type":"switch","z":"2eb61c9e.90ad14","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"59","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":2040,"wires":[["9fa719ab.71ee08"]]},{"id":"9fa719ab.71ee08","type":"http request","z":"2eb61c9e.90ad14","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":1920,"wires":[["d4871dd8.b3fb7"]]},{"id":"d4871dd8.b3fb7","type":"function","z":"2eb61c9e.90ad14","name":"init returnval + store html file","func":"msg.infotoreturn = {};\nmsg.infotoreturn.compnumber = msg.topic;\nmsg.html = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1960,"wires":[["47ce7c1a.94ed14","aea0e67c.24fb28"]]},{"id":"47ce7c1a.94ed14","type":"switch","z":"2eb61c9e.90ad14","name":"Valid Page","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1960,"wires":[["cbfd9e45.5ae3d"]]},{"id":"aea0e67c.24fb28","type":"switch","z":"2eb61c9e.90ad14","name":"Invalid Page","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":2020,"wires":[["db8686a0.ec36d8"]]},{"id":"cbfd9e45.5ae3d","type":"function","z":"2eb61c9e.90ad14","name":"reset html","func":"msg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1960,"wires":[["dfbaaf75.f010f"]]},{"id":"dfbaaf75.f010f","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"p.heading-xlarge","ret":"html","as":"single","x":1390,"y":1940,"wires":[["545fb280.dcb38c"]]},{"id":"545fb280.dcb38c","type":"function","z":"2eb61c9e.90ad14","name":"Store info","func":"msg.infotoreturn.compname = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1470,"y":2000,"wires":[["8121c53a.5dede8"]]},{"id":"db8686a0.ec36d8","type":"function","z":"2eb61c9e.90ad14","name":"Setup return value","func":"msg.infotoreturn.files = \"NONE\";\n\nmsg.filestoret = msg.infotoreturn;\n\ndelete msg['html'];\ndelete msg['infotoreturn'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":2020,"wires":[["c648ca93.5d2a08"]]},{"id":"c648ca93.5d2a08","type":"debug","z":"2eb61c9e.90ad14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":2020,"wires":[]},{"id":"8121c53a.5dede8","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"#fhTable","ret":"html","as":"single","x":1620,"y":2040,"wires":[["952525a5.02ee08"]]},{"id":"952525a5.02ee08","type":"function","z":"2eb61c9e.90ad14","name":"","func":"msg.html = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":2040,"wires":[["7f08aed6.99802"]]},{"id":"7f08aed6.99802","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"tr","ret":"html","as":"single","x":1950,"y":2040,"wires":[["b64ff8b9.0dbd88"]]},{"id":"b64ff8b9.0dbd88","type":"function","z":"2eb61c9e.90ad14","name":"setup loop","func":"delete msg['html'];\nmsg.infotoreturn.filelist = [];\nmsg.loopleft = msg.payload.length - 1;\nmsg.currpayload = msg.payload[1];\nmsg.rowstoparse = msg.payload.slice(2);\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2110,"y":2060,"wires":[["e244a857.ebc1e8","7fec376d.d61ed8"]]},{"id":"7fec376d.d61ed8","type":"switch","z":"2eb61c9e.90ad14","name":"Enter Loop","property":"loopleft","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2330,"y":2100,"wires":[["5f243785.baa868"]]},{"id":"e244a857.ebc1e8","type":"switch","z":"2eb61c9e.90ad14","name":"Loop finished","property":"loopleft","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2350,"y":2000,"wires":[["411a7cfa.3b0be4"]]},{"id":"5f243785.baa868","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"td","ret":"html","as":"single","x":2510,"y":2120,"wires":[["5fc4bfc5.e938a"]]},{"id":"5fc4bfc5.e938a","type":"function","z":"2eb61c9e.90ad14","name":"Parse this file","func":"msg.thisfile = {}\nmsg.thisfile[\"Date\"] = msg.payload[0];\n\nthisdesc = msg.payload[2];\nthisdesc = thisdesc.split(\"<strong>\").join('');\nthisdesc = thisdesc.split(\"</strong>\").join('');\nthisdesc = thisdesc.replace(/<\\/?[^>]+(>|$)/g, \"\");\nmsg.thisfile[\"Description\"] = thisdesc;\n\n//tidyup just get url\nthislink = msg.payload[3];\nthislink = thislink.replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nthislink = thislink.split(/\\s+/).join(' ');\nthislink = thislink.split(\"\\\"\")[1];\nmsg.thisfile[\"Link\"] = \"https://beta.companieshouse.gov.uk\" + thislink;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2700,"y":2120,"wires":[["6260cec5.9e2cf"]]},{"id":"6260cec5.9e2cf","type":"function","z":"2eb61c9e.90ad14","name":"Setup next loop","func":"msg.infotoreturn.filelist = msg.infotoreturn.filelist.concat([msg.thisfile]);\n\ndelete msg['thisfile'];\nif (msg.rowstoparse.length >0){\n    msg.currpayload = msg.rowstoparse[0];\n    msg.payload = msg.currpayload;\n    msg.rowstoparse = msg.rowstoparse.slice(1);\n}\nmsg.loopleft--;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2560,"y":2060,"wires":[["7fec376d.d61ed8","e244a857.ebc1e8"]]},{"id":"411a7cfa.3b0be4","type":"function","z":"2eb61c9e.90ad14","name":"return values","func":"delete msg['currpayload'];\ndelete msg['rowstoparse'];\ndelete msg['loopleft'];\nmsg.filestoret = msg.infotoreturn;\ndelete msg['infotoreturn'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2530,"y":1980,"wires":[["ad28b996.1cee88"]]},{"id":"e1989d85.e2e38","type":"debug","z":"2eb61c9e.90ad14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3130,"y":1960,"wires":[]},{"id":"d9584ef3.dca79","type":"http in","z":"2eb61c9e.90ad14","name":"","url":"/retcompdetails","method":"post","upload":false,"swaggerDoc":"","x":200,"y":800,"wires":[["be95cf0c.eb6a8","dc16be79.5f185"]]},{"id":"be95cf0c.eb6a8","type":"function","z":"2eb61c9e.90ad14","name":"Set topic","func":"msg.topic = msg.payload.company;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":820,"wires":[["6d90997.323ac68"]]},{"id":"ad28b996.1cee88","type":"function","z":"2eb61c9e.90ad14","name":"setup payload","func":"msg.payload = {\"overview\": msg.overview, \"ppl\": msg.ppl, \"charges\": msg.charges, \"files\": msg.filestoret, \"statements\": msg.statementsexist};\ndelete msg['statementsexist'];\ndelete msg['overview'];\ndelete msg['ppl'];\ndelete msg['charges'];\ndelete msg['filestoret'];\ndelete msg['headers'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2780,"y":1960,"wires":[["e1989d85.e2e38","69bb38f4.a2d3f8"]]},{"id":"69bb38f4.a2d3f8","type":"template","z":"2eb61c9e.90ad14","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1985123_wwjfylz91uo.css\">\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n\t\t\tpadding-top: 40px;\n\t\t\ttext-align: center;\n        }\n\t\t\n\t\t.cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n\t\t\tbackground: white;\n\t\t\tborder-radius: 5px;\n\t\t\tmargin-left: 6px;\n\t\t\tmargin-top: 6px;\n\t\t\tmargin-bottom: 6px;\n        }\n\t\t\n\t\t.feature {\n\t\t\tmargin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n\t\t\tcolor: grey;\n\t\t\tfont-weight: bold;\n\t\t}\n\t\t\n\t\t.content {\n\t\t\tmargin-left: 20px;\n\t\t\tmargin-top: 10px;\n\t\t\tfloat: left;\n\t\t\twidth: 90%;\n\t\t\tcolor: black;\n\t\t\tfont-size: 160%; \n\t\t}\n\t\t\n\t\t.bottom {\n\t\t\tmargin-left: 20px;\n\t\t\tmargin-top: 8px;\n\t\t\tfloat: left:\n\t\t\t/*width: 90%;*/\n\t\t\tcolor: black;\n\t\t\tfont-size: 100%;\n\t\t\tfont-weight: light;\n\t\t\n\t\t}\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Company Information from CompanyHouse</div>\n\t\t\t\n\t\t\t<!-- row1 -->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-NameCard\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \t\n    \t\t\t\t\t<font class=\"feature\">Company Name</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<font class=\"content\" style=\"font-weight: bold;\">{{payload.overview.compname}}</font>\n    \t\t\t\t\t\n    \t\t\t\t\t\n    \t\t\t\t\t<div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 150px;\"></div>\n            \n    \t\t\t\t\t<div class=\"bottom\">\n    \t\t\t\t\t\t<font>Company Number:</font>\n    \t\t\t\t\t\t\t\n    \t\t\t\t\t\t<font style=\"margin-left: 20px;\">{{payload.overview.compnumber}}</font>\n    \t\t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t\n    \t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-SuiteCase\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \t\n    \t\t\t\t\t<font class=\"feature\">Nature of Business</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<font class=\"content\">{{payload.overview.natureofbiz}}</font>\n    \t\t\t\t\t\n    \t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Presentation\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n    \t\t\t\t\t<div class=\"feature\">Company Type</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<font class=\"content\"  style=\"font-weight: bold;\">{{payload.overview.companytype}}</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 150px;\"></div>\n            \n    \t\t\t\t\t<div class=\"bottom\">\n    \t\t\t\t\t\t<font>Company Status:</font>\n\n                            <i id=\"statusIcon\" class=\"iconfont icon-active\" style=\"margin-left: 20px; color: #51ea14; margin-top: 15px; \"></i>\n    \t\t\t\t\t\t\t\n    \t\t\t\t\t\t<font style=\"\">{{payload.overview.companystatus}}</font>\n    \t\t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t</div>\n\n                </div>\n\t\t\t\t\n            </div>\n\t\t\t\n\t\t\t<!-- row2 -->\n\t\t\t\n\t\t\t<div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n\t\t\t\t\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Building\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n    \t\t\t\t\t<div class=\"feature\">Registered Office Address</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<font class=\"content\" style=\"font-size: 120%;\">{{payload.overview.address}}</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 150px;\"></div>\n            \n    \t\t\t\t\t<div class=\"bottom\">\n    \t\t\t\t\t\t<font>Incorporate Date:</font>\n    \t\t\t\t\t\t\t\n    \t\t\t\t\t\t<font style=\"margin-left: 20px;\">{{payload.overview.incdate}}</font>\n    \t\t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Note\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n    \t\t\t\t\t<div id=\"statementTitle\" class=\"feature\">Statement</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<font id=\"statementContent\" class=\"content\" style=\"font-size: 110%;\">{{payload.overview.statement}}</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<!-- <font class=\"content\" style=\"font-size: 110%;\">Last statement dated 24 January 2020.</font> -->\n    \t\t\t\t\n    \t\t\t\t</div>\n\n                    <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Analyst\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Account</div>\n                        \n                        <font class=\"content\" style=\"font-size: 110%;\">{{payload.overview.acc}}</font>\n                        \n                        <!-- <font class=\"content\" style=\"font-size: 110%;\">Last accounts made up to 31 December 2018.</font> -->\n                        \n                    </div>\n\n                </div>\n\t\t\t\t\n            </div>\n\t\t\t\n\t\t\t<!-- row3 -->\n\t\t\t\n\t\t\t<div id=\"row3\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n\n    \t\t\t\t<div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Profit\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n    \t\t\t\t\t<div class=\"feature\">Charges</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<div style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px; margin-bottom: 10px;\">\n                            <font id=\"chargesTitle\">Total:</font>\n    \t\t\t\t\t    <font id=\"chargesContent\">{{payload.charges.charges}}</font>\n    \t\t\t\t\t</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<div id=\"chargesDetail\" style=\"float: left; width: 100%; margin-left: 20px;\">\n                            <font>Detail:</font>\n    \t\t\t\t\t    <font>{{payload.charges.chargesdetailed}}</font>\n    \t\t\t\t\t</div>\n\n                        <div id=\"chargesTable\" style=\"float: left; margin-left: 20px; margin-top: 15px; margin-bottom: 20px;\">\n                            <table class=\"gridtable\">\n                                <thead>\n                                    <tr>\n                                        <th width=\"150px;\">Created</th>\n                                        <th width=\"150px;\">Delivered</th>\n                                        <th width=\"150px;\">Status</th>\n                                        <th width=\"200px;\">Persons entitled</th>\n                                        <th width=\"250px;\">Brief Description</th>\n                                    </tr>\n\n                                </thead>\n\n                                <tbody>\n                                    {{#payload.charges.chargelist}}\n                                    <tr>\n                                        <td>{{Created}}</td>\n                                        <td>{{Delivered}}</td>\n                                        <td>{{Status}}</td>\n                                        <td>{{Persons entitled}}</td>\n                                        <td>{{Brief description}}</td>\n                                    </tr>\n                                    {{/payload.charges.chargelist}}\n                                </tbody>                           \n                            </table>\n                        </div>\n    \t\t\t\t</div>\n                </div>\n\t\t\t\n\t\t\t</div>\n\n            <!-- row4 -->\n\n            <div id=\"row4\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    \n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Meeting\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">People</div>\n                        \n                        <div style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px;\">\n                            <font>Total Appointments:</font>\n                            <font>{{payload.ppl.totalappts}}</font>\n                        </div>\n\n                        <div style=\"float: left; margin-left: 20px; margin-right: 20px; margin-top: 15px; margin-bottom: 20px;\">\n                            <table class=\"gridtable\">\n                                <thead>\n                                    <tr>\n                                        <th width=\"100px;\">Name</th>\n                                        <th width=\"80px;\">Occupation</th>\n                                        <th width=\"80px;\">Role</th>\n                                        <th width=\"100px;\">DOB</th>\n                                        <th width=\"250px;\">Address</th>\n                                        <th width=\"100px;\">Appointed on</th>\n                                        <th width=\"100px;\">Resigned on</th>\n                                        <th width=\"100px;\">Nationality</th>\n                                        <th width=\"100px;\">Residence</th>\n                                    </tr>\n\n                                </thead>\n\n                                <tbody>\n                                    {{#payload.ppl.people}}\n                                    <tr>\n                                        <td>{{name}}</td>\n                                        <td>{{Occupation}}</td>\n                                        <td>{{Role}}</td>\n                                        <td>{{Date of birth}}</td>\n                                        <td>{{Correspondence address}}</td>\n                                        <td>{{Appointed on}}</td>\n                                        <td>{{Resigned on}}</td>\n                                        <td>{{Nationality}}</td>\n                                        <td>{{Country of residence}}</td>\n                                    </tr>\n                                    {{/payload.ppl.people}}\n                                </tbody>                           \n                            </table>\n                        </div>\n                    \n                    </div>\n\n                </div>\n            \n            </div>\n\n            <!-- row5 -->\n            <div id=\"row5\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; margin-bottom: 30px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Computer\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Related Files</div>\n\n                        <div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 40px;\"></div>\n\n                        {{#payload.files.filelist}}\n                        \n                        <div style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px;\">\n\n                            <a href={{Link}} target=\"_blank\">{{{Description}}}</a>\n                        </div>\n\n                        <div style=\"width: 100%;\">\n\n                            <i class=\"iconfont icon-time\" style=\"margin-top: 4px; float: left; margin-left: 20px;\"></i>\n\n                            <font style=\"font-size: 10px; margin-left: 10px; margin-top: 9px; float: left;\">{{Date}}</font> \n                        </div>\n\n                        {{/payload.files.filelist}}\n                    \n                    </div>\n                </div>\n            \n            </div>\n\n\n\t\t\t\n        </div>\n\n\n\n        <script type=\"text/javascript\">\n        \n            if({{payload.statements}} == true) {\n                //document.getElementById('statusIcon').style.color = \"iconfont icon-active\";\n                document.getElementById('statementTitle').innerHTML = \"Statement\";\n                document.getElementById('statementContent').innerHTML = \"{{payload.overview.statement}}\";\n            }\n            else {\n                document.getElementById('statusIcon').style.color = \"red\";\n                document.getElementById('statementTitle').innerHTML = \"Dissolved Date\";\n                document.getElementById('statementContent').innerHTML = \"{{payload.overview.dissolvedate}}\";\n            }\n\n            \n            // if(\"{{statusCode}}\" == 404){\n            //     $('chargesTitle').val(\"\");\n            //     $('chargesContent').val(\"No charges found for Company.\");\n            //     document.getElementById('chargesTitle').innerHTML = \"\"\n            //     document.getElementById('chargesDetail').style.display = \"none\";\n            //     document.getElementById('chargesTable').style.display = \"none\";\n            // }\n            // else{\n            //     $('chargesTitle').val(\"Charges\");\n            //     $('chargesContent').val(payload.charges.charges);\n            // }\n            \n            if(\"{{payload.charges.charges}}\" == \"NONE\"){\n                document.getElementById('chargesTitle').innerHTML = \"\";\n                document.getElementById('chargesContent').innerHTML = \"No charges found for Company.\";\n                document.getElementById('chargesDetail').style.display = \"none\";\n                document.getElementById('chargesTable').style.display = \"none\";\n            }\n\n        </script>\n    </body>\n</html>","output":"str","x":3100,"y":2060,"wires":[["845e4482.16f118"]]},{"id":"845e4482.16f118","type":"http response","z":"2eb61c9e.90ad14","name":"","statusCode":"","headers":{},"x":3290,"y":2060,"wires":[]},{"id":"23f38b9d.090ee4","type":"watson-discovery-v1","z":"3bef7874.507c38","name":"Locations","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"nested(enriched_text.entities).filter(enriched_text.entities.type:Location).term(enriched_text.entities.text)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":560,"y":580,"wires":[["4bc1bbd9.8c8c74"]]},{"id":"4bc1bbd9.8c8c74","type":"function","z":"3bef7874.507c38","name":"","func":"let locations = [];\nmsg.search_results.aggregations[0].aggregations[0].aggregations[0].results.forEach(function(item, index, array) {\n  locations.push(item.key)\n});\nmsg.ui.locations = locations;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":580,"wires":[["52e9f967.03ce78"]]},{"id":"266c6d5.a71e692","type":"watson-discovery-v1","z":"3bef7874.507c38","name":"Risk","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"risk","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":250,"y":640,"wires":[["e3a41354.22f1"]]},{"id":"e3a41354.22f1","type":"function","z":"3bef7874.507c38","name":"","func":"let risks = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const risk = item.passage_text + ' ';\n  risks = risks.concat('', risk);\n})\n\nmsg.ui.risk = risks;\nmsg.payload = risks;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":640,"wires":[["9e406ddd.208f"]]},{"id":"52e9f967.03ce78","type":"watson-discovery-v1","z":"3bef7874.507c38","name":"VIP","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"nested(enriched_text.entities).filter(enriched_text.entities.type::Person).term(enriched_text.entities.text)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":890,"y":580,"wires":[["3900b0f0.78f57"]]},{"id":"3900b0f0.78f57","type":"function","z":"3bef7874.507c38","name":"","func":"let vip = [];\n\nmsg.search_results.aggregations[0].aggregations[0].aggregations[0].results.forEach(function(item, index, array) {\n    vip.push(item.key);\n})\n\nmsg.ui.vip = vip;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":580,"wires":[["266c6d5.a71e692"]]},{"id":"e536d271.75fb4","type":"watson-discovery-v1","z":"3bef7874.507c38","name":"Revenue This Year","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"revenue this year","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":270,"y":720,"wires":[["3d0bdbc3.3ea314"]]},{"id":"3d0bdbc3.3ea314","type":"function","z":"3bef7874.507c38","name":"","func":"let revenues = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const revenue = item.passage_text + ' ';\n  revenues = revenues.concat('', revenue);\n})\n\nmsg.ui.this_revenue = revenues;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":720,"wires":[["3be67dce.63ad72"]]},{"id":"d4fa3819.b9c138","type":"watson-discovery-v1","z":"3bef7874.507c38","name":"EPS This Year","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"earnings per share this year","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":240,"y":1060,"wires":[["7abce7e0.645768"]]},{"id":"41a91f51.6f676","type":"watson-discovery-v1","z":"3bef7874.507c38","name":"EPS Last Year","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"earnings per share last year","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":240,"y":1120,"wires":[["99c17d46.0f6f3"]]},{"id":"7abce7e0.645768","type":"function","z":"3bef7874.507c38","name":"","func":"let earnings = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const eps = item.passage_text + ' ';\n  earnings = earnings.concat('', eps);\n})\n\nmsg.ui.this_eps = earnings;\nmsg.payload = earnings;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1060,"wires":[["9874c113.976fd"]]},{"id":"99c17d46.0f6f3","type":"function","z":"3bef7874.507c38","name":"","func":"let earnings = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const eps = item.passage_text + ' ';\n  earnings = earnings.concat('', eps);\n})\n\nmsg.ui.last_eps = earnings;\nmsg.payload = earnings;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1120,"wires":[["25c673fb.c7f13c"]]},{"id":"d0f29667.4e0828","type":"template","z":"aa3add00.b2795","name":"try createnv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to create environments</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n         xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                document.getElementById(\"display\").innerHTML = \"ENVIRONMENT CREATED\";\n            }\n        }\n        \n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments?version=2019-04-30\";\n\n        xmlHttp.open(\"POST\", url);\n\n        xmlHttp.setRequestHeader(\"Content-Type\",\"application/json\");\n        \n        \n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        \n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));   \n        xmlHttp.send(JSON.stringify({\"name\":\"my_environment\",\"description\":\"My environment\"}));\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":480,"y":260,"wires":[["700a6e70.d4849"]]},{"id":"98da9ba4.39cdb8","type":"http in","z":"aa3add00.b2795","name":"","url":"/makeenv","method":"get","upload":false,"swaggerDoc":"","x":230,"y":260,"wires":[["d0f29667.4e0828"]]},{"id":"700a6e70.d4849","type":"http response","z":"aa3add00.b2795","name":"","statusCode":"","headers":{},"x":700,"y":260,"wires":[]},{"id":"f3b97636.e035a8","type":"template","z":"aa3add00.b2795","name":"try listenv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to list environments</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n        xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                result = xmlHttp.responseText;\n                document.getElementById(\"display\").innerHTML = result;\n            }\n        }\n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments?version=2019-04-30\";\n        \n        xmlHttp.open(\"GET\", url);\n        \n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        \n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));   \n        xmlHttp.send();\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":470,"y":160,"wires":[["f3882080.e9b98"]]},{"id":"405faf88.998c9","type":"http in","z":"aa3add00.b2795","name":"","url":"/listenv","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["f3b97636.e035a8"]]},{"id":"f3882080.e9b98","type":"http response","z":"aa3add00.b2795","name":"","statusCode":"","headers":{},"x":700,"y":160,"wires":[]},{"id":"a9233036.40aa9","type":"template","z":"aa3add00.b2795","name":"try listcoll","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to list collections</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n        xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                result = xmlHttp.responseText;\n                document.getElementById(\"display\").innerHTML = result;\n            }\n        }\n        \n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments/\" + \"placeholderenvid\" + \"/collections?version=2019-04-30\";\n               \n        xmlHttp.open(\"GET\", url);\n\n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        \n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));   \n        xmlHttp.send();\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":500,"y":600,"wires":[["a3249de3.28327"]]},{"id":"fb622f43.96c2e","type":"http in","z":"aa3add00.b2795","name":"","url":"/listcoll","method":"get","upload":false,"swaggerDoc":"","x":250,"y":600,"wires":[["a9233036.40aa9"]]},{"id":"a3249de3.28327","type":"http response","z":"aa3add00.b2795","name":"","statusCode":"","headers":{},"x":730,"y":600,"wires":[]},{"id":"9245ea3.bc5bb18","type":"template","z":"aa3add00.b2795","name":"try makecoll","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to create collection</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n         xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                document.getElementById(\"display\").innerHTML = \"Collection CREATED\";\n            }\n        }\n        \n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments/\" + \"placeholderenvid\" + \"/collections?version=2019-04-30\";\n        \n        xmlHttp.open(\"POST\", url);\n        xmlHttp.setRequestHeader(\"Content-Type\",\"application/json\");\n        \n        \n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));\n        \n        \n        // TODO - REPLACE placeholder below\n        var configid = \"placeholderconfigid\";\n        \n        xmlHttp.send(JSON.stringify({\"name\":\"test_collection\",\"description\":\"My testcoll\",\"configuration_id\":configid,\"language\":\"en\"}));\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":510,"y":480,"wires":[["12846ff5.b1c2a"]]},{"id":"e1c26697.a41f38","type":"http in","z":"aa3add00.b2795","name":"","url":"/makecoll","method":"get","upload":false,"swaggerDoc":"","x":250,"y":480,"wires":[["9245ea3.bc5bb18"]]},{"id":"12846ff5.b1c2a","type":"http response","z":"aa3add00.b2795","name":"","statusCode":"","headers":{},"x":730,"y":480,"wires":[]},{"id":"5ad05f53.d18ec","type":"template","z":"aa3add00.b2795","name":"try listconfigs","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to list configs</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n        xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                result = xmlHttp.responseText;\n                document.getElementById(\"display\").innerHTML = result;\n            }\n        }\n        \n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments/\" + \"placeholderenvid\" + \"/configurations?version=2019-04-30\";\n        \n        xmlHttp.open(\"GET\", url);\n\n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        \n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));   \n        xmlHttp.send();\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":490,"y":380,"wires":[["a060eedc.ac657"]]},{"id":"9496b5b9.f0ab88","type":"http in","z":"aa3add00.b2795","name":"","url":"/listconfigs","method":"get","upload":false,"swaggerDoc":"","x":240,"y":380,"wires":[["5ad05f53.d18ec"]]},{"id":"a060eedc.ac657","type":"http response","z":"aa3add00.b2795","name":"","statusCode":"","headers":{},"x":710,"y":380,"wires":[]},{"id":"95445343.cee09","type":"http in","z":"3bef7874.507c38","name":"","url":"/report","method":"get","upload":false,"swaggerDoc":"","x":210,"y":380,"wires":[["3b533b15.01bfe4"]]},{"id":"32c25610.9b1fea","type":"template","z":"3bef7874.507c38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1994741_yitk9l5cgp.css\">\n\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-base.min.js\"></script>\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js\"></script>\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n            padding-top: 40px;\n            text-align: center;\n        }\n        \n        .cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n            background: white;\n            border-radius: 5px;\n            margin-left: 6px;\n            margin-top: 6px;\n            margin-bottom: 6px;\n        }\n        \n        .feature {\n            margin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n            color: black;\n            font-weight: bold;\n        }\n        \n        .content {\n            margin-left: 20px;\n            margin-top: 10px;\n            float: left;\n            width: 90%;\n            color: black;\n            font-size: 160%; \n        }\n        \n        .bottom {\n            margin-left: 20px;\n            margin-top: 8px;\n            float: left:\n            /*width: 90%;*/\n            color: black;\n            font-size: 100%;\n            font-weight: light;\n        \n        }\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n        button {\n            border-radius: 30px;\n            border: 1px;\n            text-align: center;\n            font-size: 90%; \n            height: 28px;\n            margin-left: 10px;\n        }\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Annual Report Analysis Portal</div>\n            \n            <!-- row1: search suggestion-->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsearch\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <font class=\"feature\">Search Query</font>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left;\">\n\n                                <form action=\"/watsonhandler\" method=\"POST\" style=\"margin-top: 10px; float: left;\">\n\n                                    <font for=\"query\" style=\"font-size: 100%; margin-top: 10px; margin-left: 10px;\">Enter query:</font>\n\n                                    <input id=\"queryInput\" required=\"required\" type=\"text\" name=\"query\" style=\"width: 400px; height: 30px; margin-top: 6px; margin-left: 13px;\" placeholder=\"Please input the query you want to search ...\"/>\n\n                                    \n                                    <font for=\"searchScope\" style=\"margin-left: 40px;\" >Search Scope:</font>\n                                    <select id=\"searchScope\" name=\"searchScope\" style=\"width: 150px; margin-left: 10px;\">\n                                        <option value=\"Document\">Document</option>\n                                        <option value=\"News\">News</option>\n                                        <option value=\"Web\">Web</option>\n                                    </select>\n\n                                    <input type=\"submit\" value=\"Submit\" style=\"margin-left: 50px; width: 150px; height: 40px; text-align: center;\">\n\n                                </form>\n                                \n\n                            </div>\n\n                            <div id=\"searchSuggestion\" style=\"width: 100%; margin-left: 10px; margin-top: 20px; float: left;\">\n\n                                <button id=\"strategy\" style=\"width: 100px; background-color: #b8f1ed;\" onclick=\"ss_strategy()\">Strategy</button>\n\n                                <button id=\"innovation\" style=\"width: 110px; background-color: #b8f1ed;\" onclick=\"ss_innovation()\">Innovation</button>\n\n                                <button id=\"risk\" style=\"width: 120px; background-color: #b8f1ed;\" onclick=\"ss_risk()\">Risk Factors</button>\n\n                                <button id=\"investor\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_investor()\">Investor Proposition</button>\n\n                                <button id=\"sustainability\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_sustainability()\">Sustainability Issues</button>\n\n                                <button id=\"global\" style=\"width: 220px; background-color: #b8f1ed;\" onclick=\"ss_global()\">Global Market Performance</button>\n\n                            </div>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left; margin-top: 20px;\"></div>\n                    \n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row2 -->\n            \n            <div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n                \n                    <div class=\"cardBox\" style=\"height: 200px;  position: relative; left: -50%;\">\n\n                    <i class=\"iconfont iconjobtitle\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                    <div class=\"feature\">Title</div>\n                    \n                    <font class=\"content\" style=\"font-size: 120%;\">{{ui.title}}</font>\n                    \n                \n                    </div>\n                \n                    <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsmile\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Sentiment</div>\n                        \n                        <font class=\"content\" style=\"font-size: 120%; text-align: center; margin-bottom: 10px;\">{{ui.sentiment}}</font>\n\n                        <div style=\"width: 100%;\" align=\"center\">\n                            <img id=\"sentiment_img\" src=\"https://raw.githubusercontent.com/yamanXu/img/master/positive.png\" width=\"70px\" height=\"70px\" />\n                        </div>\n\n                        \n                    \n                    </div>\n\n                    <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconguanjianzhibiao\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Keywords</div>\n                        \n                        <div id=\"container\" style=\"width: 100%; height: 80%;\"></div>\n                            \n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row3 -->\n            \n            <div id=\"row3\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n\n                    <div class=\"cardBox\" style=\"height: 200px;  position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconBuilding\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Industry</div>\n\n                        <div class=\"content\" style=\"font-size: 100%; margin-left: 0px; margin-top: 0px;\">\n                            <ul id=\"industryList\"></ul>\n                        </div>\n                        \n                    \n                    </div>\n                    \n                    <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconpeople1\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">VIP</div>\n                        \n                        <div class=\"content\" style=\"font-size: 100%; margin-left: 0px; margin-top: 0px;\">\n                            <ul id=\"vipList\"></ul>\n                        </div>\n                    \n                    </div>\n\n                    {{!--<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">--}}\n\n                    {{!--    <i class=\"iconfont iconlocation\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>--}}\n\n                    {{!--    <div class=\"feature\">Location</div>--}}\n\n                    {{!--    <div style=\"width: 100%; margin-top: 20px; float: left;\" align=\"center\">--}}\n                    {{!--        <img src=\"https://raw.githubusercontent.com/yamanXu/img/master/map.png\" width=\"280px\" height=\"120px\" />--}}\n                    {{!--    </div>--}}\n                        \n                            \n                    {{!--</div>--}}\n                    \n                    <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconlocation\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Locations</div>\n                        \n                        <div id=\"container-loc\" style=\"width: 100%; height: 80%;\"></div>\n                            \n                    </div>\n                    \n                </div>\n            \n            </div>\n            \n            {{!--row 3.5--}}\n            <div id=\"row35\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    \n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n                        \n                        <div class=\"feature\" style=\"width: 27%\">Personality Insight Notations</div>\n                        \n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.analytical}};\">Analytical</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.anger}};\">Anger</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.confident}};\">Confident</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.fear}};\">Fear</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.joy}};\">Joy</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.sadness}};\">Sadness</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.tentative}};\">Tentative</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.na}};\">n/a</p>\n\n                    </div>\n                </div>\n            \n            </div>\n\n            <!-- row4 -->\n\n            <div id=\"row4\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    \n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%; background:{{ui.risk_sentiment}};\">\n                        \n                        <i class=\"iconfont iconrisk\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Risk</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.risk}}</p>\n\n                    </div>\n                </div>\n            \n            </div>\n\n            <!-- row5 -->\n            <div id=\"row5\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n\n                    <div id=\"revenue_this\" class=\"cardBox\" style=\"height: auto; width: 545px; position: relative; left: -50%; background:{{ui.this_revenue_sentiment}};\">\n\n                        <i class=\"iconfont iconmoney\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Revenue (current year)</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.this_revenue}}</p>\n                    \n                    </div>\n\n                    <div id=\"revenue_last\" class=\"cardBox\" style=\"height: auto; width: 545px; position: relative; left: -50%; background:{{ui.last_revenue_sentiment}}; \">\n\n                        <i class=\"iconfont iconmoney\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Revenue (previous year)</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.last_revenue}}</p>\n\n                    </div>\n\n\n                </div>\n            \n            </div>\n\n            <!-- row6 -->\n\n            <div id=\"row6\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n\n                    <div id=\"eps_this\" class=\"cardBox\" style=\"width:545px; height: auto; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icongupiao-zuhe\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Earnings per share (current year)</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.this_eps}}</p>\n                        \n                    </div>\n\n                    <div id=\"eps_last\" class=\"cardBox\" style=\"width:545px; height: auto; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icongupiao-zuhe\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Earnings per share (previous year)</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.last_eps}}</p>\n                    \n                    </div>\n                \n                </div>\n\n            </div>\n\n            <!-- row7 -->\n            <div id=\"row7\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    \n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%; background:{{ui.cash_flow_sentiment}};\">\n                        \n                        <i class=\"iconfont iconst-cash\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Cash Flow</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.cash_flow}}</p>\n\n                    </div>\n                </div>\n            \n            </div>\n\n            <!-- row8 -->\n\n            <div id=\"row8\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left; margin-bottom: 20px;\">\n                    \n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%; background:{{ui.finance_debt_sentiment}};\">\n                        \n                        <i class=\"iconfont iconzhaiquan\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Finance Debt</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.finance_debt}}</p>\n\n                    </div>\n                </div>\n            \n            </div>\n\n            \n        </div>\n\n\n\n        <script type=\"text/javascript\">\n            anychart.onDocumentReady(function() {\n                var data = [\n                    {x: \"{{ui.keyword.0}}\", value: 800000000},\n                    {x: \"{{ui.keyword.1}}\", value: 750000000},\n                    {x: \"{{ui.keyword.2}}\", value: 700000000},\n                    {x: \"{{ui.keyword.3}}\", value: 700000000},\n                    {x: \"{{ui.keyword.4}}\", value: 650000000},\n                    {x: \"{{ui.keyword.5}}\", value: 650000000},\n                    {x: \"{{ui.keyword.6}}\", value: 650000000},\n                    {x: \" \", value: 800}\n                ];\n                \n                let data_loc = [\n                    {x: \"{{ui.locations.0}}\", value: 800000000},\n                    {x: \"{{ui.locations.1}}\", value: 750000000},\n                    {x: \"{{ui.locations.2}}\", value: 700000000},\n                    {x: \"{{ui.locations.3}}\", value: 700000000},\n                    {x: \"{{ui.locations.4}}\", value: 650000000},\n                    {x: \"{{ui.locations.5}}\", value: 650000000},\n                    {x: \"{{ui.locations.6}}\", value: 650000000},\n                    {x: \" \", value: 800}\n                ];\n                \n                // create a tag (word) cloud chart\n                var chart = anychart.tagCloud(data);\n                \n                let chart_loc = anychart.tagCloud(data_loc);\n                // set a chart title\n                // chart.title('15 most spoken languages')\n                // set an array of angles at which the words will be laid out\n                chart.angles([0]);\n                \n                chart_loc.angles([0]);\n                // enable a color range\n                // chart.colorRange(true);\n                // set the color range length\n                // chart.colorRange().length('80%');\n                // display the word cloud chart\n                chart.container(\"container\");\n                chart.draw();\n                \n                chart_loc.container(\"container-loc\");\n                chart_loc.draw();\n            });\n\n            // industry\n\n            (function() {\n\n                var industry = document.getElementById('industryList');\n\n                var industry_html = '';\n\n                if (\"{{ui.industry.0}}\"){\n                    industry_html += '<li>' + \"{{ui.industry.0}}\" + '</li>';\n                }\n\n                if (\"{{ui.industry.1}}\"){\n                    industry_html += '<li>' + \"{{ui.industry.1}}\" + '</li>';\n                }\n\n                if (\"{{ui.industry.2}}\"){\n                    industry_html += '<li>' + \"{{ui.industry.2}}\" + '</li>';\n                }\n\n                if (\"{{ui.industry.3}}\"){\n                    industry_html += '<li>' + \"{{ui.industry.3}}\" + '</li>';\n                }\n\n                if (\"{{ui.industry.4}}\"){\n                    industry_html += '<li>' + \"{{ui.industry.4}}\" + '</li>';\n                }\n\n                if (\"{{ui.industry.5}}\"){\n                    industry_html += '<li>' + \"{{ui.industry.5}}\" + '</li>';\n                }\n                \n                industry.innerHTML = industry_html;\n\n            })();\n\n            // vip\n\n            (function() {\n\n                var vip = document.getElementById('vipList');\n\n                var vip_html = '';\n\n                if (\"{{ui.vip.0}}\"){\n                    vip_html += '<li>' + \"{{ui.vip.0}}\" + '</li>';\n                }\n\n                if (\"{{ui.vip.1}}\"){\n                    vip_html += '<li>' + \"{{ui.vip.1}}\" + '</li>';\n                }\n\n                if (\"{{ui.vip.2}}\"){\n                    vip_html += '<li>' + \"{{ui.vip.2}}\" + '</li>';\n                }\n\n                if (\"{{ui.vip.3}}\"){\n                    vip_html += '<li>' + \"{{ui.vip.3}}\" + '</li>';\n                }\n\n                if (\"{{ui.vip.4}}\"){\n                    vip_html += '<li>' + \"{{ui.vip.4}}\" + '</li>';\n                }\n\n                if (\"{{ui.vip.5}}\"){\n                    vip_html += '<li>' + \"{{ui.vip.5}}\" + '</li>';\n                }\n                \n                vip.innerHTML = vip_html;\n            \n            })();\n\n            // cardHeight\n\n            (function() {\n\n                var revenue_this_height = document.getElementById('revenue_this').offsetHeight;\n                var revenue_last_height = document.getElementById('revenue_last').offsetHeight;\n\n                if (revenue_this_height <= revenue_last_height) {\n                    document.getElementById('revenue_this').style.height = revenue_last_height + \"px\";\n                }\n                else{\n                    document.getElementById('revenue_last').style.height = revenue_this_height + \"px\";\n                }\n\n                var eps_this_height = document.getElementById('eps_this').offsetHeight;\n                var eps_last_height = document.getElementById('eps_last').offsetHeight;\n\n                if (eps_this_height <= eps_last_height) {\n                    document.getElementById('eps_this').style.height = eps_last_height + \"px\";\n                }\n                else{\n                    document.getElementById('eps_last').style.height = eps_this_height + \"px\";\n                }\n\n            })();\n\n            \n            function ss_strategy(){\n                document.getElementById('queryInput').value = document.getElementById('strategy').innerHTML;\n            }\n\n            function ss_innovation(){\n                document.getElementById('queryInput').value = document.getElementById('innovation').innerHTML;\n            }\n\n            function ss_risk(){\n                document.getElementById('queryInput').value = document.getElementById('risk').innerHTML;\n            }\n\n            function ss_investor(){\n                document.getElementById('queryInput').value = document.getElementById('investor').innerHTML;\n            }\n\n            function ss_sustainability(){\n                document.getElementById('queryInput').value = document.getElementById('sustainability').innerHTML;\n            }\n\n            function ss_global(){\n                document.getElementById('queryInput').value = document.getElementById('global').innerHTML;\n            }\n\n\n\n            (function() {\n\n                var sentiment = \"{{ui.sentiment}}\";\n\n                if (sentiment == \"positive\") {\n                    document.getElementById('sentiment_img').src = \"https://raw.githubusercontent.com/yamanXu/img/master/positive.png\";\n                }\n\n                if (sentiment == \"neutral\"){\n                    document.getElementById('sentiment_img').src = \"https://raw.githubusercontent.com/yamanXu/img/master/neutral.png\";\n                }\n\n                if (sentiment == \"negative\") {\n                    document.getElementById('sentiment_img').src = \"https://raw.githubusercontent.com/yamanXu/img/master/negative.png\"\n                }\n\n            })();\n            \n            \n            \n            \n\n\n\n            \n\n        </script>\n\n    </body>\n</html>","output":"str","x":680,"y":1220,"wires":[["49989fdc.f3fa1"]]},{"id":"49989fdc.f3fa1","type":"http response","z":"3bef7874.507c38","name":"","statusCode":"","headers":{},"x":850,"y":1220,"wires":[]},{"id":"111704d5.8aca6b","type":"template","z":"193ad77.9f3b929","name":"Search result for document","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1994741_yitk9l5cgp.css\">\n\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-base.min.js\"></script>\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js\"></script>\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n            padding-top: 40px;\n            text-align: center;\n        }\n        \n        .cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n            background: white;\n            border-radius: 5px;\n            margin-left: 6px;\n            margin-top: 6px;\n            margin-bottom: 6px;\n        }\n        \n        .feature {\n            margin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n            color: grey;\n            font-weight: bold;\n        }\n        \n        .content {\n            margin-left: 20px;\n            margin-top: 10px;\n            float: left;\n            width: 90%;\n            color: black;\n            font-size: 160%; \n        }\n        \n        .bottom {\n            margin-left: 20px;\n            margin-top: 8px;\n            float: left:\n            /*width: 90%;*/\n            color: black;\n            font-size: 100%;\n            font-weight: light;\n        \n        }\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n        button {\n            border-radius: 30px;\n            border: 1px;\n            text-align: center;\n            font-size: 90%; \n            height: 28px;\n            margin-left: 10px;\n        }\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Annual Report Analysis Portal</div>\n            \n            <!-- row1: search suggestion-->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsearch\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <font class=\"feature\">Search Query</font>\n\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left;\">\n\n                                <form action=\"/watsonhandler\" method=\"POST\" style=\"margin-top: 10px; float: left;\">\n\n                                    <font for=\"query\" style=\"font-size: 100%; margin-top: 10px; margin-left: 10px;\">Enter query:</font>\n\n                                    <input id=\"queryInput\" required=\"required\" type=\"text\" name=\"query\" style=\"width: 400px; height: 30px; margin-top: 6px; margin-left: 13px;\" placeholder=\"Please input the query you want to search ...\"/>\n\n                                    \n                                    <font for=\"searchScope\" style=\"margin-left: 40px;\" >Search Scope:</font>\n                                    <select id=\"searchScope\" name=\"searchScope\" style=\"width: 150px; margin-left: 10px;\">\n                                        <option value=\"Document\">Document</option>\n                                        <option value=\"News\">News</option>\n                                        <option value=\"Web\">Web</option>\n                                    </select>\n\n                                    <input type=\"submit\" value=\"Submit\" style=\"margin-left: 50px; width: 150px; height: 40px; text-align: center;\">\n\n                                </form>\n                                \n\n                            </div>\n\n                            <div id=\"searchSuggestion\" style=\"width: 100%; margin-left: 10px; margin-top: 20px; float: left;\">\n\n                                <button id=\"strategy\" style=\"width: 100px; background-color: #b8f1ed;\" onclick=\"ss_strategy()\">Strategy</button>\n\n                                <button id=\"innovation\" style=\"width: 110px; background-color: #b8f1ed;\" onclick=\"ss_innovation()\">Innovation</button>\n\n                                <button id=\"risk\" style=\"width: 120px; background-color: #b8f1ed;\" onclick=\"ss_risk()\">Risk Factors</button>\n\n                                <button id=\"investor\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_investor()\">Investor Proposition</button>\n\n                                <button id=\"sustainability\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_sustainability()\">Sustainability Issues</button>\n\n                                <button id=\"global\" style=\"width: 220px; background-color: #b8f1ed;\" onclick=\"ss_global()\">Global Market Performance</button>\n\n                            </div>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left; margin-top: 20px;\"></div>\n\n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row2 -->\n\n            <div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconjobtitle\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <div class=\"feature\">Relevant Paragraph</div>\n                    \n                        <font class=\"content\" style=\"font-size: 100%; margin-bottom: 20px;\">{{payload.result.0.passage_text}}</font>\n\n\n\n                    </div>\n\n\n                </div>\n                \n            </div>\n\n\n\n            \n        </div>\n\n\n\n        <script type=\"text/javascript\">\n        \n\n        </script>\n\n    </body>\n</html>","output":"str","x":1440,"y":1540,"wires":[["24e4fcf9.b1b264"]]},{"id":"24e4fcf9.b1b264","type":"http response","z":"193ad77.9f3b929","name":"","statusCode":"","headers":{},"x":1670,"y":1540,"wires":[]},{"id":"81547169.cdd2f","type":"template","z":"193ad77.9f3b929","name":"Search result for News","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1994741_yitk9l5cgp.css\">\n\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-base.min.js\"></script>\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js\"></script>\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n            padding-top: 40px;\n            text-align: center;\n        }\n        \n        .cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n            background: white;\n            border-radius: 5px;\n            margin-left: 6px;\n            margin-top: 6px;\n            margin-bottom: 6px;\n        }\n        \n        .feature {\n            margin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n            color: grey;\n            font-weight: bold;\n        }\n        \n        .content {\n            margin-left: 20px;\n            margin-top: 10px;\n            float: left;\n            width: 90%;\n            color: black;\n            font-size: 160%; \n        }\n        \n        .bottom {\n            margin-left: 20px;\n            margin-top: 8px;\n            float: left:\n            /*width: 90%;*/\n            color: black;\n            font-size: 100%;\n            font-weight: light;\n        \n        }\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n        button {\n            border-radius: 30px;\n            border: 1px;\n            text-align: center;\n            font-size: 90%; \n            height: 28px;\n            margin-left: 10px;\n        }\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Annual Report Analysis Portal</div>\n            \n            <!-- row1: search suggestion-->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsearch\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <font class=\"feature\">Search Query</font>\n\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left;\">\n\n                                <form action=\"/watsonhandler\" method=\"POST\" style=\"margin-top: 10px; float: left;\">\n\n                                    <font for=\"query\" style=\"font-size: 100%; margin-top: 10px; margin-left: 10px;\">Enter query:</font>\n\n                                    <input id=\"queryInput\" required=\"required\" type=\"text\" name=\"query\" style=\"width: 400px; height: 30px; margin-top: 6px; margin-left: 13px;\" placeholder=\"Please input the query you want to search ...\"/>\n\n                                    \n                                    <font for=\"searchScope\" style=\"margin-left: 40px;\" >Search Scope:</font>\n                                    <select id=\"searchScope\" name=\"searchScope\" style=\"width: 150px; margin-left: 10px;\">\n                                        <option value=\"Document\">Document</option>\n                                        <option value=\"News\" selected = \"selected\">News</option>\n                                        <option value=\"Web\">Web</option>\n                                    </select>\n\n                                    <input type=\"submit\" value=\"Submit\" style=\"margin-left: 50px; width: 150px; height: 40px; text-align: center;\">\n\n                                </form>\n                                \n\n                            </div>\n\n                            <div id=\"searchSuggestion\" style=\"width: 100%; margin-left: 10px; margin-top: 20px; float: left;\">\n\n                                <button id=\"strategy\" style=\"width: 100px; background-color: #b8f1ed;\" onclick=\"ss_strategy()\">Strategy</button>\n\n                                <button id=\"innovation\" style=\"width: 110px; background-color: #b8f1ed;\" onclick=\"ss_innovation()\">Innovation</button>\n\n                                <button id=\"risk\" style=\"width: 120px; background-color: #b8f1ed;\" onclick=\"ss_risk()\">Risk Factors</button>\n\n                                <button id=\"investor\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_investor()\">Investor Proposition</button>\n\n                                <button id=\"sustainability\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_sustainability()\">Sustainability Issues</button>\n\n                                <button id=\"global\" style=\"width: 220px; background-color: #b8f1ed;\" onclick=\"ss_global()\">Global Market Performance</button>\n\n                            </div>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left; margin-top: 20px;\"></div>\n\n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row2 -->\n\n            <div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconjobtitle\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <div class=\"feature\">Relevant Paragraph</div>\n                    \n                        <font class=\"content\" style=\"font-size: 100%; margin-bottom: 20px;\">{{{payload}}}</font>\n\n\n\n                    </div>\n\n\n                </div>\n                \n            </div>\n\n\n\n            \n        </div>\n\n\n\n        <script type=\"text/javascript\">\n    \n        \n\n        </script>\n\n    </body>\n</html>","output":"str","x":1180,"y":780,"wires":[["520875fd.54111c"]]},{"id":"3084d32b.3793ac","type":"http request","z":"193ad77.9f3b929","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://node-red-ucl-2020.eu-gb.mybluemix.net/chquerycompany","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":880,"wires":[["f712f448.5fbaf8"]]},{"id":"c4a056eb.1cb838","type":"debug","z":"193ad77.9f3b929","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":800,"wires":[]},{"id":"1799adc8.630a92","type":"function","z":"193ad77.9f3b929","name":"","func":"msg.payload.company = msg.queryParams.queryterm;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":880,"wires":[["3084d32b.3793ac"]]},{"id":"f712f448.5fbaf8","type":"http response","z":"193ad77.9f3b929","name":"","statusCode":"","headers":{},"x":1170,"y":880,"wires":[]},{"id":"dc16be79.5f185","type":"debug","z":"2eb61c9e.90ad14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":860,"wires":[]},{"id":"3f175828.e6f7f8","type":"inject","z":"193ad77.9f3b929","name":"Search risk for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"risk","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":530,"y":660,"wires":[["f53c9445.eaef28"]]},{"id":"5dfa1b7e.991f24","type":"debug","z":"193ad77.9f3b929","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":720,"wires":[]},{"id":"ca2af751.c4dfc8","type":"inject","z":"193ad77.9f3b929","name":"Search vip for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"vip","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":530,"y":620,"wires":[["f53c9445.eaef28"]]},{"id":"2e8c8d73.89c872","type":"inject","z":"193ad77.9f3b929","name":"Search keyword for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"keyword","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":580,"wires":[["f53c9445.eaef28"]]},{"id":"8c8de8d0.cb3368","type":"inject","z":"193ad77.9f3b929","name":"Search location for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"location","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":540,"wires":[[]]},{"id":"5295a3e1.d6991c","type":"inject","z":"193ad77.9f3b929","name":"Search debt for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"debt","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":500,"wires":[["f53c9445.eaef28"]]},{"id":"28002ded.081352","type":"inject","z":"193ad77.9f3b929","name":"Search revenue this year for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"revenue in this year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":420,"wires":[["f53c9445.eaef28"]]},{"id":"e867fb25.fc28d8","type":"inject","z":"193ad77.9f3b929","name":"Search revenue last year for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"revenue in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":380,"wires":[["f53c9445.eaef28"]]},{"id":"c61fb80d.29fdd8","type":"inject","z":"193ad77.9f3b929","name":"Search cash flow for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"cash flow","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":460,"wires":[["f53c9445.eaef28"]]},{"id":"79a4ecb0.3fcc24","type":"inject","z":"193ad77.9f3b929","name":"Search eps last year for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"earning per share in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":340,"wires":[[]]},{"id":"f25db89b.db0a38","type":"inject","z":"193ad77.9f3b929","name":"Search eps this year for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"earning per share in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":300,"wires":[["f53c9445.eaef28"]]},{"id":"cd34108d.cccee","type":"inject","z":"193ad77.9f3b929","name":"Search empty for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":260,"wires":[["f53c9445.eaef28"]]},{"id":"86296372.fb806","type":"inject","z":"193ad77.9f3b929","name":"Search invalid query for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"@@@","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":220,"wires":[["f53c9445.eaef28"]]},{"id":"9e2bbbaa.cfb038","type":"inject","z":"193ad77.9f3b929","name":"Search risk for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"location","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":1060,"wires":[["85cfee15.940e"]]},{"id":"90b5a511.de2e28","type":"inject","z":"193ad77.9f3b929","name":"Search vip for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"vip","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":1420,"wires":[["85cfee15.940e"]]},{"id":"b954056f.dae568","type":"inject","z":"193ad77.9f3b929","name":"Search keyword for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"keyword","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1380,"wires":[["85cfee15.940e"]]},{"id":"89f93140.a7129","type":"inject","z":"193ad77.9f3b929","name":"Search location for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"location","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1340,"wires":[["85cfee15.940e"]]},{"id":"cf5bc600.1e7778","type":"inject","z":"193ad77.9f3b929","name":"Search debt for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"debt","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":1300,"wires":[["85cfee15.940e"]]},{"id":"79a6347e.90210c","type":"inject","z":"193ad77.9f3b929","name":"Search revenue this year for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"revenue in this year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":1220,"wires":[["85cfee15.940e"]]},{"id":"a9481e3f.c2219","type":"inject","z":"193ad77.9f3b929","name":"Search revenue last year for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"revenue in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":1180,"wires":[["85cfee15.940e"]]},{"id":"18911a3.cd1e5e6","type":"inject","z":"193ad77.9f3b929","name":"Search cash flow for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"cash flow","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1260,"wires":[["85cfee15.940e"]]},{"id":"516061f3.f113b","type":"inject","z":"193ad77.9f3b929","name":"Search eps last year for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"earning per share in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":1140,"wires":[["85cfee15.940e"]]},{"id":"a000f1e2.3352b","type":"inject","z":"193ad77.9f3b929","name":"Search eps this year for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"earning per share in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":1100,"wires":[["85cfee15.940e"]]},{"id":"19e547d1.f17968","type":"inject","z":"193ad77.9f3b929","name":"Search empty for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1020,"wires":[["85cfee15.940e"]]},{"id":"69fa75a0.d5444c","type":"inject","z":"193ad77.9f3b929","name":"Search invalid query for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"@@@","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":980,"wires":[["85cfee15.940e"]]},{"id":"9e406ddd.208f","type":"watson-tone-analyzer-v3","z":"3bef7874.507c38","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":580,"y":640,"wires":[["4369b76a.644018"]]},{"id":"4369b76a.644018","type":"function","z":"3bef7874.507c38","name":"","func":"let max_score = 0;\nlet max_index = -1;\n\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.risk_sentiment = msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":640,"wires":[["e536d271.75fb4"]]},{"id":"3be67dce.63ad72","type":"watson-tone-analyzer-v3","z":"3bef7874.507c38","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":620,"y":720,"wires":[["fc119f09.40c22"]]},{"id":"fc119f09.40c22","type":"function","z":"3bef7874.507c38","name":"","func":"let max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.this_revenue_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":720,"wires":[["7cbc2a45.5002d4"]]},{"id":"b7e312e0.7144b","type":"watson-tone-analyzer-v3","z":"3bef7874.507c38","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":620,"y":820,"wires":[["ce2d3f0b.f1012"]]},{"id":"ce2d3f0b.f1012","type":"function","z":"3bef7874.507c38","name":"","func":"let max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.last_revenue_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":820,"wires":[["9a636a2a.e86168"]]},{"id":"4e5c47a1.226a98","type":"watson-tone-analyzer-v3","z":"3bef7874.507c38","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":600,"y":900,"wires":[["bc00b02b.690a4"]]},{"id":"bc00b02b.690a4","type":"function","z":"3bef7874.507c38","name":"","func":"// msg.ui.cash_flow_sentiment = msg.response.document_tone;\n\nlet max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.cash_flow_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":900,"wires":[["a93e963e.0c0ea8"]]},{"id":"f3569c02.20ce7","type":"watson-tone-analyzer-v3","z":"3bef7874.507c38","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":600,"y":980,"wires":[["770e6071.39c93"]]},{"id":"770e6071.39c93","type":"function","z":"3bef7874.507c38","name":"","func":"// msg.ui.finance_debt_sentiment = msg.response.document_tone;\n\nlet max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.finance_debt_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":980,"wires":[["d4fa3819.b9c138"]]},{"id":"66ed5bc6.04dda4","type":"function","z":"3bef7874.507c38","name":"","func":"// msg.ui.this_eps_sentiment = msg.response.document_tone;\n\nlet max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.this_eps_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1060,"wires":[["41a91f51.6f676"]]},{"id":"9874c113.976fd","type":"watson-tone-analyzer-v3","z":"3bef7874.507c38","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":580,"y":1060,"wires":[["66ed5bc6.04dda4"]]},{"id":"40c4057d.7afd7c","type":"function","z":"3bef7874.507c38","name":"","func":"// msg.ui.last_eps_sentiment = msg.response.document_tone;\n\nlet max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.last_eps_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1120,"wires":[["e4aab374.53307","32c25610.9b1fea"]]},{"id":"25c673fb.c7f13c","type":"watson-tone-analyzer-v3","z":"3bef7874.507c38","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":580,"y":1120,"wires":[["40c4057d.7afd7c"]]},{"id":"1395b2ee.1c580d","type":"inject","z":"2eb61c9e.90ad14","name":"make request without statements","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"09854375","payload":"","payloadType":"date","x":130,"y":1060,"wires":[["6d90997.323ac68"]]},{"id":"c3ba0fec.0ff19","type":"inject","z":"2eb61c9e.90ad14","name":"make request without charges","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"09678867","payload":"","payloadType":"date","x":140,"y":1100,"wires":[["6d90997.323ac68"]]},{"id":"187dbf91.8c57a","type":"inject","z":"2eb61c9e.90ad14","name":"make request valid","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"joe & the juice","payload":"","payloadType":"date","x":250,"y":420,"wires":[["c41952a2.62112"]]},{"id":"8d77b2ad.d366b","type":"http request","z":"2eb61c9e.90ad14","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":440,"wires":[["6bc76a0.9ea7a98"]]},{"id":"c41952a2.62112","type":"function","z":"2eb61c9e.90ad14","name":"set url","func":"msg.topic = msg.topic.split(\"%\").join(\"%25\");\nmsg.topic = msg.topic.split(\"+\").join(\"%2B\");\nrefinedquery = msg.topic.split(/\\s+/).join(\"+\");\n\n// refinedquery = encodeURIComponent(refinedquery);\n// error above due to spaces and + and other special characters\nrefinedquery = refinedquery.split(\"&\").join(\"%26\");\nrefinedquery = refinedquery.split(\"\\/\").join(\"%2F\");\nrefinedquery = refinedquery.split(\"\\\\\").join(\"%5C\");\nrefinedquery = refinedquery.split(\"!\").join(\"%21\");\nrefinedquery = refinedquery.split(\"\\'\").join(\"%27\");\nrefinedquery = refinedquery.split(\"\\(\").join(\"%28\");\nrefinedquery = refinedquery.split(\"\\)\").join(\"%29\");\nrefinedquery = refinedquery.split(\"#\").join(\"%23\");\nrefinedquery = refinedquery.split(\"$\").join(\"%24\");\nrefinedquery = refinedquery.split(\",\").join(\"%2C\");\n\n\nmsg.url = \"https://beta.companieshouse.gov.uk/search?q=\" + refinedquery;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":520,"wires":[["93658b00.62fbb8"]]},{"id":"6bc76a0.9ea7a98","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"ul.results-list","ret":"html","as":"single","x":590,"y":500,"wires":[["9d1c42ff.13245","98ce7cc.590808","b6b18644.8c20e8"]]},{"id":"5a493732.7e9b78","type":"comment","z":"2eb61c9e.90ad14","name":"Getting List of companies","info":"","x":310,"y":140,"wires":[]},{"id":"a129b9fc.1882b8","type":"html","z":"2eb61c9e.90ad14","name":"","property":"payload","outproperty":"payload","tag":"li.type-company","ret":"html","as":"single","x":1200,"y":520,"wires":[["5866f89c.169778"]]},{"id":"b4f8349f.7c9758","type":"debug","z":"2eb61c9e.90ad14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1670,"y":440,"wires":[]},{"id":"5866f89c.169778","type":"function","z":"2eb61c9e.90ad14","name":"Obtain Company Numbers and Names","func":"arrlen = msg.payload.length;\nallcompnumbers = []\nallcompnames = []\nfor(var i=0; i<arrlen; i++){\n    // Obtain Company Numbers\n    compnumbindex = msg.payload[i].indexOf(\"a href=\\\"\\/company\\/\");\n    if (compnumbindex != -1){\n        compnumbindex = compnumbindex + 17;\n        compnumber = msg.payload[i].substring(compnumbindex);\n        compnumber = compnumber.split(\"\\\"\")[0];\n        allcompnumbers = allcompnumbers.concat([compnumber]);\n    }\n    else {\n        msg.payload = \"COMPANY NUMBER ERRROR!\";\n        return msg;\n    } \n    // Obtain Company Names\n    compnameindex = msg.payload[i].indexOf(\"View company\");\n    if (compnameindex != -1){\n        compnameindex = compnameindex + 14;\n        compname = msg.payload[i].substring(compnameindex);\n        nameend = compname.indexOf(\"<\\/a>\");\n        if (nameend == -1){\n            msg.payload = \"COMPANY NAME ERRROR!\";\n            return msg;\n        }\n        compname = compname.substring(0, nameend);\n        \n        // check if <strong> is used\n        if (compname.includes(\"<strong>\")){\n            compname = compname.replace(\"<strong>\",'');\n            compname = compname.replace(\"</strong>\",'');\n        }\n        compname = compname.trim();\n        compname = compname.replace(/<\\/?[^>]+(>|$)/g, \"\");\n        allcompnames = allcompnames.concat([compname]);\n    }\n    else {\n        msg.payload = \"COMPANY NAME ERRROR!\";\n        return msg;\n    } \n    \n}\n// Map names to numbers\nmsg.compnumbers = allcompnumbers;\nmsg.compnames = allcompnames;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":400,"wires":[["ebc4ba3a.582fa8"]]},{"id":"93658b00.62fbb8","type":"switch","z":"2eb61c9e.90ad14","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"45","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":580,"wires":[["8d77b2ad.d366b"]]},{"id":"71219974.d3fbc8","type":"function","z":"2eb61c9e.90ad14","name":"Change payload to non-array","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":420,"wires":[["a129b9fc.1882b8"]]},{"id":"9d1c42ff.13245","type":"switch","z":"2eb61c9e.90ad14","name":"relevant results","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":460,"wires":[["71219974.d3fbc8"]]},{"id":"98ce7cc.590808","type":"switch","z":"2eb61c9e.90ad14","name":"No Relevant Results","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":540,"wires":[["e6d6e2b3.f0e23"]]},{"id":"b6b18644.8c20e8","type":"switch","z":"2eb61c9e.90ad14","name":"Too many results (ERROR)","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":600,"wires":[["6f6cda7e.a7c024"]]},{"id":"e6d6e2b3.f0e23","type":"debug","z":"2eb61c9e.90ad14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":540,"wires":[]},{"id":"6f6cda7e.a7c024","type":"debug","z":"2eb61c9e.90ad14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":600,"wires":[]},{"id":"4957af82.924f6","type":"inject","z":"2eb61c9e.90ad14","name":"make request no results","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"asjsajks","payload":"","payloadType":"date","x":240,"y":460,"wires":[["c41952a2.62112"]]},{"id":"27c72a04.d0d2b6","type":"inject","z":"2eb61c9e.90ad14","name":"make request empty","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":230,"y":500,"wires":[["c41952a2.62112"]]},{"id":"628e3818.da8778","type":"inject","z":"2eb61c9e.90ad14","name":"make request simple","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"facebook","payload":"","payloadType":"date","x":250,"y":380,"wires":[["c41952a2.62112"]]},{"id":"7ccdd873.8d03c8","type":"http in","z":"2eb61c9e.90ad14","name":"","url":"/chquerycompany","method":"post","upload":false,"swaggerDoc":"","x":290,"y":260,"wires":[["8a28e329.4bf01"]]},{"id":"8a28e329.4bf01","type":"function","z":"2eb61c9e.90ad14","name":"Set topic","func":"msg.topic = msg.payload.company;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":320,"wires":[["c41952a2.62112"]]},{"id":"ebc4ba3a.582fa8","type":"function","z":"2eb61c9e.90ad14","name":"Set payload","func":"msg.payload = [];\narrlen = msg.compnumbers.length;\nfor(var i=0; i<arrlen; i++){\n    thiscomp = {};\n    thiscomp['compname'] = msg.compnames[i];\n    thiscomp['compno'] = msg.compnumbers[i];\n    msg.payload[i]= thiscomp;\n}\ndelete msg['compnumbers'];\ndelete msg['compnames'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":440,"wires":[["b4f8349f.7c9758","72250cb2.269404"]]},{"id":"c12dff41.c1ff3","type":"http response","z":"2eb61c9e.90ad14","name":"","statusCode":"","headers":{},"x":1870,"y":340,"wires":[]},{"id":"72250cb2.269404","type":"template","z":"2eb61c9e.90ad14","name":"Search result for Web","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1994741_yitk9l5cgp.css\">\n\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-base.min.js\"></script>\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js\"></script>\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        .searchSubmit {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        .searchSubmit:focus {\n            border-color:#333;\n        }\n\n        .searchSubmit {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        .searchSubmit:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n            padding-top: 40px;\n            text-align: center;\n        }\n        \n        .cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n            background: white;\n            border-radius: 5px;\n            margin-left: 6px;\n            margin-top: 6px;\n            margin-bottom: 6px;\n        }\n        \n        .feature {\n            margin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n            color: grey;\n            font-weight: bold;\n        }\n        \n        .content {\n            margin-left: 20px;\n            margin-top: 10px;\n            float: left;\n            width: 90%;\n            color: black;\n            font-size: 160%; \n        }\n        \n        .bottom {\n            margin-left: 20px;\n            margin-top: 8px;\n            float: left:\n            /*width: 90%;*/\n            color: black;\n            font-size: 100%;\n            font-weight: light;\n        \n        }\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n        button {\n            border-radius: 30px;\n            border: 1px;\n            text-align: center;\n            font-size: 90%; \n            height: 28px;\n            margin-left: 10px;\n        }\n        \n        font.visible {visibility:visible}\n        font.invisible {display: none;}\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Annual Report Analysis Portal</div>\n            \n            <!-- row1: search suggestion-->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsearch\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <font class=\"feature\">Search Query</font>\n\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left;\">\n\n                                <form action=\"/watsonhandler\" method=\"POST\" style=\"margin-top: 10px; float: left;\">\n\n                                    <font for=\"query\" style=\"font-size: 100%; margin-top: 10px; margin-left: 10px;\">Enter query:</font>\n\n                                    <input id=\"queryInput\" required=\"required\" type=\"text\" name=\"query\" style=\"width: 400px; height: 30px; margin-top: 6px; margin-left: 13px;\" placeholder=\"Please input the query you want to search ...\"/>\n\n                                    \n                                    <font for=\"searchScope\" style=\"margin-left: 40px;\" >Search Scope:</font>\n                                    <select id=\"searchScope\" name=\"searchScope\" style=\"width: 150px; margin-left: 10px;\">\n                                        <option value=\"Document\">Document</option>\n                                        <option value=\"News\">News</option>\n                                        <option value=\"Web\" selected = \"selected\">Web</option>\n                                    </select>\n\n                                    <input id=\"searchSubmit\" type=\"submit\" value=\"Submit\" style=\"margin-left: 50px; width: 150px; height: 40px; text-align: center;\">\n\n                                </form>\n                                \n\n                            </div>\n\n                            <div id=\"searchSuggestion\" style=\"width: 100%; margin-left: 10px; margin-top: 20px; float: left;\">\n\n                                <button id=\"strategy\" style=\"width: 100px; background-color: #b8f1ed;\" onclick=\"ss_strategy()\">Strategy</button>\n\n                                <button id=\"innovation\" style=\"width: 110px; background-color: #b8f1ed;\" onclick=\"ss_innovation()\">Innovation</button>\n\n                                <button id=\"risk\" style=\"width: 120px; background-color: #b8f1ed;\" onclick=\"ss_risk()\">Risk Factors</button>\n\n                                <button id=\"investor\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_investor()\">Investor Proposition</button>\n\n                                <button id=\"sustainability\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_sustainability()\">Sustainability Issues</button>\n\n                                <button id=\"global\" style=\"width: 220px; background-color: #b8f1ed;\" onclick=\"ss_global()\">Global Market Performance</button>\n\n                            </div>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left; margin-top: 20px;\"></div>\n\n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row2 -->\n\n            <div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconjobtitle\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <div class=\"feature\">Company List</div>\n                    \n                        <div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 40px;\"></div>\n                        \n                        <font id=\"NoCompanyFound\" class=\"invisible\" style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px; margin-bottom: 20px;\">No Company Found</font>\n                        \n                        {{#payload}}\n\n                        <div style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px;\">\n                            \n                            \n\n                            <form action=\"/retcompdetails\" method=\"POST\">\n\n                                <font>[</font>\n\n                                <font>{{compno}}</font>\n\n                                <font>]</font>\n\n                                <font style=\"margin-left: 15px;\">{{{compname}}}</font>\n                                \n                                <input type=\"hidden\" name=\"company\" value={{compno}} />\n\n                                <input type=\"submit\" value=\"see more\" style=\"margin-left: 15px;\">\n                        \n                            </form>\n\n                        </div>\n\n                        {{/payload}}\n                        \n                    </div>\n\n\n                </div>\n                \n            </div>\n            \n        </div>\n\n        <script type=\"text/javascript\">\n        \n            if(\"{{payload}}\" == \"\"){\n                \n                document.getElementById(\"NoCompanyFound\").className = 'visible';\n                \n            }\n        \n\n        </script>\n\n    </body>\n</html>","output":"str","x":1700,"y":340,"wires":[["c12dff41.c1ff3"]]},{"id":"5c3a9bdf.0828c4","type":"comment","z":"aa3add00.b2795","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":120,"wires":[]},{"id":"d22463f8.a5a2b","type":"comment","z":"aa3add00.b2795","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":220,"wires":[]},{"id":"9b2e262a.c60438","type":"comment","z":"aa3add00.b2795","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":340,"wires":[]},{"id":"f292c377.3eb14","type":"comment","z":"aa3add00.b2795","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":440,"wires":[]},{"id":"ea3e9d07.1a5ad","type":"comment","z":"aa3add00.b2795","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":560,"wires":[]},{"id":"bd92827.df1b48","type":"comment","z":"ab752122.685d1","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":440,"y":220,"wires":[]},{"id":"d5dd6268.9f721","type":"comment","z":"ab752122.685d1","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":1260,"y":100,"wires":[]},{"id":"ba4e8ac8.db10d8","type":"comment","z":"ab752122.685d1","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":1240,"y":240,"wires":[]},{"id":"97a6d7f0.d26a88","type":"comment","z":"ab752122.685d1","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":780,"y":440,"wires":[]},{"id":"35a0c5e.613553a","type":"comment","z":"193ad77.9f3b929","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":1080,"y":620,"wires":[]},{"id":"4b2cebc0.55c7e4","type":"comment","z":"193ad77.9f3b929","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":660,"y":1120,"wires":[]},{"id":"97dcd1bf.bc481","type":"comment","z":"193ad77.9f3b929","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":680,"y":1280,"wires":[]},{"id":"40adf139.7a9cd","type":"comment","z":"193ad77.9f3b929","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":1120,"y":1340,"wires":[]},{"id":"37ae89c2.87d746","type":"comment","z":"3bef7874.507c38","name":"REPLACE PLACEHOLDERS IN ALL DISCOVERY NODE (DARK ORANGE) AND INSIGHTS NODE (BLUE) BELOW","info":"","x":670,"y":200,"wires":[]},{"id":"3dc36896.429458","type":"comment","z":"3bef7874.507c38","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":520,"y":420,"wires":[]},{"id":"8544fb1e.ccf9e8","type":"comment","z":"3bef7874.507c38","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":460,"y":40,"wires":[]}]