final_flow.json
[{"id":"cccbf411.fc2fb8","type":"tab","label":"Main App","disabled":false,"info":""},{"id":"fdcf4ad6.f8ad68","type":"tab","label":"Search Query","disabled":false,"info":""},{"id":"e1c2d824.343838","type":"tab","label":"Delete Collection Daily","disabled":false,"info":""},{"id":"77f87c18.6f5a54","type":"tab","label":"Webscrape combine","disabled":false,"info":""},{"id":"e02bd2c4.012e9","type":"tab","label":"Debug Tools","disabled":false,"info":""},{"id":"8d0ab4b9.f34d08","type":"ui_group","z":"","name":"Upload New Report","tab":"6121bea0.89a0c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e257be3f.a4d7a","type":"ui_tab","z":"","name":"Company Report Analysis Portal","icon":"dashboard","disabled":false,"hidden":false},{"id":"5dbd66e6.240d4","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#006ac7","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#006ac7","edited":true},"page-titlebar-backgroundColor":{"value":"#0071b8","edited":true},"page-backgroundColor":{"value":"#e6e6e6","edited":true},"page-sidebar-backgroundColor":{"value":"#dedede","edited":true},"group-textColor":{"value":"#005dd6","edited":true},"group-borderColor":{"value":"#e6e6e6","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#8a8a8a","edited":true},"widget-backgroundColor":{"value":"#0062d1","edited":true},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5c338119.8a731","type":"ui_group","z":"","name":"Revenue","tab":"e257be3f.a4d7a","order":2,"disp":false,"width":"6","collapse":false},{"id":"b38e716e.2afd6","type":"ui_group","z":"","name":"Gross Profit","tab":"e257be3f.a4d7a","order":3,"disp":false,"width":"6","collapse":false},{"id":"6386cf0c.28204","type":"ui_group","z":"","name":"ReUpload","tab":"e257be3f.a4d7a","order":4,"disp":false,"width":"4","collapse":false},{"id":"6121bea0.89a0c","type":"ui_tab","z":"","name":"UploadTab","icon":"dashboard","disabled":false,"hidden":false},{"id":"b4112f94.31233","type":"ui_group","z":"","name":"Title","tab":"e257be3f.a4d7a","order":4,"disp":false,"width":"6","collapse":false},{"id":"14c2b68.c8c174a","type":"ui_group","z":"","name":"Cash Flow","tab":"e257be3f.a4d7a","order":5,"disp":false,"width":"6","collapse":false},{"id":"62dd64f2.95739c","type":"ui_group","z":"","name":"Search Query","tab":"fed25345.fd246","order":6,"disp":false,"width":"8","collapse":false},{"id":"fed25345.fd246","type":"ui_tab","z":"","name":"Search Query","icon":"dashboard","disabled":false,"hidden":false},{"id":"8f8fafdf.fcbaa","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"e6306c20.7e522","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"8056d446.ba1118","type":"ui_group","z":"","name":"Keywords","tab":"e257be3f.a4d7a","order":6,"disp":false,"width":"6","collapse":false},{"id":"d4617d4b.6943c","type":"ui_group","z":"","name":"Finance Debt","tab":"e257be3f.a4d7a","order":7,"disp":false,"width":"6","collapse":false},{"id":"d0cd1b0c.5eaae8","type":"ui_group","z":"","name":"Sentiment","tab":"e257be3f.a4d7a","order":8,"disp":true,"width":"6","collapse":false},{"id":"3e0fb64c.a2229a","type":"ui_group","z":"","name":"Metadata","tab":"e257be3f.a4d7a","order":9,"disp":false,"width":"6","collapse":false},{"id":"c94e5300.f00d1","type":"inject","z":"e1c2d824.343838","name":"Repeated flush discovery","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["2fbe1379.f51a3c"]]},{"id":"6994bcfd.cae4d4","type":"function","z":"e1c2d824.343838","name":"Set coll id to del","func":"currcollection = msg.collections[msg.currindex].collection_id\nmsg.discoveryparams = {}\nmsg.discoveryparams.collectionId = currcollection\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":180,"wires":[["7862773a.72f058"]]},{"id":"624c0e88.67ea","type":"switch","z":"e1c2d824.343838","name":"","property":"currindex","propertyType":"msg","rules":[{"t":"lt","v":"numcollections","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":180,"wires":[["6994bcfd.cae4d4"]]},{"id":"2a1b213.ef697de","type":"function","z":"e1c2d824.343838","name":"init loop","func":"msg.numcollections = msg.collections.length\nmsg.currindex = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":100,"wires":[["624c0e88.67ea","d875c917.1693b8"]]},{"id":"10879ce1.c39863","type":"function","z":"e1c2d824.343838","name":"Loop","func":"msg.currindex = parseInt(msg.currindex) + 1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":300,"wires":[["624c0e88.67ea","4385f8a4.043888"]]},{"id":"4385f8a4.043888","type":"debug","z":"e1c2d824.343838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":300,"wires":[]},{"id":"d875c917.1693b8","type":"debug","z":"e1c2d824.343838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":100,"wires":[]},{"id":"e80df635.bb7dc8","type":"template","z":"cccbf411.fc2fb8","name":"upload doc automation synchronously","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<title>Financial Analyser</title>\n\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n\n<style>\n    body,\n    h1 {\n        font-family: \"Raleway\", sans-serif;\n    }\n\n    body,\n    html {\n        height: 100%\n    }\n\n    .bgimg {\n        background-image: radial-gradient(#39435c, #272f3f);\n        ;\n        min-height: 100%;\n        background-position: center;\n        background-size: cover;\n    }\n\n    input[type=text] {\n        padding: 5px;\n        border: 2px solid #ccc;\n        border-radius: 5px;\n        width: 100%;\n        text-align: center\n    }\n\n    input[type=text]:focus {\n        border-color: #333;\n    }\n\n    input[type=submit] {\n        padding: 1rem;\n        font-size: 1rem;\n        padding: .5rem 3rem;\n        color: black;\n        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n        border: solid 3px transparent;\n        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n        background-origin: border-box;\n        background-clip: content-box, border-box;\n        box-shadow: 2px 1000px 1px #fff inset;\n        width: 30%;\n\n    }\n\n    input[type=submit]:hover {\n        box-shadow: none;\n        color: white;\n    }\n\n    .chooseFile {\n        cursor: pointer;\n        padding: 1rem;\n        font-size: 1rem;\n        padding: .5rem 3rem;\n        color: grey;\n        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n        border: solid 3px transparent;\n        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n        background-origin: border-box;\n        background-clip: content-box, border-box;\n        box-shadow: 2px 1000px 1px #fff inset;\n        display: inline-block;\n        width: 69%;\n\n    }\n\n    label:hover {\n        box-shadow: none;\n        color: white;\n    }\n\n    .topTxt {\n        width: 100%;\n        text-align: center;\n        font-size: 18px;\n    }\n</style>\n\n\n<body>\n    <div class=\"bgimg w3-display-container w3-animate-opacity w3-text-white\">\n        <div class=\"topTxt\">\n            Upload a financial report (PDF) to analyse and we'll help you decide which business is worth your time\n        </div>\n        <div class=\"w3-display-middle\" style=\"width: 40%\">\n            <h1 class=\"w3-jumbo w3-animate-top\" style=\"text-align: center\">Upload Document</h1>\n            <hr class=\"w3-border-grey\" style=\"margin:auto;width:100%\">\n            <p class=\"w3-large w3-center\"></p>\n            <div class=\"w3-large w3-center\">\n                <form>\n                    <!--\n                        <label for=\"API Key\">API Key:</label>\n                        <input id=\"API Key\" type=\"text\" name=\"apikey\" value=\"\"><br><br>\n                        <label for=\"Endpoint\">Discovery URL:</label>\n                        <input id=\"Endpoint\" type=\"text\" name=\"endpt\" value=\"\"><br><br>\n                        -->\n\n                    <input id=\"Collname\" type=\"text\" name=\"collname\" value=\"\"\n                        placeholder=\"Enter Collection Name...\"><br><br>\n                </form>\n\n\n                <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js\"></script>\n\n                <label for=\"filehere\" class=\"chooseFile\"><i class=\"fa fa-cloud-upload\"></i>Choose File (.pdf)</label>\n                <input id=\"filehere\" type=\"file\" name='uploadedFile' style=\"display:none;\" accept=\".pdf\">\n\n\n                <input type=\"submit\" value=\"Analyse\" onclick=\"submit()\">\n            </div>\n\n\n\n            <p id=\"displaystatus\"></p>\n            <p id=\"displayout\"></p>\n            <p id=\"displayerr\"></p>\n        </div>\n    </div>\n\n\n\n\n    <script type=\"text/javascript\">\n        function config_inst(config) {\n            let conf_id;\n\n            // TODO - Replace values with your own values\n            switch (config) {\n                case \"URL\":\n                    conf_id = \"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818\";\n                    break;\n                case \"API key\":\n                    conf_id = \"7yxMIsskaa-37KuIyF9Upmel9tYcDQLP8o3obPS6fnRE\";\n                    break;\n                case \"Configuration ID\":\n                    conf_id = \"464dc63f-d900-41f4-a81c-0d5b5c322ce4\";\n                    break;\n                case \"Environment ID\":\n                    conf_id = \"3ebb474b-e06e-4445-9166-26c3e284f375\";\n                    break;\n                default:\n                    conf_id = \"\"\n            }\n\n            return conf_id;\n        }\n\n        // Submit request\n        function submit() {\n\n            // TODO - Replace noderedinst with your own instance\n            var noderedinst = \"https://node-red-ucl-2020.eu-gb.mybluemix.net\";\n            var nextendpt = \"/beginprocessing\";\n\n            let hardcodedapikey = config_inst(\"API key\");\n            let hardcodedurl = config_inst(\"URL\");\n            let hardcodedenvid = config_inst(\"Environment ID\");\n            let hardcodedconfigid = config_inst(\"Configuration ID\");\n\n            var envid = hardcodedenvid;\n            var configid = hardcodedconfigid;\n            var endpt = hardcodedurl;\n            var apikey = hardcodedapikey;\n            // var endpt = document.getElementById('Endpoint').value;\n            // var apikey = document.getElementById('API Key').value;\n            var collname = document.getElementById('Collname').value;\n            if (collname == \"\") {\n                collname = \"newcollection\";\n            }\n            var apikeyentry = \"apikey:\" + apikey;\n\n            document.getElementById('displaystatus').innerHTML = \"Checking collections\";\n\n            collections = listcoll(endpt, envid, apikeyentry);\n            document.getElementById('displaystatus').innerHTML = \"Collections checked\";\n            var collobj = JSON.parse(collections);\n            numcolls = (collobj.collections).length;\n\n            var collid = \"\";\n\n            if (numcolls == 0) {\n                // create collection\n                createcoll(configid, endpt, envid, collname, apikeyentry);\n                // get collid\n                newcollections = listcoll(endpt, envid, apikeyentry);\n                newcollobj = JSON.parse(newcollections);\n                collid = JSON.stringify(newcollobj.collections[0].collection_id);\n            } else if (numcolls == 1) {\n                collid = JSON.stringify(collobj.collections[0].collection_id);\n            } else {\n                // throw error?\n                document.getElementById('displayerr').innerHTML = \"Multiple Collections Error\";\n            }\n            collid = collid.slice(1, -1);\n            document.getElementById('displaystatus').innerHTML = \"Obtained collection ID\";\n            uploaddoc(endpt, envid, collid, apikeyentry);\n            document.getElementById('displaystatus').innerHTML = \"Your file is being processed. Please wait. Alternatively, visit https://node-red-ucl-2020.eu-gb.mybluemix.net/ui sometime later. Thanks!\";\n\n            docuploadedwaiting = true;\n\n            while (docuploadedwaiting) {\n\n                colldeets = checkColl(endpt, envid, collid, apikeyentry);\n                var collinfo = JSON.parse(colldeets);\n                if (collinfo.document_counts.processing == 0) {\n                    if (collinfo.document_counts.available > 0) {\n                        docuploadedwaiting = false;\n                    }\n                    else if (collinfo.document_counts.available > 0 && collinfo.document_counts.failed > 0) {\n                        document.getElementById('displayerr').innerHTML = \"FILE UPLOAD FAILED\";\n                        return;\n                    }\n                }\n            }\n            updatedb(noderedinst, collid);\n            var redirectto = noderedinst + nextendpt;\n            window.location.replace(redirectto);\n\n        }\n\n        // List Discovery collection\n        function listcoll(endpt, envid, apikeyentry) {\n            var xmlHttp = new XMLHttpRequest();\n            thisurl = endpt + \"/v1/environments/\" + envid + \"/collections?version=2019-04-30\"\n            xmlHttp.open(\"GET\", thisurl, false);\n            xmlHttp.setRequestHeader(\"Authorization\", \"Basic \" + btoa(apikeyentry));\n            xmlHttp.send();\n            return xmlHttp.responseText\n        }\n\n        // Create Discovery collection\n        function createcoll(configid, endpt, envid, collname, apikeyentry) {\n            var xmlHttp = new XMLHttpRequest();\n            thisurl = endpt + \"/v1/environments/\" + envid + \"/collections?version=2019-04-30\";\n            xmlHttp.open(\"POST\", thisurl, false);\n            xmlHttp.setRequestHeader(\"Content-Type\", \"application/json\");\n            xmlHttp.setRequestHeader(\"Authorization\", \"Basic \" + btoa(apikeyentry));\n            xmlHttp.send(JSON.stringify({ \"name\": collname, \"description\": \"My collection\", \"configuration_id\": configid, \"language\": \"en\" }));\n            return xmlHttp.responseText;\n        }\n\n        // Upload document\n        function uploaddoc(endpt, envid, collid, apikeyentry) {\n            var xmlHttp = new XMLHttpRequest();\n\n            var urlendpt = endpt + \"/v1/environments/\" + envid + \"/collections/\" + collid + \"/documents?version=2019-04-30\";\n\n            xmlHttp.open(\"POST\", urlendpt, false);\n            xmlHttp.setRequestHeader(\"Authorization\", \"Basic \" + btoa(apikeyentry));\n\n            var fileInput = document.getElementById('filehere');\n            var file = fileInput.files[0];\n            var formData = new FormData();\n            formData.append(\"file\", file);\n\n            xmlHttp.send(formData);\n            return xmlHttp.responseText;\n        }\n\n        // Check collection\n        function checkColl(endpt, envid, collid, apikeyentry) {\n            var xmlHttp = new XMLHttpRequest();\n            thisurl = endpt + \"/v1/environments/\" + envid + \"/collections/\" + collid + \"?version=2019-04-30\";\n            xmlHttp.open(\"GET\", thisurl, false);\n            xmlHttp.setRequestHeader(\"Authorization\", \"Basic \" + btoa(apikeyentry));\n            xmlHttp.send();\n            return xmlHttp.responseText;\n        }\n\n        // Update database\n        function updatedb(endpt, collid) {\n            var xmlHttp = new XMLHttpRequest();\n            thisurl = endpt + \"/newupload\";\n            xmlHttp.open(\"POST\", thisurl);\n            xmlHttp.setRequestHeader(\"Content-Type\", \"application/json\");\n\n            currfn = document.getElementById('filehere').value;\n            fnsplit = currfn.split(\"\\\\\");\n            realfname = fnsplit[(fnsplit.length) - 1];\n\n            xmlHttp.send(JSON.stringify({ \"filename\": realfname, \"collid\": collid }));\n            return true;\n        }\n\n        $('#filehere').change(function () {\n            var i = $(this).prev('label').clone();\n            var file = $('#filehere')[0].files[0].name;\n            $(this).prev('label').text(file);\n        });\n    </script>\n</body>\n\n</html>","output":"str","x":430,"y":80,"wires":[["48ade3a9.4ec14c","891da56b.2e4b88"]]},{"id":"74ebec6e.3418f4","type":"http in","z":"cccbf411.fc2fb8","name":"","url":"/uploadfile","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["e80df635.bb7dc8"]]},{"id":"48ade3a9.4ec14c","type":"debug","z":"cccbf411.fc2fb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":120,"wires":[]},{"id":"891da56b.2e4b88","type":"http response","z":"cccbf411.fc2fb8","name":"","statusCode":"","headers":{},"x":730,"y":80,"wires":[]},{"id":"a8923b97.0986d8","type":"http in","z":"cccbf411.fc2fb8","name":"","url":"/beginprocessing","method":"get","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["be7aa4e2.3dead"]]},{"id":"7d8ba579.83d82c","type":"comment","z":"cccbf411.fc2fb8","name":"Redirects here upon file upload success","info":"","x":190,"y":260,"wires":[]},{"id":"4e97af94.e88ae","type":"function","z":"cccbf411.fc2fb8","name":"Get collection id","func":"msg.collectionIdtouse = msg.collections[0].collection_id;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":300,"wires":[["257f1a83.e91366","1fe65a30.2893e6"]]},{"id":"257f1a83.e91366","type":"debug","z":"cccbf411.fc2fb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":300,"wires":[]},{"id":"b2b572db.a4fad","type":"http response","z":"fdcf4ad6.f8ad68","name":"","statusCode":"","headers":{},"x":550,"y":160,"wires":[]},{"id":"2358f109.18b29e","type":"template","z":"fdcf4ad6.f8ad68","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Send query here:</h1>\n<form action=\"/watsonhandler\" method=\"POST\">\n    <label for=\"query\">Enter query:</label>\n    <input type=\"text\" name=\"query\" /> <br> <br>\n    <label for=\"searchScope\">Search:</label>\n    <select id=\"searchScope\" name=\"searchScope\">\n        <option value=\"Document\">Document</option>\n        <option value=\"News\">News</option>\n        <option value=\"Web\">Web</option>\n    </select> <br> <br>\n    <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":390,"y":160,"wires":[["b2b572db.a4fad"]]},{"id":"4a5ac3b8.23b66c","type":"http in","z":"fdcf4ad6.f8ad68","name":"","url":"/searchwatson","method":"get","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["2358f109.18b29e"]]},{"id":"747e183b.83be08","type":"http in","z":"fdcf4ad6.f8ad68","name":"","url":"/watsonhandler","method":"post","upload":false,"swaggerDoc":"","x":160,"y":740,"wires":[["41d62aef.0f66b4"]]},{"id":"a0b47e66.f987d","type":"http response","z":"fdcf4ad6.f8ad68","name":"","statusCode":"","headers":{},"x":1490,"y":740,"wires":[]},{"id":"964ad1a3.5d30b","type":"switch","z":"fdcf4ad6.f8ad68","name":"","property":"queryParams.searchNews","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":740,"wires":[["b482a5bb.01b948"]]},{"id":"41d62aef.0f66b4","type":"function","z":"fdcf4ad6.f8ad68","name":"Parse Query","func":"msg.queryParams = {};\nmsg.queryParams.queryterm = msg.payload.query;\nmsg.queryParams.searchDoc = false;\nmsg.queryParams.searchNews = false;\nmsg.queryParams.searchWeb = false;\nif ((msg.payload.searchScope) == \"Document\"){\n    msg.queryParams.searchDoc = true;\n}\nif ((msg.payload.searchScope) == \"News\"){\n    msg.queryParams.searchNews = true;\n}\nif ((msg.payload.searchScope) == \"Web\"){\n    msg.queryParams.searchWeb = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":740,"wires":[["964ad1a3.5d30b","8cbed830.778978","51e697d4.8561a8"]]},{"id":"437339a1.ebaf38","type":"debug","z":"fdcf4ad6.f8ad68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":660,"wires":[]},{"id":"2aaab501.13ecba","type":"watson-discovery-v1","z":"fdcf4ad6.f8ad68","name":"Search Watson","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"5","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"term(text)","return":"text,website","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":820,"y":660,"wires":[["437339a1.ebaf38","54c93d96.6dfae4"]]},{"id":"b482a5bb.01b948","type":"function","z":"fdcf4ad6.f8ad68","name":"Overwrite Query","func":"msg.discoveryparams = {};\nmsg.discoveryparams.query = \"text:\" + msg.queryParams.queryterm;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":660,"wires":[["2aaab501.13ecba"]]},{"id":"54c93d96.6dfae4","type":"function","z":"fdcf4ad6.f8ad68","name":"Display Top Result","func":"msg.payload = msg.search_results.results[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":740,"wires":[["79cd4a12.4c984c","4b0997c7.5e09f8"]]},{"id":"3c8d6b03.68e4b4","type":"comment","z":"cccbf411.fc2fb8","name":"DOC CONSUMPTION","info":"","x":140,"y":40,"wires":[]},{"id":"1fe65a30.2893e6","type":"function","z":"cccbf411.fc2fb8","name":"Set collection id","func":"// TODO: replace the placeholder with your own\nlet collectionIdtouse = \"a04fcb43-985f-437f-bcf5-7470613a4d2d\";\n\nmsg.discoveryparams = {};\nmsg.discoveryparams.collectionId = collectionIdtouse;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":420,"wires":[["ab373710.3e03c8"]]},{"id":"76f4cfde.6d51c","type":"function","z":"cccbf411.fc2fb8","name":"Revenue last year","func":"let revenues = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const revenue = item.passage_text + ' ';\n  revenues = revenues.concat('', revenue);\n})\n\nmsg.ui.last_revenue = revenues;\nmsg.payload = revenues;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":740,"wires":[["afab7308.3b93d"]]},{"id":"be7aa4e2.3dead","type":"watson-discovery-v1","z":"cccbf411.fc2fb8","name":"List Collections","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"listCollections","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":440,"y":300,"wires":[["4e97af94.e88ae"]]},{"id":"8cbed830.778978","type":"switch","z":"fdcf4ad6.f8ad68","name":"","property":"queryParams.searchDoc","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":860,"wires":[["c82a61ec.e0818"]]},{"id":"e5b85e50.215dd","type":"watson-discovery-v1","z":"fdcf4ad6.f8ad68","name":"Query","environmentname":"","environmentId":"","collectionId":"ec3020bf-ea5e-4b00-8737-63de6a2bade3","configurationname":"","configurationId":"","collection_name":"","count":"2","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"term(text)","return":"text","description":"","size":"","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/14623433-309a-4ca9-9365-f9dc9be7caf2","x":1010,"y":1080,"wires":[["94c37f01.5660a"]]},{"id":"cbb0744e.d4753","type":"function","z":"fdcf4ad6.f8ad68","name":"build query","func":"msg.discoveryparams.query=msg.payload.query;\nmsg.discoveryparams.nlp_query=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1040,"wires":[["e5b85e50.215dd"]]},{"id":"94c37f01.5660a","type":"function","z":"fdcf4ad6.f8ad68","name":"","func":"msg.payload = {}\nmsg.payload.result = msg.search_results.passages;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":1080,"wires":[["a4e4632f.b9c2a8","5523bd53.0b9e7c"]]},{"id":"c82a61ec.e0818","type":"watson-discovery-v1","z":"fdcf4ad6.f8ad68","name":"List env_id","environmentname":"","environmentId":"","collectionId":"ec3020bf-ea5e-4b00-8737-63de6a2bade3","configurationname":"","configurationId":"","collection_name":"","count":"2","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"term(text)","return":"text","description":"","size":"","discovery-method":"listEnvrionments","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/14623433-309a-4ca9-9365-f9dc9be7caf2","x":810,"y":960,"wires":[["eccc6c0a.6c2548"]]},{"id":"eccc6c0a.6c2548","type":"function","z":"fdcf4ad6.f8ad68","name":"get env_id","func":"msg.discoveryparams = {};\nmsg.discoveryparams.environmentId = msg.environments[1].environment_id;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":960,"wires":[["27718e7.084cf72"]]},{"id":"27718e7.084cf72","type":"watson-discovery-v1","z":"fdcf4ad6.f8ad68","name":"List collections","environmentname":"","environmentId":"","collectionId":"ec3020bf-ea5e-4b00-8737-63de6a2bade3","configurationname":"","configurationId":"","collection_name":"","count":"2","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"term(text)","return":"text","description":"","size":"","discovery-method":"listCollections","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/14623433-309a-4ca9-9365-f9dc9be7caf2","x":1240,"y":960,"wires":[["385c94a.f6f806c"]]},{"id":"385c94a.f6f806c","type":"function","z":"fdcf4ad6.f8ad68","name":"get coll_id","func":"msg.discoveryparams.collectionId = msg.collections[0].collection_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":960,"wires":[["cbb0744e.d4753"]]},{"id":"376dd985.109e7e","type":"watson-discovery-v1","z":"cccbf411.fc2fb8","name":"Revenue Last Year","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"revenue last year","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":130,"y":740,"wires":[["76f4cfde.6d51c"]]},{"id":"d1bcd020.9ae708","type":"watson-discovery-v1","z":"cccbf411.fc2fb8","name":"Finance Debt","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"finance debt","filter":"","aggregation":"","return":"","description":"","size":"","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":110,"y":860,"wires":[["602c438e.53896c"]]},{"id":"602c438e.53896c","type":"function","z":"cccbf411.fc2fb8","name":"Finance debt","func":"let debts = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const debt = item.passage_text + ' ';\n  debts = debts.concat('', debt);\n})\n\nmsg.ui.finance_debt = debts;\nmsg.payload = debts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":860,"wires":[["4de8f458.aa287c"]]},{"id":"dcbab357.47fad8","type":"watson-discovery-v1","z":"cccbf411.fc2fb8","name":"Cash Flow","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"cash flow","filter":"","aggregation":"","return":"","description":"","size":"","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":110,"y":800,"wires":[["e44444ad.24bf98"]]},{"id":"e44444ad.24bf98","type":"function","z":"cccbf411.fc2fb8","name":"Cash flow","func":"let cash_flow = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const cash = item.passage_text + ' ';\n  cash_flow = cash_flow.concat('', cash);\n})\n\nmsg.ui.cash_flow = cash_flow;\nmsg.payload = cash_flow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":800,"wires":[["32f42cb.fa489d4"]]},{"id":"a4e4632f.b9c2a8","type":"debug","z":"fdcf4ad6.f8ad68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":1080,"wires":[]},{"id":"4182185b.c06408","type":"inject","z":"cccbf411.fc2fb8","name":"Query test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":420,"wires":[["1fe65a30.2893e6"]]},{"id":"51e697d4.8561a8","type":"switch","z":"fdcf4ad6.f8ad68","name":"","property":"queryParams.searchWeb","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":800,"wires":[["48949a37.c2f17c","5cfb57b3.0c6d38"]]},{"id":"eb2d0ac7.9f9b98","type":"function","z":"e1c2d824.343838","name":"Set update log","func":"msg.datenow = Date.now();\nmsg.payload = \"UPDATE FILELOG SET DELETED='\" + msg.datenow + \"' WHERE COLLECTION='\"+ msg.discoveryparams.collectionId +\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":180,"wires":[["9f38ca7a.633d08"]]},{"id":"9f38ca7a.633d08","type":"dashDB in","z":"e1c2d824.343838","dashDB":"8f8fafdf.fcbaa","service":"_ext_","query":"","params":"","name":"","x":1600,"y":180,"wires":[["10879ce1.c39863"]]},{"id":"ed4205eb.7b0c78","type":"http in","z":"e1c2d824.343838","name":"","url":"/newupload","method":"post","upload":false,"swaggerDoc":"","x":130,"y":340,"wires":[["907bf29a.edf05","39c94525.53ab1a"]]},{"id":"907bf29a.edf05","type":"function","z":"e1c2d824.343838","name":"","func":"msg.fn = msg.payload.filename;\nmsg.collid = msg.payload.collid;\nmsg.datenow = Date.now();\nmsg.payload = \"INSERT INTO FILELOG (FILENAME, COLLECTION, ADDED, DELETED) VALUES ('\"+ msg.fn + \"', '\"+ msg.collid + \"', '\"+ msg.datenow + \"', null);\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":340,"wires":[["4dc48277.d08b0c"]]},{"id":"4dc48277.d08b0c","type":"dashDB in","z":"e1c2d824.343838","dashDB":"e6306c20.7e522","service":"_ext_","query":"","params":"","name":"","x":520,"y":340,"wires":[["2dcd17e1.b64668"]]},{"id":"2dcd17e1.b64668","type":"debug","z":"e1c2d824.343838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":340,"wires":[]},{"id":"2fbe1379.f51a3c","type":"watson-discovery-v1","z":"e1c2d824.343838","name":"list coll test","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"listCollections","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":410,"y":100,"wires":[["2a1b213.ef697de"]]},{"id":"7862773a.72f058","type":"watson-discovery-v1","z":"e1c2d824.343838","name":"delete coll test","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"deleteCollection","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":1220,"y":180,"wires":[["eb2d0ac7.9f9b98"]]},{"id":"39c94525.53ab1a","type":"debug","z":"e1c2d824.343838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":400,"wires":[]},{"id":"1ac0f7bf.df23d8","type":"watson-discovery-v1","z":"cccbf411.fc2fb8","name":"Keywords","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":false,"query":"","filter":"","aggregation":"term(enriched_text.concepts.text,count:7)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":540,"y":500,"wires":[["9e515d87.97483"]]},{"id":"6dc3c002.acd3b","type":"debug","z":"cccbf411.fc2fb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":90,"y":1060,"wires":[]},{"id":"9e515d87.97483","type":"function","z":"cccbf411.fc2fb8","name":"Keywords","func":"let keywords = [];\nmsg.search_results.aggregations[0].results.forEach(function (item, index, array) {\n    keywords.push(item.key)\n});\nmsg.ui.keyword = keywords;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":500,"wires":[["b672e237.57817"]]},{"id":"ab373710.3e03c8","type":"watson-discovery-v1","z":"cccbf411.fc2fb8","name":"Metadata","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":100,"y":500,"wires":[["12a22246.9eb31e"]]},{"id":"12a22246.9eb31e","type":"function","z":"cccbf411.fc2fb8","name":"Metadata","func":"msg.ui = {};\n\n// Personality colours\nmsg.ui.colours = {\n    \"analytical\": \"#19A3F7\",\n    \"anger\": \"#FFA197\",\n    \"confident\": \"#A779D8\",\n    \"fear\": \"#7DB258\",\n    \"joy\": \"#FFF173\",\n    \"sadness\": \"#69C3E2\",\n    \"tentative\": \"#94FFEF\",\n    \"na\": \"white\"\n};\n\n// Title\nmsg.ui.title = msg.search_results.results[0].extracted_metadata.title;\n\n// Sentiment analysis\nmsg.ui.sentiment = msg.search_results.results[0].enriched_text.sentiment.document.label;\n\n// Industries\nlet industries = [];\nmsg.search_results.results[0].enriched_text.categories.forEach(function (item, index, array) {\n    let labels = item.label.split(' and ');\n    labels.forEach(function (item, index, array) {\n        if (item.startsWith('/')) {\n            array[index] = item.substr(1);\n        }\n    })\n    industries = industries.concat(labels);\n})\nconst industry = new Set(industries);   // Remove duplications\nmsg.ui.industry = [...industry];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":500,"wires":[["1ac0f7bf.df23d8"]]},{"id":"3b92ecdb.74b524","type":"comment","z":"77f87c18.6f5a54","name":"GET Company Overview","info":"","x":150,"y":400,"wires":[]},{"id":"375785cb.ae2e8a","type":"inject","z":"77f87c18.6f5a54","name":"make request normalco","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"09678867","payload":"","payloadType":"date","x":160,"y":540,"wires":[["8bf5a70e.d59b38"]]},{"id":"8bf5a70e.d59b38","type":"function","z":"77f87c18.6f5a54","name":"set url","func":"// check isalphanumeric\nif(!msg.topic.match(/^([0-9]|[a-z])+([0-9a-z]+)$/i)){\n    msg.payload = \"ERROR!\";\n    return msg;\n}\nmsg.url = \"https://beta.companieshouse.gov.uk/company/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":580,"wires":[["c049eefa.16daa"]]},{"id":"c049eefa.16daa","type":"switch","z":"77f87c18.6f5a54","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":580,"wires":[["85530d9e.596ff"]]},{"id":"85530d9e.596ff","type":"http request","z":"77f87c18.6f5a54","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":580,"wires":[["33fbe39f.1d031c"]]},{"id":"9a0fe1be.9031","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"div.column-half","ret":"html","as":"single","x":400,"y":960,"wires":[["3fb1079b.c74ea8"]]},{"id":"68b21561.9066bc","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"dl dd","ret":"html","as":"single","x":430,"y":840,"wires":[["c3ff197a.0f9ef8"]]},{"id":"9461f735.a53498","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"#sic0","ret":"html","as":"single","x":430,"y":780,"wires":[["19b0157d.3af40b"]]},{"id":"33fbe39f.1d031c","type":"function","z":"77f87c18.6f5a54","name":"init returnval + store html file","func":"msg.infotoreturn = {};\nmsg.infotoreturn.compnumber = msg.topic;\nmsg.html = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":580,"wires":[["9461f735.a53498"]]},{"id":"19b0157d.3af40b","type":"function","z":"77f87c18.6f5a54","name":"store natureofbiz + reinstate payload html","func":"msg.infotoreturn.natureofbiz = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":780,"wires":[["68b21561.9066bc"]]},{"id":"66a6fc9a.7397b4","type":"inject","z":"77f87c18.6f5a54","name":"make request dissolved co","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"09854375","payload":"","payloadType":"date","x":150,"y":500,"wires":[["8bf5a70e.d59b38"]]},{"id":"c3ff197a.0f9ef8","type":"function","z":"77f87c18.6f5a54","name":"store info","func":"msg.infotoreturn.address = msg.payload[0];\nmsg.infotoreturn.companystatus = msg.payload[1];\nif(msg.payload.length == 5){\n    msg.infotoreturn.dissolvedate = msg.payload[2];\n    msg.infotoreturn.companytype = msg.payload[3];\n    msg.infotoreturn.incdate = msg.payload[4];\n}\nelse if (msg.payload.length == 4){\n    msg.infotoreturn.companytype = msg.payload[2];\n    msg.infotoreturn.incdate = msg.payload[3];\n}\nelse {\n    // error has occurred\n}\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":840,"wires":[["22075b0f.9bd184"]]},{"id":"22075b0f.9bd184","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"p.heading-xlarge","ret":"html","as":"single","x":390,"y":900,"wires":[["d0355a63.ca9c68"]]},{"id":"d0355a63.ca9c68","type":"function","z":"77f87c18.6f5a54","name":"Store info","func":"msg.infotoreturn.compname = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":900,"wires":[["9a0fe1be.9031"]]},{"id":"3fb1079b.c74ea8","type":"function","z":"77f87c18.6f5a54","name":"store accounts and confirmation statement for future parsing","func":"msg.accounts = msg.payload[0];\nmsg.statementsexist = false;\nif (msg.payload.length == 2){\n    msg.statementsexist = true;\n    msg.confirmationstatements = msg.payload[1];\n}\ndelete msg['html'];\n\nmsg.payload = msg.accounts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":960,"wires":[["bd9610a4.66df1"]]},{"id":"bd9610a4.66df1","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"p","ret":"html","as":"single","x":430,"y":1040,"wires":[["513a11a6.e9553"]]},{"id":"513a11a6.e9553","type":"function","z":"77f87c18.6f5a54","name":"process account info","func":"arrlen = msg.payload.length;\naccinfo = \"\";\nfor(var i=0; i<arrlen; i++){\n    msg.payload[i] = msg.payload[i].replace(/(\\r\\n|\\n|\\r)/gm, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<strong>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<\\/strong>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<br>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<br\\/>/g, \"\");\n    msg.payload[i] = msg.payload[i].split(/\\s+/).join(' ');\n    thisinfo = msg.payload[i].concat(\". \");\n    accinfo = accinfo.concat(thisinfo);\n}\nmsg.infotoreturn.acc = accinfo;\ndelete msg['accounts'];\nmsg.payload = msg.confirmationstatements;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1040,"wires":[["c1ca185b.0b1418","73f77fa4.a0c47"]]},{"id":"c1ca185b.0b1418","type":"switch","z":"77f87c18.6f5a54","name":"","property":"statementsexist","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1020,"wires":[["20f78fca.f36cf"]]},{"id":"20f78fca.f36cf","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"p","ret":"html","as":"single","x":1010,"y":1020,"wires":[["810afd4c.14448"]]},{"id":"810afd4c.14448","type":"function","z":"77f87c18.6f5a54","name":"process statement info","func":"arrlen = msg.payload.length;\nstatementinfo = \"\";\nfor(var i=0; i<arrlen; i++){\n    msg.payload[i] = msg.payload[i].replace(/(\\r\\n|\\n|\\r)/gm, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<strong>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<\\/strong>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<br>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<br\\/>/g, \"\");\n    msg.payload[i] = msg.payload[i].split(/\\s+/).join(' ');\n    thisinfo = msg.payload[i].concat(\". \");\n    statementinfo = statementinfo.concat(thisinfo);\n}\nmsg.infotoreturn.statement = statementinfo;\ndelete msg['confirmationstatements'];\nmsg.overview = msg.infotoreturn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":1020,"wires":[["1968e96c.017777"]]},{"id":"73f77fa4.a0c47","type":"switch","z":"77f87c18.6f5a54","name":"","property":"statementsexist","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1060,"wires":[["63ed8d22.bcffc4"]]},{"id":"63ed8d22.bcffc4","type":"function","z":"77f87c18.6f5a54","name":"Set payload","func":"msg.overview = msg.infotoreturn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1060,"wires":[["1968e96c.017777"]]},{"id":"1968e96c.017777","type":"function","z":"77f87c18.6f5a54","name":"set url","func":"// check isalphanumeric\nif(!msg.topic.match(/^([0-9]|[a-z])+([0-9a-z]+)$/i)){\n    msg.payload = \"ERROR!\";\n    return msg;\n}\nmsg.url = \"https://beta.companieshouse.gov.uk/company/\" + msg.topic + \"/officers\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1040,"wires":[["8ccc48d7.88b7e8"]]},{"id":"8ccc48d7.88b7e8","type":"switch","z":"77f87c18.6f5a54","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"53","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1590,"y":1040,"wires":[["61e34626.a06be8"]]},{"id":"61e34626.a06be8","type":"http request","z":"77f87c18.6f5a54","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1790,"y":1040,"wires":[["7f7f40b4.08827"]]},{"id":"aba8aa8d.63fd38","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"div.appointments-list","ret":"html","as":"single","x":380,"y":1240,"wires":[["ea56af05.42f24"]]},{"id":"3f55ec23.fd8ff4","type":"inject","z":"77f87c18.6f5a54","name":"make request empty","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":170,"y":620,"wires":[["8bf5a70e.d59b38"]]},{"id":"aeecf07f.524ee","type":"inject","z":"77f87c18.6f5a54","name":"make request invalid","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"@@@","payload":"","payloadType":"date","x":170,"y":580,"wires":[["8bf5a70e.d59b38"]]},{"id":"ea56af05.42f24","type":"function","z":"77f87c18.6f5a54","name":"set payload non array","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1240,"wires":[["ccedfc00.45959"]]},{"id":"ccedfc00.45959","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"div","ret":"html","as":"single","x":430,"y":1300,"wires":[["60c90dde.002bb4"]]},{"id":"7f7f40b4.08827","type":"function","z":"77f87c18.6f5a54","name":"init returnval + store html file","func":"msg.infotoreturn = {};\nmsg.infotoreturn.compnumber = msg.topic;\nmsg.html = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":1040,"wires":[["2640552c.7f203a"]]},{"id":"2640552c.7f203a","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"p.heading-xlarge","ret":"html","as":"single","x":390,"y":1120,"wires":[["3f4c0b6.93feaf4"]]},{"id":"3f4c0b6.93feaf4","type":"function","z":"77f87c18.6f5a54","name":"Store info","func":"msg.infotoreturn.compname = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1120,"wires":[["e7b98784.3247f8"]]},{"id":"e7b98784.3247f8","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"#company-appointments","ret":"html","as":"single","x":370,"y":1180,"wires":[["69c0b71b.b143a8"]]},{"id":"69c0b71b.b143a8","type":"function","z":"77f87c18.6f5a54","name":"Store info","func":"msg.payload[0] = msg.payload[0].replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nmsg.payload[0] = msg.payload[0].split(/\\s+/).join(' ');\n\nmsg.infotoreturn.totalappts = msg.payload[0];\nmsg.payload = msg.html;\ndelete msg['html'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1180,"wires":[["aba8aa8d.63fd38"]]},{"id":"60c90dde.002bb4","type":"function","z":"77f87c18.6f5a54","name":"get correct divs","func":"arrlen = msg.payload.length;\nnewpayload = [];\nfor(var i=0; i<arrlen; i++){\n    if(msg.payload[i].includes('h2')){\n        newpayload = newpayload.concat([msg.payload[i]]);\n    }\n}\nmsg.infotoreturn.people = [];\nmsg.currpayload = newpayload[0];\nmsg.payload = msg.currpayload;\nmsg.divstoparse = newpayload.slice(1);\nmsg.loopleft = newpayload.length;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1300,"wires":[["836b1710.9edf28","e4704294.5ea69"]]},{"id":"f8112bbd.389098","type":"html","z":"77f87c18.6f5a54","name":"Get Name","property":"payload","outproperty":"payload","tag":"h2 span a","ret":"html","as":"single","x":1810,"y":1240,"wires":[["6b990c19.993b44"]]},{"id":"2640be63.d6d672","type":"html","z":"77f87c18.6f5a54","name":"Get info","property":"payload","outproperty":"payload","tag":"dl dd","ret":"html","as":"single","x":1520,"y":1240,"wires":[["2d3a89e7.a9aba6"]]},{"id":"2d3a89e7.a9aba6","type":"function","z":"77f87c18.6f5a54","name":"Parse Info","func":"arrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    msg.thisguy[msg.thisguyfields[i]] = msg.payload[i];\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1660,"y":1240,"wires":[["f8112bbd.389098"]]},{"id":"836b1710.9edf28","type":"switch","z":"77f87c18.6f5a54","name":"Loop finished","property":"loopleft","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":1360,"wires":[["55d2fc09.f94094"]]},{"id":"e4704294.5ea69","type":"switch","z":"77f87c18.6f5a54","name":"Enter Loop","property":"loopleft","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":1240,"wires":[["172eeef1.09b941"]]},{"id":"6b990c19.993b44","type":"function","z":"77f87c18.6f5a54","name":"Parse Info","func":"msg.thisguy.name = msg.payload[0];\nmsg.infotoreturn.people = msg.infotoreturn.people.concat([msg.thisguy]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1980,"y":1240,"wires":[["3aec516a.cfc3be"]]},{"id":"3aec516a.cfc3be","type":"function","z":"77f87c18.6f5a54","name":"Setup next loop","func":"delete msg['thisguy'];\ndelete msg['thisguyfields'];\nif (msg.divstoparse.length >0){\n    msg.currpayload = msg.divstoparse[0];\n    msg.payload = msg.currpayload;\n    msg.divstoparse = msg.divstoparse.slice(1);\n}\nmsg.loopleft--;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":1300,"wires":[["836b1710.9edf28","e4704294.5ea69"]]},{"id":"55d2fc09.f94094","type":"function","z":"77f87c18.6f5a54","name":"Setup returning values","func":"delete msg['currpayload'];\ndelete msg['divstoparse'];\ndelete msg['loopleft'];\nmsg.ppl = msg.infotoreturn;\ndelete msg['infotoreturn'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1360,"wires":[["9357ad7d.f787c"]]},{"id":"172eeef1.09b941","type":"function","z":"77f87c18.6f5a54","name":"setup return value","func":"msg.thisguy = {}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1240,"wires":[["d09ef324.f4e25"]]},{"id":"d09ef324.f4e25","type":"html","z":"77f87c18.6f5a54","name":"Get fields","property":"payload","outproperty":"payload","tag":"dl dt","ret":"html","as":"single","x":1220,"y":1240,"wires":[["a9a99adc.8a2028"]]},{"id":"a9a99adc.8a2028","type":"function","z":"77f87c18.6f5a54","name":"Create fields","func":"msg.thisguyfields = msg.payload;\narrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    if (msg.payload[i].includes(\"Role\")){\n        msg.payload[i] = \"Role\";\n    }\n    msg.thisguy[msg.payload[i]] = \"\";\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":1240,"wires":[["2640be63.d6d672"]]},{"id":"9357ad7d.f787c","type":"function","z":"77f87c18.6f5a54","name":"set url","func":"// check isalphanumeric\nif(!msg.topic.match(/^([0-9]|[a-z])+([0-9a-z]+)$/i)){\n    msg.payload = \"ERROR!\";\n    return msg;\n}\nmsg.url = \"https://beta.companieshouse.gov.uk/company/\" + msg.topic + \"/charges\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":1360,"wires":[["1a81c7eb.2d82b8"]]},{"id":"1a81c7eb.2d82b8","type":"switch","z":"77f87c18.6f5a54","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"52","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":1360,"wires":[["7a45e5e7.ad514c"]]},{"id":"7a45e5e7.ad514c","type":"http request","z":"77f87c18.6f5a54","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1610,"y":1360,"wires":[["d65d7b6d.5c74b8"]]},{"id":"d65d7b6d.5c74b8","type":"function","z":"77f87c18.6f5a54","name":"init returnval + store html file","func":"msg.infotoreturn = {};\nmsg.infotoreturn.compnumber = msg.topic;\nmsg.html = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":1360,"wires":[["4382ae0d.43315","b6b0a476.3ec248"]]},{"id":"7f3b29a6.c886f8","type":"function","z":"77f87c18.6f5a54","name":"Store info","func":"msg.infotoreturn.compname = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1480,"wires":[["79fae6e2.3c0c48"]]},{"id":"f37172b4.3b783","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"p.heading-xlarge","ret":"html","as":"single","x":390,"y":1480,"wires":[["7f3b29a6.c886f8"]]},{"id":"b6b0a476.3ec248","type":"switch","z":"77f87c18.6f5a54","name":"No Charges","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2050,"y":1400,"wires":[["9630a225.2537f"]]},{"id":"4382ae0d.43315","type":"switch","z":"77f87c18.6f5a54","name":"Charges found","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2060,"y":1320,"wires":[["365e193e.ebd0b6"]]},{"id":"9630a225.2537f","type":"function","z":"77f87c18.6f5a54","name":"Setup return value","func":"msg.infotoreturn.charges = \"NONE\";\n\nmsg.charges = msg.infotoreturn;\n\ndelete msg['html'];\ndelete msg['infotoreturn'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2250,"y":1400,"wires":[["7b7dd1d0.fd3b3"]]},{"id":"365e193e.ebd0b6","type":"function","z":"77f87c18.6f5a54","name":"reset html","func":"msg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2220,"y":1320,"wires":[["f37172b4.3b783"]]},{"id":"79fae6e2.3c0c48","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"#company-mortgages","ret":"html","as":"single","x":380,"y":1540,"wires":[["20b794df.05e1fc"]]},{"id":"20b794df.05e1fc","type":"function","z":"77f87c18.6f5a54","name":"Store info","func":"msg.infotoreturn.charges = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1540,"wires":[["d768471c.72cac8"]]},{"id":"d768471c.72cac8","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"#company-mortgages-breakdown","ret":"html","as":"single","x":340,"y":1600,"wires":[["2600b3a4.9836bc"]]},{"id":"2600b3a4.9836bc","type":"function","z":"77f87c18.6f5a54","name":"Store info","func":"msg.infotoreturn.chargesdetailed = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1600,"wires":[["eac1a4b7.2ded08"]]},{"id":"974d18cc.b3dc78","type":"function","z":"77f87c18.6f5a54","name":"return values","func":"delete msg['currpayload'];\ndelete msg['divstoparse'];\ndelete msg['loopleft'];\nmsg.charges = msg.infotoreturn;\ndelete msg['infotoreturn'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1560,"wires":[["7b7dd1d0.fd3b3"]]},{"id":"eac1a4b7.2ded08","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"#mortgage-content div","ret":"html","as":"single","x":380,"y":1660,"wires":[["4ba6d46d.0906fc"]]},{"id":"4ba6d46d.0906fc","type":"function","z":"77f87c18.6f5a54","name":"get correct divs","func":"arrlen = msg.payload.length;\nnewpayload = [];\nfor(var i=0; i<arrlen; i++){\n    if(msg.payload[i].includes('h2')){\n        newpayload = newpayload.concat([msg.payload[i]]);\n    }\n}\nmsg.infotoreturn.chargelist = [];\nmsg.currpayload = newpayload[0];\nmsg.payload = msg.currpayload;\nmsg.divstoparse = newpayload.slice(1);\nmsg.loopleft = newpayload.length;\ndelete msg['html'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1660,"wires":[["44545298.83759c","441165cb.a879fc"]]},{"id":"441165cb.a879fc","type":"switch","z":"77f87c18.6f5a54","name":"Enter Loop","property":"loopleft","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":1680,"wires":[["ef6b47de.6d7618"]]},{"id":"44545298.83759c","type":"switch","z":"77f87c18.6f5a54","name":"Loop finished","property":"loopleft","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":1620,"wires":[["974d18cc.b3dc78"]]},{"id":"ef6b47de.6d7618","type":"function","z":"77f87c18.6f5a54","name":"setup return value","func":"msg.thischarge = {}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":1680,"wires":[["39b74725.d65848"]]},{"id":"39b74725.d65848","type":"html","z":"77f87c18.6f5a54","name":"Get fields","property":"payload","outproperty":"payload","tag":"dl dt","ret":"html","as":"single","x":1260,"y":1680,"wires":[["b79d12c2.cb55a"]]},{"id":"b79d12c2.cb55a","type":"function","z":"77f87c18.6f5a54","name":"Create fields","func":"msg.thischargefields = msg.payload;\narrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    if (msg.payload[i].includes(\"Role\")){\n        msg.payload[i] = \"Role\";\n    }\n    msg.thischarge[msg.payload[i]] = \"\";\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1680,"wires":[["6a9579ca.1440a8"]]},{"id":"6a9579ca.1440a8","type":"html","z":"77f87c18.6f5a54","name":"Get info","property":"payload","outproperty":"payload","tag":"dl dd","ret":"html","as":"single","x":1260,"y":1740,"wires":[["78e1db6.04a2224"]]},{"id":"78e1db6.04a2224","type":"function","z":"77f87c18.6f5a54","name":"Parse Info","func":"arrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    msg.thischarge[msg.thischargefields[i]] = msg.payload[i];\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1740,"wires":[["527e5e7f.779ab"]]},{"id":"527e5e7f.779ab","type":"html","z":"77f87c18.6f5a54","name":"Get info","property":"payload","outproperty":"payload","tag":"div.text","ret":"html","as":"single","x":1260,"y":1800,"wires":[["9b5d3f9d.bf503"]]},{"id":"9b5d3f9d.bf503","type":"function","z":"77f87c18.6f5a54","name":"Setup payload","func":"msg.currpayload = msg.payload[0];\ndelete msg['thischargefields'];\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":1800,"wires":[["185ceda3.e774f2"]]},{"id":"185ceda3.e774f2","type":"html","z":"77f87c18.6f5a54","name":"Get fields","property":"payload","outproperty":"payload","tag":"h3","ret":"html","as":"single","x":1260,"y":1860,"wires":[["8ce65e20.42b4e"]]},{"id":"8ce65e20.42b4e","type":"function","z":"77f87c18.6f5a54","name":"Create fields","func":"msg.thischargefields = msg.payload;\narrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    if (msg.payload[i].includes(\"Role\")){\n        msg.payload[i] = \"Role\";\n    }\n    msg.thischarge[msg.payload[i]] = \"\";\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1860,"wires":[["521c678d.fb2028"]]},{"id":"521c678d.fb2028","type":"html","z":"77f87c18.6f5a54","name":"Get info","property":"payload","outproperty":"payload","tag":"li","ret":"html","as":"single","x":1260,"y":1920,"wires":[["4a27b72a.719be8"]]},{"id":"4a27b72a.719be8","type":"function","z":"77f87c18.6f5a54","name":"Parse Info","func":"msg.thischarge[msg.thischargefields[0]] = msg.payload[0];\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1920,"wires":[["8316bf36.d7b07"]]},{"id":"8316bf36.d7b07","type":"html","z":"77f87c18.6f5a54","name":"Get info","property":"payload","outproperty":"payload","tag":"p","ret":"html","as":"single","x":1740,"y":1680,"wires":[["bc6dd0ea.fd0ac"]]},{"id":"bc6dd0ea.fd0ac","type":"function","z":"77f87c18.6f5a54","name":"Parse Info","func":"msg.thischarge[msg.thischargefields[1]] = msg.payload[0];\nmsg.infotoreturn.chargelist = msg.infotoreturn.chargelist.concat([msg.thischarge]);\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":1680,"wires":[["369d0614.964faa"]]},{"id":"369d0614.964faa","type":"function","z":"77f87c18.6f5a54","name":"Setup next loop","func":"delete msg['thischarge'];\ndelete msg['thischargefields'];\nif (msg.divstoparse.length >0){\n    msg.currpayload = msg.divstoparse[0];\n    msg.payload = msg.currpayload;\n    msg.divstoparse = msg.divstoparse.slice(1);\n}\nmsg.loopleft--;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1620,"wires":[["44545298.83759c","441165cb.a879fc"]]},{"id":"7b7dd1d0.fd3b3","type":"function","z":"77f87c18.6f5a54","name":"set url","func":"// check isalphanumeric\nif(!msg.topic.match(/^([0-9]|[a-z])+([0-9a-z]+)$/i)){\n    msg.payload = \"ERROR!\";\n    return msg;\n}\nmsg.url = \"https://beta.companieshouse.gov.uk/company/\" + msg.topic + \"/filing-history\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1500,"wires":[["23b9ce3b.44b822"]]},{"id":"23b9ce3b.44b822","type":"switch","z":"77f87c18.6f5a54","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"59","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1500,"wires":[["5899ce01.63613"]]},{"id":"5899ce01.63613","type":"http request","z":"77f87c18.6f5a54","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1210,"y":1500,"wires":[["64ff6e40.59a79"]]},{"id":"64ff6e40.59a79","type":"function","z":"77f87c18.6f5a54","name":"init returnval + store html file","func":"msg.infotoreturn = {};\nmsg.infotoreturn.compnumber = msg.topic;\nmsg.html = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":1500,"wires":[["781ab889.7ff278","3556c40.5e1453c"]]},{"id":"781ab889.7ff278","type":"switch","z":"77f87c18.6f5a54","name":"Valid Page","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":1480,"wires":[["794e440.2dd89bc"]]},{"id":"3556c40.5e1453c","type":"switch","z":"77f87c18.6f5a54","name":"Invalid Page","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":1540,"wires":[["eaf659d.17e6ca8"]]},{"id":"794e440.2dd89bc","type":"function","z":"77f87c18.6f5a54","name":"reset html","func":"msg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1800,"y":1480,"wires":[["b98a0f4a.d2259"]]},{"id":"b98a0f4a.d2259","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"p.heading-xlarge","ret":"html","as":"single","x":1970,"y":1480,"wires":[["7936418e.d8b57"]]},{"id":"7936418e.d8b57","type":"function","z":"77f87c18.6f5a54","name":"Store info","func":"msg.infotoreturn.compname = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2140,"y":1480,"wires":[["ba9dd015.ffd97"]]},{"id":"eaf659d.17e6ca8","type":"function","z":"77f87c18.6f5a54","name":"Setup return value","func":"msg.infotoreturn.files = \"NONE\";\n\nmsg.filestoret = msg.infotoreturn;\n\ndelete msg['html'];\ndelete msg['infotoreturn'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":1540,"wires":[["c6f6fdf0.d888"]]},{"id":"c6f6fdf0.d888","type":"debug","z":"77f87c18.6f5a54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1990,"y":1540,"wires":[]},{"id":"ba9dd015.ffd97","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"#fhTable","ret":"html","as":"single","x":2280,"y":1480,"wires":[["506fd258.b9136c"]]},{"id":"506fd258.b9136c","type":"function","z":"77f87c18.6f5a54","name":"","func":"msg.html = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2420,"y":1480,"wires":[["4f693f4b.e7279"]]},{"id":"4f693f4b.e7279","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"tr","ret":"html","as":"single","x":2290,"y":1540,"wires":[["3e2fac43.146dd4"]]},{"id":"3e2fac43.146dd4","type":"function","z":"77f87c18.6f5a54","name":"setup loop","func":"delete msg['html'];\nmsg.infotoreturn.filelist = [];\nmsg.loopleft = msg.payload.length - 1;\nmsg.currpayload = msg.payload[1];\nmsg.rowstoparse = msg.payload.slice(2);\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2430,"y":1540,"wires":[["f894f486.ed54f8","85c9f1e9.98eaa"]]},{"id":"85c9f1e9.98eaa","type":"switch","z":"77f87c18.6f5a54","name":"Enter Loop","property":"loopleft","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2670,"y":1500,"wires":[["7b5ef40c.8c40ec"]]},{"id":"f894f486.ed54f8","type":"switch","z":"77f87c18.6f5a54","name":"Loop finished","property":"loopleft","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2680,"y":1580,"wires":[["5f9cd0aa.14edd"]]},{"id":"7b5ef40c.8c40ec","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"td","ret":"html","as":"single","x":2810,"y":1500,"wires":[["df6138b9.779258"]]},{"id":"df6138b9.779258","type":"function","z":"77f87c18.6f5a54","name":"Parse this file","func":"msg.thisfile = {}\nmsg.thisfile[\"Date\"] = msg.payload[0];\n\nthisdesc = msg.payload[2];\nthisdesc = thisdesc.split(\"<strong>\").join('');\nthisdesc = thisdesc.split(\"</strong>\").join('');\nthisdesc = thisdesc.replace(/<\\/?[^>]+(>|$)/g, \"\");\nmsg.thisfile[\"Description\"] = thisdesc;\n\n//tidyup just get url\nthislink = msg.payload[3];\nthislink = thislink.replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nthislink = thislink.split(/\\s+/).join(' ');\nthislink = thislink.split(\"\\\"\")[1];\nmsg.thisfile[\"Link\"] = \"https://beta.companieshouse.gov.uk\" + thislink;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2960,"y":1500,"wires":[["d447a8e1.1c2548"]]},{"id":"d447a8e1.1c2548","type":"function","z":"77f87c18.6f5a54","name":"Setup next loop","func":"msg.infotoreturn.filelist = msg.infotoreturn.filelist.concat([msg.thisfile]);\n\ndelete msg['thisfile'];\nif (msg.rowstoparse.length >0){\n    msg.currpayload = msg.rowstoparse[0];\n    msg.payload = msg.currpayload;\n    msg.rowstoparse = msg.rowstoparse.slice(1);\n}\nmsg.loopleft--;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3140,"y":1500,"wires":[["85c9f1e9.98eaa","f894f486.ed54f8"]]},{"id":"5f9cd0aa.14edd","type":"function","z":"77f87c18.6f5a54","name":"return values","func":"delete msg['currpayload'];\ndelete msg['rowstoparse'];\ndelete msg['loopleft'];\nmsg.filestoret = msg.infotoreturn;\ndelete msg['infotoreturn'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2850,"y":1580,"wires":[["9a0dfc19.cc742"]]},{"id":"b28c3872.fb7f48","type":"debug","z":"77f87c18.6f5a54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3190,"y":1580,"wires":[]},{"id":"e31c50ea.100ac","type":"http in","z":"77f87c18.6f5a54","name":"","url":"/retcompdetails","method":"post","upload":false,"swaggerDoc":"","x":160,"y":440,"wires":[["11aefafd.ae1745","814c2000.b7d148"]]},{"id":"11aefafd.ae1745","type":"function","z":"77f87c18.6f5a54","name":"Set topic","func":"msg.topic = msg.payload.company;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":440,"wires":[["8bf5a70e.d59b38"]]},{"id":"9a0dfc19.cc742","type":"function","z":"77f87c18.6f5a54","name":"setup payload","func":"msg.payload = {\"overview\": msg.overview, \"ppl\": msg.ppl, \"charges\": msg.charges, \"files\": msg.filestoret, \"statements\": msg.statementsexist};\ndelete msg['statementsexist'];\ndelete msg['overview'];\ndelete msg['ppl'];\ndelete msg['charges'];\ndelete msg['filestoret'];\ndelete msg['headers'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3020,"y":1580,"wires":[["b28c3872.fb7f48","a77c0ae3.be9d88"]]},{"id":"a77c0ae3.be9d88","type":"template","z":"77f87c18.6f5a54","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1985123_wwjfylz91uo.css\">\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n\t\t\tpadding-top: 40px;\n\t\t\ttext-align: center;\n        }\n\t\t\n\t\t.cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n\t\t\tbackground: white;\n\t\t\tborder-radius: 5px;\n\t\t\tmargin-left: 6px;\n\t\t\tmargin-top: 6px;\n\t\t\tmargin-bottom: 6px;\n        }\n\t\t\n\t\t.feature {\n\t\t\tmargin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n\t\t\tcolor: grey;\n\t\t\tfont-weight: bold;\n\t\t}\n\t\t\n\t\t.content {\n\t\t\tmargin-left: 20px;\n\t\t\tmargin-top: 10px;\n\t\t\tfloat: left;\n\t\t\twidth: 90%;\n\t\t\tcolor: black;\n\t\t\tfont-size: 160%; \n\t\t}\n\t\t\n\t\t.bottom {\n\t\t\tmargin-left: 20px;\n\t\t\tmargin-top: 8px;\n\t\t\tfloat: left:\n\t\t\t/*width: 90%;*/\n\t\t\tcolor: black;\n\t\t\tfont-size: 100%;\n\t\t\tfont-weight: light;\n\t\t\n\t\t}\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Company Information from CompanyHouse</div>\n\t\t\t\n\t\t\t<!-- row1 -->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-NameCard\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \t\n    \t\t\t\t\t<font class=\"feature\">Company Name</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<font class=\"content\" style=\"font-weight: bold;\">{{payload.overview.compname}}</font>\n    \t\t\t\t\t\n    \t\t\t\t\t\n    \t\t\t\t\t<div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 150px;\"></div>\n            \n    \t\t\t\t\t<div class=\"bottom\">\n    \t\t\t\t\t\t<font>Company Number:</font>\n    \t\t\t\t\t\t\t\n    \t\t\t\t\t\t<font style=\"margin-left: 20px;\">{{payload.overview.compnumber}}</font>\n    \t\t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t\n    \t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-SuiteCase\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \t\n    \t\t\t\t\t<font class=\"feature\">Nature of Business</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<font class=\"content\">{{payload.overview.natureofbiz}}</font>\n    \t\t\t\t\t\n    \t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Presentation\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n    \t\t\t\t\t<div class=\"feature\">Company Type</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<font class=\"content\"  style=\"font-weight: bold;\">{{payload.overview.companytype}}</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 150px;\"></div>\n            \n    \t\t\t\t\t<div class=\"bottom\">\n    \t\t\t\t\t\t<font>Company Status:</font>\n\n                            <i id=\"statusIcon\" class=\"iconfont icon-active\" style=\"margin-left: 20px; color: #51ea14; margin-top: 15px; \"></i>\n    \t\t\t\t\t\t\t\n    \t\t\t\t\t\t<font style=\"\">{{payload.overview.companystatus}}</font>\n    \t\t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t</div>\n\n                </div>\n\t\t\t\t\n            </div>\n\t\t\t\n\t\t\t<!-- row2 -->\n\t\t\t\n\t\t\t<div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n\t\t\t\t\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Building\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n    \t\t\t\t\t<div class=\"feature\">Registered Office Address</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<font class=\"content\" style=\"font-size: 120%;\">{{payload.overview.address}}</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 150px;\"></div>\n            \n    \t\t\t\t\t<div class=\"bottom\">\n    \t\t\t\t\t\t<font>Incorporate Date:</font>\n    \t\t\t\t\t\t\t\n    \t\t\t\t\t\t<font style=\"margin-left: 20px;\">{{payload.overview.incdate}}</font>\n    \t\t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Note\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n    \t\t\t\t\t<div id=\"statementTitle\" class=\"feature\">Statement</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<font id=\"statementContent\" class=\"content\" style=\"font-size: 110%;\">{{payload.overview.statement}}</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<!-- <font class=\"content\" style=\"font-size: 110%;\">Last statement dated 24 January 2020.</font> -->\n    \t\t\t\t\n    \t\t\t\t</div>\n\n                    <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Analyst\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Account</div>\n                        \n                        <font class=\"content\" style=\"font-size: 110%;\">{{payload.overview.acc}}</font>\n                        \n                        <!-- <font class=\"content\" style=\"font-size: 110%;\">Last accounts made up to 31 December 2018.</font> -->\n                        \n                    </div>\n\n                </div>\n\t\t\t\t\n            </div>\n\t\t\t\n\t\t\t<!-- row3 -->\n\t\t\t\n\t\t\t<div id=\"row3\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n\n    \t\t\t\t<div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Profit\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n    \t\t\t\t\t<div class=\"feature\">Charges</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<div style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px; margin-bottom: 10px;\">\n                            <font id=\"chargesTitle\">Total:</font>\n    \t\t\t\t\t    <font id=\"chargesContent\">{{payload.charges.charges}}</font>\n    \t\t\t\t\t</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<div id=\"chargesDetail\" style=\"float: left; width: 100%; margin-left: 20px;\">\n                            <font>Detail:</font>\n    \t\t\t\t\t    <font>{{payload.charges.chargesdetailed}}</font>\n    \t\t\t\t\t</div>\n\n                        <div id=\"chargesTable\" style=\"float: left; margin-left: 20px; margin-top: 15px; margin-bottom: 20px;\">\n                            <table class=\"gridtable\">\n                                <thead>\n                                    <tr>\n                                        <th width=\"150px;\">Created</th>\n                                        <th width=\"150px;\">Delivered</th>\n                                        <th width=\"150px;\">Status</th>\n                                        <th width=\"200px;\">Persons entitled</th>\n                                        <th width=\"250px;\">Brief Description</th>\n                                    </tr>\n\n                                </thead>\n\n                                <tbody>\n                                    {{#payload.charges.chargelist}}\n                                    <tr>\n                                        <td>{{Created}}</td>\n                                        <td>{{Delivered}}</td>\n                                        <td>{{Status}}</td>\n                                        <td>{{Persons entitled}}</td>\n                                        <td>{{Brief description}}</td>\n                                    </tr>\n                                    {{/payload.charges.chargelist}}\n                                </tbody>                           \n                            </table>\n                        </div>\n    \t\t\t\t</div>\n                </div>\n\t\t\t\n\t\t\t</div>\n\n            <!-- row4 -->\n\n            <div id=\"row4\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    \n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Meeting\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">People</div>\n                        \n                        <div style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px;\">\n                            <font>Total Appointments:</font>\n                            <font>{{payload.ppl.totalappts}}</font>\n                        </div>\n\n                        <div style=\"float: left; margin-left: 20px; margin-right: 20px; margin-top: 15px; margin-bottom: 20px;\">\n                            <table class=\"gridtable\">\n                                <thead>\n                                    <tr>\n                                        <th width=\"100px;\">Name</th>\n                                        <th width=\"80px;\">Occupation</th>\n                                        <th width=\"80px;\">Role</th>\n                                        <th width=\"100px;\">DOB</th>\n                                        <th width=\"250px;\">Address</th>\n                                        <th width=\"100px;\">Appointed on</th>\n                                        <th width=\"100px;\">Resigned on</th>\n                                        <th width=\"100px;\">Nationality</th>\n                                        <th width=\"100px;\">Residence</th>\n                                    </tr>\n\n                                </thead>\n\n                                <tbody>\n                                    {{#payload.ppl.people}}\n                                    <tr>\n                                        <td>{{name}}</td>\n                                        <td>{{Occupation}}</td>\n                                        <td>{{Role}}</td>\n                                        <td>{{Date of birth}}</td>\n                                        <td>{{Correspondence address}}</td>\n                                        <td>{{Appointed on}}</td>\n                                        <td>{{Resigned on}}</td>\n                                        <td>{{Nationality}}</td>\n                                        <td>{{Country of residence}}</td>\n                                    </tr>\n                                    {{/payload.ppl.people}}\n                                </tbody>                           \n                            </table>\n                        </div>\n                    \n                    </div>\n\n                </div>\n            \n            </div>\n\n            <!-- row5 -->\n            <div id=\"row5\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; margin-bottom: 30px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Computer\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Related Files</div>\n\n                        <div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 40px;\"></div>\n\n                        {{#payload.files.filelist}}\n                        \n                        <div style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px;\">\n\n                            <a href={{Link}} target=\"_blank\">{{{Description}}}</a>\n                        </div>\n\n                        <div style=\"width: 100%;\">\n\n                            <i class=\"iconfont icon-time\" style=\"margin-top: 4px; float: left; margin-left: 20px;\"></i>\n\n                            <font style=\"font-size: 10px; margin-left: 10px; margin-top: 9px; float: left;\">{{Date}}</font> \n                        </div>\n\n                        {{/payload.files.filelist}}\n                    \n                    </div>\n                </div>\n            \n            </div>\n\n\n\t\t\t\n        </div>\n\n\n\n        <script type=\"text/javascript\">\n        \n            if({{payload.statements}} == true) {\n                //document.getElementById('statusIcon').style.color = \"iconfont icon-active\";\n                document.getElementById('statementTitle').innerHTML = \"Statement\";\n                document.getElementById('statementContent').innerHTML = \"{{payload.overview.statement}}\";\n            }\n            else {\n                document.getElementById('statusIcon').style.color = \"red\";\n                document.getElementById('statementTitle').innerHTML = \"Dissolved Date\";\n                document.getElementById('statementContent').innerHTML = \"{{payload.overview.dissolvedate}}\";\n            }\n\n            \n            // if(\"{{statusCode}}\" == 404){\n            //     $('chargesTitle').val(\"\");\n            //     $('chargesContent').val(\"No charges found for Company.\");\n            //     document.getElementById('chargesTitle').innerHTML = \"\"\n            //     document.getElementById('chargesDetail').style.display = \"none\";\n            //     document.getElementById('chargesTable').style.display = \"none\";\n            // }\n            // else{\n            //     $('chargesTitle').val(\"Charges\");\n            //     $('chargesContent').val(payload.charges.charges);\n            // }\n            \n            if(\"{{payload.charges.charges}}\" == \"NONE\"){\n                document.getElementById('chargesTitle').innerHTML = \"\";\n                document.getElementById('chargesContent').innerHTML = \"No charges found for Company.\";\n                document.getElementById('chargesDetail').style.display = \"none\";\n                document.getElementById('chargesTable').style.display = \"none\";\n            }\n\n        </script>\n    </body>\n</html>","output":"str","x":3200,"y":1640,"wires":[["b9c6c26e.97554"]]},{"id":"b9c6c26e.97554","type":"http response","z":"77f87c18.6f5a54","name":"","statusCode":"","headers":{},"x":3330,"y":1640,"wires":[]},{"id":"b672e237.57817","type":"watson-discovery-v1","z":"cccbf411.fc2fb8","name":"Locations","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"nested(enriched_text.entities).filter(enriched_text.entities.type:Location).term(enriched_text.entities.text)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":100,"y":560,"wires":[["fad9d440.edb1c8"]]},{"id":"fad9d440.edb1c8","type":"function","z":"cccbf411.fc2fb8","name":"Locations","func":"let locations = [];\nmsg.search_results.aggregations[0].aggregations[0].aggregations[0].results.forEach(function (item, index, array) {\n    locations.push(item.key)\n});\nmsg.ui.locations = locations;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":560,"wires":[["5cef7e95.63504"]]},{"id":"3dbae568.7d31ca","type":"watson-discovery-v1","z":"cccbf411.fc2fb8","name":"Risk","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"risk","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":90,"y":620,"wires":[["c07211a1.db155"]]},{"id":"c07211a1.db155","type":"function","z":"cccbf411.fc2fb8","name":"Risk","func":"let risks = '';\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const risk = item.passage_text + ' ';\n  risks = risks.concat('', risk);\n})\nmsg.ui.risk = risks;\nmsg.payload = risks;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":620,"wires":[["5b2cbc68.2cfa84"]]},{"id":"5cef7e95.63504","type":"watson-discovery-v1","z":"cccbf411.fc2fb8","name":"VIP","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"nested(enriched_text.entities).filter(enriched_text.entities.type::Person).term(enriched_text.entities.text)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":530,"y":560,"wires":[["45ddf367.fe21cc"]]},{"id":"45ddf367.fe21cc","type":"function","z":"cccbf411.fc2fb8","name":"VIP","func":"let vip = [];\nmsg.search_results.aggregations[0].aggregations[0].aggregations[0].results.forEach(function(item, index, array) {\n    vip.push(item.key);\n})\nmsg.ui.vip = vip;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":560,"wires":[["3dbae568.7d31ca"]]},{"id":"8481abb3.07b718","type":"watson-discovery-v1","z":"cccbf411.fc2fb8","name":"Revenue This Year","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"revenue this year","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":130,"y":680,"wires":[["2481de46.0b77b2"]]},{"id":"2481de46.0b77b2","type":"function","z":"cccbf411.fc2fb8","name":"Revenue this year","func":"let revenues = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const revenue = item.passage_text + ' ';\n  revenues = revenues.concat('', revenue);\n})\n\nmsg.ui.this_revenue = revenues;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":680,"wires":[["670e2b86.be2574"]]},{"id":"520477e2.3c48c8","type":"watson-discovery-v1","z":"cccbf411.fc2fb8","name":"EPS This Year","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"earnings per share this year","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":120,"y":920,"wires":[["a86f31fd.705e7"]]},{"id":"abe9eb29.231308","type":"watson-discovery-v1","z":"cccbf411.fc2fb8","name":"EPS Last Year","environmentname":"","environmentId":"3ebb474b-e06e-4445-9166-26c3e284f375","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"earnings per share last year","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/19e0c1e7-211a-4a4d-b37e-55cfe853a818","x":120,"y":980,"wires":[["939a1f6f.cb022"]]},{"id":"a86f31fd.705e7","type":"function","z":"cccbf411.fc2fb8","name":"EPS this year","func":"let earnings = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const eps = item.passage_text + ' ';\n  earnings = earnings.concat('', eps);\n})\n\nmsg.ui.this_eps = earnings;\nmsg.payload = earnings;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":920,"wires":[["666822e8.db73d4"]]},{"id":"939a1f6f.cb022","type":"function","z":"cccbf411.fc2fb8","name":"EPS last year","func":"let earnings = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const eps = item.passage_text + ' ';\n  earnings = earnings.concat('', eps);\n})\n\nmsg.ui.last_eps = earnings;\nmsg.payload = earnings;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":980,"wires":[["542dbdb.3fb36c4"]]},{"id":"e7e4d1ab.2bfbc","type":"http in","z":"cccbf411.fc2fb8","name":"","url":"/report","method":"get","upload":false,"swaggerDoc":"","x":110,"y":360,"wires":[["1fe65a30.2893e6"]]},{"id":"837e576f.cb5038","type":"template","z":"cccbf411.fc2fb8","name":"Financial analyser index","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<title>Financial Analyser</title>\n\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n<link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1994741_yitk9l5cgp.css\">\n\n<script src=\"https://cdn.anychart.com/releases/v8/js/anychart-base.min.js\"></script>\n<script src=\"https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js\"></script>\n\n\n<style>\n    body,\n    h1 {\n        font-family: \"Verdana\", sans-serif;\n    }\n\n    body,\n    html {\n        background-size: cover;\n        background-image: radial-gradient(#39435c, #272f3f);\n    }\n\n    .bgimg {\n        background-image: radial-gradient(#39435c, #272f3f);\n        min-height: 100%;\n        width: 100%;\n        background-position: center;\n        background-size: cover;\n    }\n\n    input[type=text] {\n        padding: 5px;\n        border: 2px solid #ccc;\n        border-radius: 5px;\n        width: 100%;\n        text-align: center\n    }\n\n    input[type=text]:focus {\n        border-color: #333;\n    }\n\n    input[type=submit] {\n        padding: 1rem;\n        font-size: 1rem;\n        padding: .5rem 3rem;\n        color: black;\n        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n        border: solid 3px transparent;\n        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n        background-origin: border-box;\n        background-clip: content-box, border-box;\n        box-shadow: 2px 1000px 1px #fff inset;\n        width: 30%;\n\n    }\n\n    input[type=submit]:hover {\n        box-shadow: none;\n        color: white;\n    }\n\n    .chooseFile {\n        cursor: pointer;\n        padding: 1rem;\n        font-size: 1rem;\n        padding: .5rem 3rem;\n        color: grey;\n        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n        border: solid 3px transparent;\n        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n        background-origin: border-box;\n        background-clip: content-box, border-box;\n        box-shadow: 2px 1000px 1px #fff inset;\n        display: inline-block;\n        width: 69%;\n\n    }\n\n    label:hover {\n        box-shadow: none;\n        color: white;\n    }\n\n    .title {\n        width: 100%;\n        font-size: 30px;\n        padding-top: 40px;\n        text-align: center;\n    }\n\n    .cardBox {\n        width: 360px;\n        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n        float: left;\n        margin-right: 6px;\n        padding: 5px;\n        background: white;\n        border-radius: 5px;\n        margin-left: 6px;\n        margin-top: 6px;\n        margin-bottom: 6px;\n    }\n\n    .feature {\n        margin-left: 10px;\n        margin-top: 10px;\n        float: left;\n        width: 70%;\n        color: black;\n        font-weight: bold;\n    }\n\n    .content {\n        margin-left: 20px;\n        margin-top: 10px;\n        float: left;\n        width: 90%;\n        color: black;\n        font-size: 160%;\n    }\n\n    .bottom {\n        margin-left: 20px;\n        margin-top: 8px;\n        float: left;\n        /*width: 90%;*/\n        color: black;\n        font-size: 100%;\n        font-weight: light;\n\n    }\n\n    table.gridtable {\n        font-family: verdana, arial, sans-serif;\n        font-size: 11px;\n        color: #333333;\n        border-width: 1px;\n        border-color: #666666;\n        border-collapse: collapse;\n    }\n\n    table.gridtable th {\n        border-width: 1px;\n        padding: 8px;\n        border-style: solid;\n        border-color: #666666;\n        background-color: #dedede;\n    }\n\n    table.gridtable td {\n        border-width: 1px;\n        padding: 8px;\n        border-style: solid;\n        border-color: #666666;\n        background-color: #ffffff;\n    }\n\n    button {\n        border-radius: 30px;\n        border: 1px;\n        text-align: center;\n        font-size: 90%;\n        height: 28px;\n        margin-left: 10px;\n    }\n</style>\n\n\n<body>\n    <div class=\"bgimg w3-display-container w3-animate-opacity\">\n        <div class=\"title w3-text-white\">Annual Report Analysis Portal</div>\n\n        <!-- row1: search suggestion-->\n        <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n            <div style=\"position: relative; left: 50%; float: left;\">\n                <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                    <i class=\"iconfont iconsearch\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                    <font class=\"feature\">Search Query</font>\n\n                    <div style=\"width: 100%; margin-left: 10px; float: left;\">\n\n                        <form action=\"/watsonhandler\" method=\"POST\" style=\"margin-top: 10px; float: left;\">\n\n                            <font for=\"query\" style=\"font-size: 100%; margin-top: 10px; margin-left: 10px;\">Enter query:\n                            </font>\n\n                            <input id=\"queryInput\" required=\"required\" type=\"text\" name=\"query\"\n                                style=\"width: 400px; height: 30px; margin-top: 6px; margin-left: 13px;\"\n                                placeholder=\"Please input the query you want to search ...\" />\n\n\n                            <font for=\"searchScope\" style=\"margin-left: 40px;\">Search Scope:</font>\n                            <select id=\"searchScope\" name=\"searchScope\" style=\"width: 150px; margin-left: 10px;\">\n                                <option value=\"Document\">Document</option>\n                                <option value=\"News\">News</option>\n                                <option value=\"Web\">Web</option>\n                            </select>\n\n                            <input type=\"submit\" value=\"Submit\"\n                                style=\"margin-left: 50px; width: 150px; height: 40px; text-align: center;\">\n\n                        </form>\n\n\n                    </div>\n\n                    <div id=\"searchSuggestion\" style=\"width: 100%; margin-left: 10px; margin-top: 20px; float: left;\">\n\n                        <button id=\"strategy\" style=\"width: 100px; background-color: #b8f1ed;\"\n                            onclick=\"ss_strategy()\">Strategy</button>\n\n                        <button id=\"innovation\" style=\"width: 110px; background-color: #b8f1ed;\"\n                            onclick=\"ss_innovation()\">Innovation</button>\n\n                        <button id=\"risk\" style=\"width: 120px; background-color: #b8f1ed;\" onclick=\"ss_risk()\">Risk\n                            Factors</button>\n\n                        <button id=\"investor\" style=\"width: 180px; background-color: #b8f1ed;\"\n                            onclick=\"ss_investor()\">Investor Proposition</button>\n\n                        <button id=\"sustainability\" style=\"width: 180px; background-color: #b8f1ed;\"\n                            onclick=\"ss_sustainability()\">Sustainability Issues</button>\n\n                        <button id=\"global\" style=\"width: 220px; background-color: #b8f1ed;\"\n                            onclick=\"ss_global()\">Global Market Performance</button>\n\n                    </div>\n\n                    <div style=\"width: 100%; margin-left: 10px; float: left; margin-top: 20px;\"></div>\n\n                </div>\n\n            </div>\n\n        </div>\n\n        <!-- row2 -->\n        <div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n\n            <div style=\"position: relative; left: 50%; float: left;\">\n\n                <div class=\"cardBox\" style=\"height: 200px;  position: relative; left: -50%;\">\n                    <i class=\"iconfont iconjobtitle\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">Title</div>\n                    <font class=\"content\" style=\"font-size: 120%;\">{{ui.title}}</font>\n                </div>\n\n                <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n                    <i class=\"iconfont iconsmile\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">Sentiment</div>\n                    <font class=\"content\" style=\"font-size: 120%; text-align: center; margin-bottom: 10px;\">\n                        {{ui.sentiment}}</font>\n                    <div style=\"width: 100%;\" align=\"center\">\n                        <img id=\"sentiment_img\" src=\"https://raw.githubusercontent.com/yamanXu/img/master/positive.png\"\n                            width=\"70px\" height=\"70px\" />\n                    </div>\n                </div>\n\n                <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n                    <i class=\"iconfont iconguanjianzhibiao\"\n                        style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">Keywords</div>\n                    <div id=\"container\" style=\"width: 100%; height: 80%;\"></div>\n                </div>\n            </div>\n        </div>\n\n        <!-- row3 -->\n\n        <div id=\"row3\" style=\"width: 100%; margin-top: 30px;\">\n            <div style=\"position: relative; left: 50%; float: left;\">\n                <div class=\"cardBox\" style=\"height: 200px;  position: relative; left: -50%;\">\n                    <i class=\"iconfont iconBuilding\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">Industry</div>\n                    <div class=\"content\" style=\"font-size: 100%; margin-left: 0px; margin-top: 0px;\">\n                        <ul id=\"industryList\"></ul>\n                    </div>\n                </div>\n\n                <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n                    <i class=\"iconfont iconpeople1\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">VIP</div>\n                    <div class=\"content\" style=\"font-size: 100%; margin-left: 0px; margin-top: 0px;\">\n                        <ul id=\"vipList\"></ul>\n                    </div>\n                </div>\n\n                <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n                    <i class=\"iconfont iconlocation\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">Locations</div>\n                    <div id=\"container-loc\" style=\"width: 100%; height: 80%;\"></div>\n                </div>\n            </div>\n\n        </div>\n\n        <!-- row 3.5: personality notations -->\n        <div id=\"row35\" style=\"width: 100%; margin-top: 30px;\">\n            <div style=\"position: relative; left: 50%; float: left;\">\n                <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n                    <div class=\"feature\" style=\"width: 27%\">Personality Insight Notations</div>\n\n                    <p class=\"content\"\n                        style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.analytical}};\">\n                        Analytical</p>\n                    <p class=\"content\"\n                        style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.anger}};\">\n                        Anger</p>\n                    <p class=\"content\"\n                        style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.confident}};\">\n                        Confident</p>\n                    <p class=\"content\"\n                        style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.fear}};\">\n                        Fear</p>\n                    <p class=\"content\"\n                        style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.joy}};\">\n                        Joy</p>\n                    <p class=\"content\"\n                        style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.sadness}};\">\n                        Sadness</p>\n                    <p class=\"content\"\n                        style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.tentative}};\">\n                        Tentative</p>\n                    <p class=\"content\"\n                        style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.na}};\">\n                        n/a</p>\n\n                </div>\n            </div>\n\n        </div>\n\n        <!-- row4 -->\n        <div id=\"row4\" style=\"width: 100%; margin-top: 30px;\">\n            <div style=\"position: relative; left: 50%; float: left;\">\n                <div class=\"cardBox\"\n                    style=\"height: auto; width: 1103px; position: relative; left: -50%; background:{{ui.risk_sentiment}};\">\n                    <i class=\"iconfont iconrisk\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">Risk</div>\n                    <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.risk}}\n                    </p>\n                </div>\n            </div>\n        </div>\n\n        <!-- row5 -->\n        <div id=\"row5\" style=\"width: 100%; margin-top: 30px;\">\n            <div style=\"position: relative; left: 50%; float: left;\">\n                <div id=\"revenue_this\" class=\"cardBox\"\n                    style=\"height: auto; width: 545px; position: relative; left: -50%; background:{{ui.this_revenue_sentiment}};\">\n                    <i class=\"iconfont iconmoney\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">Revenue (current year)</div>\n                    <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">\n                        {{ui.this_revenue}}</p>\n                </div>\n\n                <div id=\"revenue_last\" class=\"cardBox\"\n                    style=\"height: auto; width: 545px; position: relative; left: -50%; background:{{ui.last_revenue_sentiment}}; \">\n                    <i class=\"iconfont iconmoney\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">Revenue (previous year)</div>\n                    <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">\n                        {{ui.last_revenue}}</p>\n                </div>\n            </div>\n        </div>\n\n        <!-- row6 -->\n        <div id=\"row6\" style=\"width: 100%; margin-top: 30px;\">\n            <div style=\"position: relative; left: 50%; float: left;\">\n                <div id=\"eps_this\" class=\"cardBox\" style=\"width:545px; height: auto; position: relative; left: -50%;\">\n                    <i class=\"iconfont icongupiao-zuhe\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">Earnings per share (current year)</div>\n                    <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">\n                        {{ui.this_eps}}</p>\n                </div>\n\n                <div id=\"eps_last\" class=\"cardBox\" style=\"width:545px; height: auto; position: relative; left: -50%;\">\n                    <i class=\"iconfont icongupiao-zuhe\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">Earnings per share (previous year)</div>\n                    <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">\n                        {{ui.last_eps}}</p>\n                </div>\n            </div>\n        </div>\n\n        <!-- row7 -->\n        <div id=\"row7\" style=\"width: 100%; margin-top: 30px;\">\n            <div style=\"position: relative; left: 50%; float: left;\">\n                <div class=\"cardBox\"\n                    style=\"height: auto; width: 1103px; position: relative; left: -50%; background:{{ui.cash_flow_sentiment}};\">\n                    <i class=\"iconfont iconst-cash\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">Cash Flow</div>\n                    <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">\n                        {{ui.cash_flow}}</p>\n                </div>\n            </div>\n        </div>\n\n        <!-- row8 -->\n        <div id=\"row8\" style=\"width: 100%; margin-top: 30px;\">\n            <div style=\"position: relative; left: 50%; float: left; margin-bottom: 20px;\">\n                <div class=\"cardBox\"\n                    style=\"height: auto; width: 1103px; position: relative; left: -50%; background:{{ui.finance_debt_sentiment}};\">\n                    <i class=\"iconfont iconzhaiquan\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n                    <div class=\"feature\">Finance Debt</div>\n                    <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">\n                        {{ui.finance_debt}}</p>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <script type=\"text/javascript\">\n        anychart.onDocumentReady(function () {\n            let data = [\n                { x: \"{{ui.keyword.0}}\", value: 800000000 },\n                { x: \"{{ui.keyword.1}}\", value: 750000000 },\n                { x: \"{{ui.keyword.2}}\", value: 700000000 },\n                { x: \"{{ui.keyword.3}}\", value: 700000000 },\n                { x: \"{{ui.keyword.4}}\", value: 650000000 },\n                { x: \"{{ui.keyword.5}}\", value: 650000000 },\n                { x: \"{{ui.keyword.6}}\", value: 650000000 },\n                { x: \" \", value: 800 }\n            ];\n\n            let data_loc = [\n                { x: \"{{ui.locations.0}}\", value: 800000000 },\n                { x: \"{{ui.locations.1}}\", value: 750000000 },\n                { x: \"{{ui.locations.2}}\", value: 700000000 },\n                { x: \"{{ui.locations.3}}\", value: 700000000 },\n                { x: \"{{ui.locations.4}}\", value: 650000000 },\n                { x: \"{{ui.locations.5}}\", value: 650000000 },\n                { x: \"{{ui.locations.6}}\", value: 650000000 },\n                { x: \" \", value: 800 }\n            ];\n\n            // create a tag (word) cloud chart\n            let chart = anychart.tagCloud(data);\n            let chart_loc = anychart.tagCloud(data_loc);\n\n            // set an array of angles at which the words will be laid out\n            chart.angles([0]);\n            chart_loc.angles([0]);\n\n            // display the word cloud chart\n            chart.container(\"container\");\n            chart.draw();\n            chart_loc.container(\"container-loc\");\n            chart_loc.draw();\n        });\n\n        // industry\n        (function () {\n            var industry = document.getElementById('industryList');\n            var industry_html = '';\n\n            // list industries\n            for (let i = 0; i < 3; i++) {\n                if (\"{{ui.industry.\" + i + \"}}\") {\n                    industry_html += '<li>' + \"{{ui.industry.\" + i + \"}}\" + '</li>';\n                }\n            }\n            \n            if (\"{{ui.industry.0}}\") {\n                industry_html += '<li>' + \"{{ui.industry.0}}\" + '</li>';\n            }\n            if (\"{{ui.industry.1}}\"){\n                industry_html += '<li>' + \"{{ui.industry.1}}\" + '</li>';\n            }\n            if (\"{{ui.industry.2}}\"){\n                industry_html += '<li>' + \"{{ui.industry.2}}\" + '</li>';\n            }\n            if (\"{{ui.industry.3}}\"){\n                industry_html += '<li>' + \"{{ui.industry.3}}\" + '</li>';\n            }\n            if (\"{{ui.industry.4}}\"){\n                industry_html += '<li>' + \"{{ui.industry.4}}\" + '</li>';\n            }\n            if (\"{{ui.industry.5}}\"){\n                industry_html += '<li>' + \"{{ui.industry.5}}\" + '</li>';\n            }\n            \n            industry.innerHTML = industry_html;\n        })();\n\n        // vip\n        (function () {\n            var vip = document.getElementById('vipList');\n            var vip_html = '';\n\n            // list vips\n            if (\"{{ui.vip.0}}\") {\n                vip_html += '<li>' + \"{{ui.vip.0}}\" + '</li>';\n            }\n            if (\"{{ui.vip.1}}\"){\n                vip_html += '<li>' + \"{{ui.vip.1}}\" + '</li>';\n            }\n            if (\"{{ui.vip.2}}\"){\n                vip_html += '<li>' + \"{{ui.vip.2}}\" + '</li>';\n            }\n            if (\"{{ui.vip.3}}\"){\n                vip_html += '<li>' + \"{{ui.vip.3}}\" + '</li>';\n            }\n            if (\"{{ui.vip.4}}\"){\n                vip_html += '<li>' + \"{{ui.vip.4}}\" + '</li>';\n            }\n            if (\"{{ui.industry.5}}\"){\n                vip_html += '<li>' + \"{{ui.vip.5}}\" + '</li>';\n            }\n\n            vip.innerHTML = vip_html;\n        })();\n\n        // cardHeight\n        (function () {\n            var revenue_this_height = document.getElementById('revenue_this').offsetHeight;\n            var revenue_last_height = document.getElementById('revenue_last').offsetHeight;\n\n            if (revenue_this_height <= revenue_last_height) {\n                document.getElementById('revenue_this').style.height = revenue_last_height + \"px\";\n            }\n            else {\n                document.getElementById('revenue_last').style.height = revenue_this_height + \"px\";\n            }\n\n            var eps_this_height = document.getElementById('eps_this').offsetHeight;\n            var eps_last_height = document.getElementById('eps_last').offsetHeight;\n\n            if (eps_this_height <= eps_last_height) {\n                document.getElementById('eps_this').style.height = eps_last_height + \"px\";\n            }\n            else {\n                document.getElementById('eps_last').style.height = eps_this_height + \"px\";\n            }\n        })();\n\n        // tags\n        function ss_strategy() {\n            document.getElementById('queryInput').value = document.getElementById('strategy').innerHTML;\n        }\n\n        function ss_innovation() {\n            document.getElementById('queryInput').value = document.getElementById('innovation').innerHTML;\n        }\n\n        function ss_risk() {\n            document.getElementById('queryInput').value = document.getElementById('risk').innerHTML;\n        }\n\n        function ss_investor() {\n            document.getElementById('queryInput').value = document.getElementById('investor').innerHTML;\n        }\n\n        function ss_sustainability() {\n            document.getElementById('queryInput').value = document.getElementById('sustainability').innerHTML;\n        }\n\n        function ss_global() {\n            document.getElementById('queryInput').value = document.getElementById('global').innerHTML;\n        }\n\n\n        // sentiment analysis\n        (function () {\n            var sentiment = \"{{ui.sentiment}}\";\n\n            if (sentiment == \"positive\") {\n                document.getElementById('sentiment_img').src = \"https://raw.githubusercontent.com/yamanXu/img/master/positive.png\";\n            }\n\n            if (sentiment == \"neutral\") {\n                document.getElementById('sentiment_img').src = \"https://raw.githubusercontent.com/yamanXu/img/master/neutral.png\";\n            }\n\n            if (sentiment == \"negative\") {\n                document.getElementById('sentiment_img').src = \"https://raw.githubusercontent.com/yamanXu/img/master/negative.png\"\n            }\n        })();\n    </script>\n</body>\n\n</html>","output":"str","x":370,"y":1060,"wires":[["87735149.089c18"]]},{"id":"87735149.089c18","type":"http response","z":"cccbf411.fc2fb8","name":"index","statusCode":"","headers":{},"x":570,"y":1060,"wires":[]},{"id":"5523bd53.0b9e7c","type":"template","z":"fdcf4ad6.f8ad68","name":"Search result for document","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1994741_yitk9l5cgp.css\">\n\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-base.min.js\"></script>\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js\"></script>\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n            padding-top: 40px;\n            text-align: center;\n        }\n        \n        .cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n            background: white;\n            border-radius: 5px;\n            margin-left: 6px;\n            margin-top: 6px;\n            margin-bottom: 6px;\n        }\n        \n        .feature {\n            margin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n            color: grey;\n            font-weight: bold;\n        }\n        \n        .content {\n            margin-left: 20px;\n            margin-top: 10px;\n            float: left;\n            width: 90%;\n            color: black;\n            font-size: 160%; \n        }\n        \n        .bottom {\n            margin-left: 20px;\n            margin-top: 8px;\n            float: left:\n            /*width: 90%;*/\n            color: black;\n            font-size: 100%;\n            font-weight: light;\n        \n        }\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n        button {\n            border-radius: 30px;\n            border: 1px;\n            text-align: center;\n            font-size: 90%; \n            height: 28px;\n            margin-left: 10px;\n        }\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Annual Report Analysis Portal</div>\n            \n            <!-- row1: search suggestion-->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsearch\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <font class=\"feature\">Search Query</font>\n\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left;\">\n\n                                <form action=\"/watsonhandler\" method=\"POST\" style=\"margin-top: 10px; float: left;\">\n\n                                    <font for=\"query\" style=\"font-size: 100%; margin-top: 10px; margin-left: 10px;\">Enter query:</font>\n\n                                    <input id=\"queryInput\" required=\"required\" type=\"text\" name=\"query\" style=\"width: 400px; height: 30px; margin-top: 6px; margin-left: 13px;\" placeholder=\"Please input the query you want to search ...\"/>\n\n                                    \n                                    <font for=\"searchScope\" style=\"margin-left: 40px;\" >Search Scope:</font>\n                                    <select id=\"searchScope\" name=\"searchScope\" style=\"width: 150px; margin-left: 10px;\">\n                                        <option value=\"Document\">Document</option>\n                                        <option value=\"News\">News</option>\n                                        <option value=\"Web\">Web</option>\n                                    </select>\n\n                                    <input type=\"submit\" value=\"Submit\" style=\"margin-left: 50px; width: 150px; height: 40px; text-align: center;\">\n\n                                </form>\n                                \n\n                            </div>\n\n                            <div id=\"searchSuggestion\" style=\"width: 100%; margin-left: 10px; margin-top: 20px; float: left;\">\n\n                                <button id=\"strategy\" style=\"width: 100px; background-color: #b8f1ed;\" onclick=\"ss_strategy()\">Strategy</button>\n\n                                <button id=\"innovation\" style=\"width: 110px; background-color: #b8f1ed;\" onclick=\"ss_innovation()\">Innovation</button>\n\n                                <button id=\"risk\" style=\"width: 120px; background-color: #b8f1ed;\" onclick=\"ss_risk()\">Risk Factors</button>\n\n                                <button id=\"investor\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_investor()\">Investor Proposition</button>\n\n                                <button id=\"sustainability\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_sustainability()\">Sustainability Issues</button>\n\n                                <button id=\"global\" style=\"width: 220px; background-color: #b8f1ed;\" onclick=\"ss_global()\">Global Market Performance</button>\n\n                            </div>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left; margin-top: 20px;\"></div>\n\n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row2 -->\n\n            <div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconjobtitle\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <div class=\"feature\">Relevant Paragraph</div>\n                    \n                        <font class=\"content\" style=\"font-size: 100%; margin-bottom: 20px;\">{{payload.result.0.passage_text}}</font>\n\n\n\n                    </div>\n\n\n                </div>\n                \n            </div>\n\n\n\n            \n        </div>\n\n\n\n        <script type=\"text/javascript\">\n        \n\n        </script>\n\n    </body>\n</html>","output":"str","x":1500,"y":1140,"wires":[["b1229b56.114aa"]]},{"id":"b1229b56.114aa","type":"http response","z":"fdcf4ad6.f8ad68","name":"","statusCode":"","headers":{},"x":1710,"y":1140,"wires":[]},{"id":"79cd4a12.4c984c","type":"template","z":"fdcf4ad6.f8ad68","name":"Search result for News","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1994741_yitk9l5cgp.css\">\n\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-base.min.js\"></script>\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js\"></script>\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n            padding-top: 40px;\n            text-align: center;\n        }\n        \n        .cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n            background: white;\n            border-radius: 5px;\n            margin-left: 6px;\n            margin-top: 6px;\n            margin-bottom: 6px;\n        }\n        \n        .feature {\n            margin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n            color: grey;\n            font-weight: bold;\n        }\n        \n        .content {\n            margin-left: 20px;\n            margin-top: 10px;\n            float: left;\n            width: 90%;\n            color: black;\n            font-size: 160%; \n        }\n        \n        .bottom {\n            margin-left: 20px;\n            margin-top: 8px;\n            float: left:\n            /*width: 90%;*/\n            color: black;\n            font-size: 100%;\n            font-weight: light;\n        \n        }\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n        button {\n            border-radius: 30px;\n            border: 1px;\n            text-align: center;\n            font-size: 90%; \n            height: 28px;\n            margin-left: 10px;\n        }\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Annual Report Analysis Portal</div>\n            \n            <!-- row1: search suggestion-->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsearch\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <font class=\"feature\">Search Query</font>\n\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left;\">\n\n                                <form action=\"/watsonhandler\" method=\"POST\" style=\"margin-top: 10px; float: left;\">\n\n                                    <font for=\"query\" style=\"font-size: 100%; margin-top: 10px; margin-left: 10px;\">Enter query:</font>\n\n                                    <input id=\"queryInput\" required=\"required\" type=\"text\" name=\"query\" style=\"width: 400px; height: 30px; margin-top: 6px; margin-left: 13px;\" placeholder=\"Please input the query you want to search ...\"/>\n\n                                    \n                                    <font for=\"searchScope\" style=\"margin-left: 40px;\" >Search Scope:</font>\n                                    <select id=\"searchScope\" name=\"searchScope\" style=\"width: 150px; margin-left: 10px;\">\n                                        <option value=\"Document\">Document</option>\n                                        <option value=\"News\" selected = \"selected\">News</option>\n                                        <option value=\"Web\">Web</option>\n                                    </select>\n\n                                    <input type=\"submit\" value=\"Submit\" style=\"margin-left: 50px; width: 150px; height: 40px; text-align: center;\">\n\n                                </form>\n                                \n\n                            </div>\n\n                            <div id=\"searchSuggestion\" style=\"width: 100%; margin-left: 10px; margin-top: 20px; float: left;\">\n\n                                <button id=\"strategy\" style=\"width: 100px; background-color: #b8f1ed;\" onclick=\"ss_strategy()\">Strategy</button>\n\n                                <button id=\"innovation\" style=\"width: 110px; background-color: #b8f1ed;\" onclick=\"ss_innovation()\">Innovation</button>\n\n                                <button id=\"risk\" style=\"width: 120px; background-color: #b8f1ed;\" onclick=\"ss_risk()\">Risk Factors</button>\n\n                                <button id=\"investor\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_investor()\">Investor Proposition</button>\n\n                                <button id=\"sustainability\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_sustainability()\">Sustainability Issues</button>\n\n                                <button id=\"global\" style=\"width: 220px; background-color: #b8f1ed;\" onclick=\"ss_global()\">Global Market Performance</button>\n\n                            </div>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left; margin-top: 20px;\"></div>\n\n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row2 -->\n\n            <div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconjobtitle\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <div class=\"feature\">Relevant Paragraph</div>\n                    \n                        <font class=\"content\" style=\"font-size: 100%; margin-bottom: 20px;\">{{{payload}}}</font>\n\n\n\n                    </div>\n\n\n                </div>\n                \n            </div>\n\n\n\n            \n        </div>\n\n\n\n        <script type=\"text/javascript\">\n    \n        \n\n        </script>\n\n    </body>\n</html>","output":"str","x":1300,"y":740,"wires":[["a0b47e66.f987d"]]},{"id":"efd63ca3.154dc8","type":"http request","z":"fdcf4ad6.f8ad68","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://node-red-ucl-2020.eu-gb.mybluemix.net/chquerycompany","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":800,"wires":[["66381242.8fa8c4"]]},{"id":"48949a37.c2f17c","type":"debug","z":"fdcf4ad6.f8ad68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":740,"wires":[]},{"id":"5cfb57b3.0c6d38","type":"function","z":"fdcf4ad6.f8ad68","name":"","func":"msg.payload.company = msg.queryParams.queryterm;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":800,"wires":[["efd63ca3.154dc8"]]},{"id":"66381242.8fa8c4","type":"http response","z":"fdcf4ad6.f8ad68","name":"","statusCode":"","headers":{},"x":1250,"y":800,"wires":[]},{"id":"814c2000.b7d148","type":"debug","z":"77f87c18.6f5a54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":400,"wires":[]},{"id":"f610e4bd.51ef48","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search risk for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"risk","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":660,"wires":[["b482a5bb.01b948"]]},{"id":"4b0997c7.5e09f8","type":"debug","z":"fdcf4ad6.f8ad68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":680,"wires":[]},{"id":"41552470.f80d8c","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search vip for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"vip","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":620,"wires":[["b482a5bb.01b948"]]},{"id":"674b3194.b92b2","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search keyword for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"keyword","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":580,"wires":[["b482a5bb.01b948"]]},{"id":"5c344912.1cb088","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search location for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"location","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":540,"wires":[[]]},{"id":"6b0b858c.42415c","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search debt for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"debt","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":500,"wires":[["b482a5bb.01b948"]]},{"id":"48d87c81.18a914","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search revenue this year for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"revenue in this year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":420,"wires":[["b482a5bb.01b948"]]},{"id":"20355732.94a8e8","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search revenue last year for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"revenue in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":380,"wires":[["b482a5bb.01b948"]]},{"id":"43ceda37.685f94","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search cash flow for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"cash flow","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":460,"wires":[["b482a5bb.01b948"]]},{"id":"f0524e3b.8a4b","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search eps last year for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"earning per share in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":340,"wires":[[]]},{"id":"f66f329f.bce0e","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search eps this year for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"earning per share in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":300,"wires":[["b482a5bb.01b948"]]},{"id":"a2ebbb42.1d7568","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search empty for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":260,"wires":[["b482a5bb.01b948"]]},{"id":"bfdfea1d.ad6128","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search invalid query for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"@@@","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":220,"wires":[["b482a5bb.01b948"]]},{"id":"7619fe37.f141f","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search risk for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"location","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":900,"wires":[["c82a61ec.e0818"]]},{"id":"546c0749.e8f188","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search vip for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"vip","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":1260,"wires":[["c82a61ec.e0818"]]},{"id":"d25bbfe0.8a53a","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search keyword for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"keyword","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1220,"wires":[["c82a61ec.e0818"]]},{"id":"c6255480.5f38a8","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search location for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"location","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1180,"wires":[["c82a61ec.e0818"]]},{"id":"60dde8e9.e53518","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search debt for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"debt","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":1140,"wires":[["c82a61ec.e0818"]]},{"id":"4a7fb7d9.c431e8","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search revenue this year for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"revenue in this year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1060,"wires":[["c82a61ec.e0818"]]},{"id":"b970f127.ec05b","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search revenue last year for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"revenue in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1020,"wires":[["c82a61ec.e0818"]]},{"id":"67f6572a.8ada98","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search cash flow for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"cash flow","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1100,"wires":[["c82a61ec.e0818"]]},{"id":"acb45a9.904eaa8","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search eps last year for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"earning per share in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":980,"wires":[["c82a61ec.e0818"]]},{"id":"d1556f78.ff415","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search eps this year for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"earning per share in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":940,"wires":[["c82a61ec.e0818"]]},{"id":"12c3e793.a87d88","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search empty for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":860,"wires":[["c82a61ec.e0818"]]},{"id":"7392f760.94a988","type":"inject","z":"fdcf4ad6.f8ad68","name":"Search invalid query for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"@@@","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":820,"wires":[["c82a61ec.e0818"]]},{"id":"5b2cbc68.2cfa84","type":"watson-tone-analyzer-v3","z":"cccbf411.fc2fb8","name":"Risk","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/8ab8e103-b3cf-417e-8d00-083f5f80e577","x":530,"y":620,"wires":[["603cff1b.65db"]]},{"id":"603cff1b.65db","type":"function","z":"cccbf411.fc2fb8","name":"Risk (personality)","func":"let max_score = 0;\nlet max_index = -1;\n\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.risk_sentiment = msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":620,"wires":[["8481abb3.07b718"]]},{"id":"670e2b86.be2574","type":"watson-tone-analyzer-v3","z":"cccbf411.fc2fb8","name":"Revenue this year","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/8ab8e103-b3cf-417e-8d00-083f5f80e577","x":570,"y":680,"wires":[["1db47f6a.d17311"]]},{"id":"1db47f6a.d17311","type":"function","z":"cccbf411.fc2fb8","name":"Revenue this year (personality)","func":"let max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.this_revenue_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":680,"wires":[["376dd985.109e7e"]]},{"id":"afab7308.3b93d","type":"watson-tone-analyzer-v3","z":"cccbf411.fc2fb8","name":"Revenue last year","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/8ab8e103-b3cf-417e-8d00-083f5f80e577","x":570,"y":740,"wires":[["927b627a.682068"]]},{"id":"927b627a.682068","type":"function","z":"cccbf411.fc2fb8","name":"Revenue last year (personality)","func":"let max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.last_revenue_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":740,"wires":[["dcbab357.47fad8"]]},{"id":"32f42cb.fa489d4","type":"watson-tone-analyzer-v3","z":"cccbf411.fc2fb8","name":"Cash flow","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/8ab8e103-b3cf-417e-8d00-083f5f80e577","x":540,"y":800,"wires":[["c27a0362.53c528"]]},{"id":"c27a0362.53c528","type":"function","z":"cccbf411.fc2fb8","name":"Cash flow (personality)","func":"// msg.ui.cash_flow_sentiment = msg.response.document_tone;\n\nlet max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.cash_flow_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":800,"wires":[["d1bcd020.9ae708"]]},{"id":"4de8f458.aa287c","type":"watson-tone-analyzer-v3","z":"cccbf411.fc2fb8","name":"Finance debt","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/8ab8e103-b3cf-417e-8d00-083f5f80e577","x":550,"y":860,"wires":[["774420a6.e8f1a8"]]},{"id":"774420a6.e8f1a8","type":"function","z":"cccbf411.fc2fb8","name":"Finance debt (personality)","func":"// msg.ui.finance_debt_sentiment = msg.response.document_tone;\n\nlet max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.finance_debt_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":860,"wires":[["520477e2.3c48c8"]]},{"id":"83a79f98.a08958","type":"function","z":"cccbf411.fc2fb8","name":"EPS this year (personality)","func":"// msg.ui.this_eps_sentiment = msg.response.document_tone;\n\nlet max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.this_eps_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":920,"wires":[["abe9eb29.231308"]]},{"id":"666822e8.db73d4","type":"watson-tone-analyzer-v3","z":"cccbf411.fc2fb8","name":"EPS this year","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/8ab8e103-b3cf-417e-8d00-083f5f80e577","x":550,"y":920,"wires":[["83a79f98.a08958"]]},{"id":"235c15a6.0c7602","type":"function","z":"cccbf411.fc2fb8","name":"EPS last year (personality)","func":"// msg.ui.last_eps_sentiment = msg.response.document_tone;\n\nlet max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.last_eps_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":980,"wires":[["6dc3c002.acd3b","837e576f.cb5038"]]},{"id":"542dbdb.3fb36c4","type":"watson-tone-analyzer-v3","z":"cccbf411.fc2fb8","name":"EPS last year","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/8ab8e103-b3cf-417e-8d00-083f5f80e577","x":550,"y":980,"wires":[["235c15a6.0c7602"]]},{"id":"16e2eafa.bf4c15","type":"inject","z":"77f87c18.6f5a54","name":"make request without statements","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"09854375","payload":"","payloadType":"date","x":130,"y":660,"wires":[["8bf5a70e.d59b38"]]},{"id":"da5fb395.7532b","type":"inject","z":"77f87c18.6f5a54","name":"make request without charges","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"09678867","payload":"","payloadType":"date","x":140,"y":700,"wires":[["8bf5a70e.d59b38"]]},{"id":"5b2af312.8555dc","type":"inject","z":"77f87c18.6f5a54","name":"make request valid","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"joe & the juice","payload":"","payloadType":"date","x":170,"y":240,"wires":[["42498f31.aeb17"]]},{"id":"1f211f17.f7a601","type":"http request","z":"77f87c18.6f5a54","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":260,"wires":[["79fa7898.47ab48"]]},{"id":"42498f31.aeb17","type":"function","z":"77f87c18.6f5a54","name":"set url","func":"msg.topic = msg.topic.split(\"%\").join(\"%25\");\nmsg.topic = msg.topic.split(\"+\").join(\"%2B\");\nrefinedquery = msg.topic.split(/\\s+/).join(\"+\");\n\n// refinedquery = encodeURIComponent(refinedquery);\n// error above due to spaces and + and other special characters\nrefinedquery = refinedquery.split(\"&\").join(\"%26\");\nrefinedquery = refinedquery.split(\"\\/\").join(\"%2F\");\nrefinedquery = refinedquery.split(\"\\\\\").join(\"%5C\");\nrefinedquery = refinedquery.split(\"!\").join(\"%21\");\nrefinedquery = refinedquery.split(\"\\'\").join(\"%27\");\nrefinedquery = refinedquery.split(\"\\(\").join(\"%28\");\nrefinedquery = refinedquery.split(\"\\)\").join(\"%29\");\nrefinedquery = refinedquery.split(\"#\").join(\"%23\");\nrefinedquery = refinedquery.split(\"$\").join(\"%24\");\nrefinedquery = refinedquery.split(\",\").join(\"%2C\");\n\n\nmsg.url = \"https://beta.companieshouse.gov.uk/search?q=\" + refinedquery;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":260,"wires":[["72efa6e7.202318"]]},{"id":"79fa7898.47ab48","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"ul.results-list","ret":"html","as":"single","x":1030,"y":260,"wires":[["16a6478c.4a4068","74f81749.e4ede8","c4051f4c.f2f85"]]},{"id":"2600923c.40f01e","type":"comment","z":"77f87c18.6f5a54","name":"Getting List of companies","info":"","x":150,"y":100,"wires":[]},{"id":"84536bb7.cf0a68","type":"html","z":"77f87c18.6f5a54","name":"","property":"payload","outproperty":"payload","tag":"li.type-company","ret":"html","as":"single","x":1740,"y":200,"wires":[["9e39dd0c.4c582"]]},{"id":"9f9ff27b.f916","type":"debug","z":"77f87c18.6f5a54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2210,"y":260,"wires":[]},{"id":"9e39dd0c.4c582","type":"function","z":"77f87c18.6f5a54","name":"Obtain Company Numbers and Names","func":"arrlen = msg.payload.length;\nallcompnumbers = []\nallcompnames = []\nfor(var i=0; i<arrlen; i++){\n    // Obtain Company Numbers\n    compnumbindex = msg.payload[i].indexOf(\"a href=\\\"\\/company\\/\");\n    if (compnumbindex != -1){\n        compnumbindex = compnumbindex + 17;\n        compnumber = msg.payload[i].substring(compnumbindex);\n        compnumber = compnumber.split(\"\\\"\")[0];\n        allcompnumbers = allcompnumbers.concat([compnumber]);\n    }\n    else {\n        msg.payload = \"COMPANY NUMBER ERRROR!\";\n        return msg;\n    } \n    // Obtain Company Names\n    compnameindex = msg.payload[i].indexOf(\"View company\");\n    if (compnameindex != -1){\n        compnameindex = compnameindex + 14;\n        compname = msg.payload[i].substring(compnameindex);\n        nameend = compname.indexOf(\"<\\/a>\");\n        if (nameend == -1){\n            msg.payload = \"COMPANY NAME ERRROR!\";\n            return msg;\n        }\n        compname = compname.substring(0, nameend);\n        \n        // check if <strong> is used\n        if (compname.includes(\"<strong>\")){\n            compname = compname.replace(\"<strong>\",'');\n            compname = compname.replace(\"</strong>\",'');\n        }\n        compname = compname.trim();\n        compname = compname.replace(/<\\/?[^>]+(>|$)/g, \"\");\n        allcompnames = allcompnames.concat([compname]);\n    }\n    else {\n        msg.payload = \"COMPANY NAME ERRROR!\";\n        return msg;\n    } \n    \n}\n// Map names to numbers\nmsg.compnumbers = allcompnumbers;\nmsg.compnames = allcompnames;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":200,"wires":[["27f97b5.6595f84"]]},{"id":"72efa6e7.202318","type":"switch","z":"77f87c18.6f5a54","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"45","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":260,"wires":[["1f211f17.f7a601"]]},{"id":"c6f2cbec.844258","type":"function","z":"77f87c18.6f5a54","name":"Change payload to non-array","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":200,"wires":[["84536bb7.cf0a68"]]},{"id":"16a6478c.4a4068","type":"switch","z":"77f87c18.6f5a54","name":"relevant results","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":200,"wires":[["c6f2cbec.844258"]]},{"id":"74f81749.e4ede8","type":"switch","z":"77f87c18.6f5a54","name":"No Relevant Results","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":260,"wires":[["f74e6c8f.6f2b1"]]},{"id":"c4051f4c.f2f85","type":"switch","z":"77f87c18.6f5a54","name":"Too many results (ERROR)","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1260,"y":320,"wires":[["9c70f35e.dac11"]]},{"id":"f74e6c8f.6f2b1","type":"debug","z":"77f87c18.6f5a54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1450,"y":260,"wires":[]},{"id":"9c70f35e.dac11","type":"debug","z":"77f87c18.6f5a54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1450,"y":320,"wires":[]},{"id":"a10d0b94.c636e8","type":"inject","z":"77f87c18.6f5a54","name":"make request no results","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"asjsajks","payload":"","payloadType":"date","x":160,"y":280,"wires":[["42498f31.aeb17"]]},{"id":"421728ff.938618","type":"inject","z":"77f87c18.6f5a54","name":"make request empty","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":170,"y":320,"wires":[["42498f31.aeb17"]]},{"id":"5b10a570.bade5c","type":"inject","z":"77f87c18.6f5a54","name":"make request simple","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"facebook","payload":"","payloadType":"date","x":170,"y":200,"wires":[["42498f31.aeb17"]]},{"id":"29c16a62.641586","type":"http in","z":"77f87c18.6f5a54","name":"","url":"/chquerycompany","method":"post","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["f18a9b06.c55048"]]},{"id":"f18a9b06.c55048","type":"function","z":"77f87c18.6f5a54","name":"Set topic","func":"msg.topic = msg.payload.company;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["42498f31.aeb17"]]},{"id":"27f97b5.6595f84","type":"function","z":"77f87c18.6f5a54","name":"Set payload","func":"msg.payload = [];\narrlen = msg.compnumbers.length;\nfor(var i=0; i<arrlen; i++){\n    thiscomp = {};\n    thiscomp['compname'] = msg.compnames[i];\n    thiscomp['compno'] = msg.compnumbers[i];\n    msg.payload[i]= thiscomp;\n}\ndelete msg['compnumbers'];\ndelete msg['compnames'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2230,"y":200,"wires":[["9f9ff27b.f916","913fa8ff.14b548"]]},{"id":"ec12b23f.e37c3","type":"http response","z":"77f87c18.6f5a54","name":"","statusCode":"","headers":{},"x":2610,"y":200,"wires":[]},{"id":"913fa8ff.14b548","type":"template","z":"77f87c18.6f5a54","name":"Search result for Web","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1994741_yitk9l5cgp.css\">\n\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-base.min.js\"></script>\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js\"></script>\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        .searchSubmit {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        .searchSubmit:focus {\n            border-color:#333;\n        }\n\n        .searchSubmit {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        .searchSubmit:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n            padding-top: 40px;\n            text-align: center;\n        }\n        \n        .cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n            background: white;\n            border-radius: 5px;\n            margin-left: 6px;\n            margin-top: 6px;\n            margin-bottom: 6px;\n        }\n        \n        .feature {\n            margin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n            color: grey;\n            font-weight: bold;\n        }\n        \n        .content {\n            margin-left: 20px;\n            margin-top: 10px;\n            float: left;\n            width: 90%;\n            color: black;\n            font-size: 160%; \n        }\n        \n        .bottom {\n            margin-left: 20px;\n            margin-top: 8px;\n            float: left:\n            /*width: 90%;*/\n            color: black;\n            font-size: 100%;\n            font-weight: light;\n        \n        }\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n        button {\n            border-radius: 30px;\n            border: 1px;\n            text-align: center;\n            font-size: 90%; \n            height: 28px;\n            margin-left: 10px;\n        }\n        \n        font.visible {visibility:visible}\n        font.invisible {display: none;}\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Annual Report Analysis Portal</div>\n            \n            <!-- row1: search suggestion-->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsearch\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <font class=\"feature\">Search Query</font>\n\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left;\">\n\n                                <form action=\"/watsonhandler\" method=\"POST\" style=\"margin-top: 10px; float: left;\">\n\n                                    <font for=\"query\" style=\"font-size: 100%; margin-top: 10px; margin-left: 10px;\">Enter query:</font>\n\n                                    <input id=\"queryInput\" required=\"required\" type=\"text\" name=\"query\" style=\"width: 400px; height: 30px; margin-top: 6px; margin-left: 13px;\" placeholder=\"Please input the query you want to search ...\"/>\n\n                                    \n                                    <font for=\"searchScope\" style=\"margin-left: 40px;\" >Search Scope:</font>\n                                    <select id=\"searchScope\" name=\"searchScope\" style=\"width: 150px; margin-left: 10px;\">\n                                        <option value=\"Document\">Document</option>\n                                        <option value=\"News\">News</option>\n                                        <option value=\"Web\" selected = \"selected\">Web</option>\n                                    </select>\n\n                                    <input id=\"searchSubmit\" type=\"submit\" value=\"Submit\" style=\"margin-left: 50px; width: 150px; height: 40px; text-align: center;\">\n\n                                </form>\n                                \n\n                            </div>\n\n                            <div id=\"searchSuggestion\" style=\"width: 100%; margin-left: 10px; margin-top: 20px; float: left;\">\n\n                                <button id=\"strategy\" style=\"width: 100px; background-color: #b8f1ed;\" onclick=\"ss_strategy()\">Strategy</button>\n\n                                <button id=\"innovation\" style=\"width: 110px; background-color: #b8f1ed;\" onclick=\"ss_innovation()\">Innovation</button>\n\n                                <button id=\"risk\" style=\"width: 120px; background-color: #b8f1ed;\" onclick=\"ss_risk()\">Risk Factors</button>\n\n                                <button id=\"investor\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_investor()\">Investor Proposition</button>\n\n                                <button id=\"sustainability\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_sustainability()\">Sustainability Issues</button>\n\n                                <button id=\"global\" style=\"width: 220px; background-color: #b8f1ed;\" onclick=\"ss_global()\">Global Market Performance</button>\n\n                            </div>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left; margin-top: 20px;\"></div>\n\n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row2 -->\n\n            <div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconjobtitle\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <div class=\"feature\">Company List</div>\n                    \n                        <div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 40px;\"></div>\n                        \n                        <font id=\"NoCompanyFound\" class=\"invisible\" style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px; margin-bottom: 20px;\">No Company Found</font>\n                        \n                        {{#payload}}\n\n                        <div style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px;\">\n                            \n                            \n\n                            <form action=\"/retcompdetails\" method=\"POST\">\n\n                                <font>[</font>\n\n                                <font>{{compno}}</font>\n\n                                <font>]</font>\n\n                                <font style=\"margin-left: 15px;\">{{{compname}}}</font>\n                                \n                                <input type=\"hidden\" name=\"company\" value={{compno}} />\n\n                                <input type=\"submit\" value=\"see more\" style=\"margin-left: 15px;\">\n                        \n                            </form>\n\n                        </div>\n\n                        {{/payload}}\n                        \n                    </div>\n\n\n                </div>\n                \n            </div>\n            \n        </div>\n\n        <script type=\"text/javascript\">\n        \n            if(\"{{payload}}\" == \"\"){\n                \n                document.getElementById(\"NoCompanyFound\").className = 'visible';\n                \n            }\n        \n\n        </script>\n\n    </body>\n</html>","output":"str","x":2440,"y":200,"wires":[["ec12b23f.e37c3"]]},{"id":"432a5d8b.c2b0b4","type":"comment","z":"e1c2d824.343838","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":520,"y":60,"wires":[]},{"id":"cdd85881.948848","type":"comment","z":"e1c2d824.343838","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":1320,"y":140,"wires":[]},{"id":"77c15955.077fa8","type":"comment","z":"e1c2d824.343838","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":1720,"y":140,"wires":[]},{"id":"afd4562b.ea4178","type":"comment","z":"e1c2d824.343838","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":460,"y":300,"wires":[]},{"id":"f4e2d459.fa8b28","type":"comment","z":"fdcf4ad6.f8ad68","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":920,"y":620,"wires":[]},{"id":"83aa3db1.b57a8","type":"comment","z":"fdcf4ad6.f8ad68","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":920,"y":920,"wires":[]},{"id":"a1f92bad.c1fa58","type":"comment","z":"fdcf4ad6.f8ad68","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":1340,"y":920,"wires":[]},{"id":"70be4ea6.69d52","type":"comment","z":"fdcf4ad6.f8ad68","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":1140,"y":1040,"wires":[]},{"id":"3e3259df.ac7676","type":"comment","z":"cccbf411.fc2fb8","name":"REPLACE PLACEHOLDERS IN ALL DISCOVERY NODE (DARK ORANGE) AND INSIGHTS NODE (BLUE) BELOW","info":"","x":420,"y":220,"wires":[]},{"id":"b7c3a4e3.6b0708","type":"comment","z":"cccbf411.fc2fb8","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":460,"y":40,"wires":[]},{"id":"b8781873.b68b28","type":"template","z":"e02bd2c4.012e9","name":"try createnv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to create environments</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n         xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                document.getElementById(\"display\").innerHTML = \"ENVIRONMENT CREATED\";\n            }\n        }\n        \n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments?version=2019-04-30\";\n\n        xmlHttp.open(\"POST\", url);\n\n        xmlHttp.setRequestHeader(\"Content-Type\",\"application/json\");\n        \n        \n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        \n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));   \n        xmlHttp.send(JSON.stringify({\"name\":\"my_environment\",\"description\":\"My environment\"}));\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":470,"y":260,"wires":[["144e8f6c.a24491"]]},{"id":"19ed8e41.311e92","type":"http in","z":"e02bd2c4.012e9","name":"","url":"/makeenv","method":"get","upload":false,"swaggerDoc":"","x":220,"y":260,"wires":[["b8781873.b68b28"]]},{"id":"144e8f6c.a24491","type":"http response","z":"e02bd2c4.012e9","name":"","statusCode":"","headers":{},"x":690,"y":260,"wires":[]},{"id":"289ba64b.48a7ba","type":"template","z":"e02bd2c4.012e9","name":"try listenv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to list environments</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n        xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                result = xmlHttp.responseText;\n                document.getElementById(\"display\").innerHTML = result;\n            }\n        }\n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments?version=2019-04-30\";\n        \n        xmlHttp.open(\"GET\", url);\n        \n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        \n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));   \n        xmlHttp.send();\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":460,"y":160,"wires":[["b8933aae.868e88"]]},{"id":"c7177bf7.bd81e8","type":"http in","z":"e02bd2c4.012e9","name":"","url":"/listenv","method":"get","upload":false,"swaggerDoc":"","x":210,"y":160,"wires":[["289ba64b.48a7ba"]]},{"id":"b8933aae.868e88","type":"http response","z":"e02bd2c4.012e9","name":"","statusCode":"","headers":{},"x":690,"y":160,"wires":[]},{"id":"12e028db.b5cca7","type":"template","z":"e02bd2c4.012e9","name":"try listcoll","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to list collections</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n        xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                result = xmlHttp.responseText;\n                document.getElementById(\"display\").innerHTML = result;\n            }\n        }\n        \n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments/\" + \"placeholderenvid\" + \"/collections?version=2019-04-30\";\n               \n        xmlHttp.open(\"GET\", url);\n\n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        \n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));   \n        xmlHttp.send();\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":460,"y":560,"wires":[["8e63fccf.e088c"]]},{"id":"fb34d6a2.93eef8","type":"http in","z":"e02bd2c4.012e9","name":"","url":"/listcoll","method":"get","upload":false,"swaggerDoc":"","x":210,"y":560,"wires":[["12e028db.b5cca7"]]},{"id":"8e63fccf.e088c","type":"http response","z":"e02bd2c4.012e9","name":"","statusCode":"","headers":{},"x":690,"y":560,"wires":[]},{"id":"b1103188.dd32a","type":"template","z":"e02bd2c4.012e9","name":"try makecoll","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to create collection</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n         xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                document.getElementById(\"display\").innerHTML = \"Collection CREATED\";\n            }\n        }\n        \n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments/\" + \"placeholderenvid\" + \"/collections?version=2019-04-30\";\n        \n        xmlHttp.open(\"POST\", url);\n        xmlHttp.setRequestHeader(\"Content-Type\",\"application/json\");\n        \n        \n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));\n        \n        \n        // TODO - REPLACE placeholder below\n        var configid = \"placeholderconfigid\";\n        \n        xmlHttp.send(JSON.stringify({\"name\":\"test_collection\",\"description\":\"My testcoll\",\"configuration_id\":configid,\"language\":\"en\"}));\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":470,"y":460,"wires":[["7da53a99.ffa444"]]},{"id":"800bb77f.70bf98","type":"http in","z":"e02bd2c4.012e9","name":"","url":"/makecoll","method":"get","upload":false,"swaggerDoc":"","x":220,"y":460,"wires":[["b1103188.dd32a"]]},{"id":"7da53a99.ffa444","type":"http response","z":"e02bd2c4.012e9","name":"","statusCode":"","headers":{},"x":690,"y":460,"wires":[]},{"id":"87655ef6.0ff65","type":"template","z":"e02bd2c4.012e9","name":"try listconfigs","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to list configs</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n        xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                result = xmlHttp.responseText;\n                document.getElementById(\"display\").innerHTML = result;\n            }\n        }\n        \n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments/\" + \"placeholderenvid\" + \"/configurations?version=2019-04-30\";\n        \n        xmlHttp.open(\"GET\", url);\n\n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        \n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));   \n        xmlHttp.send();\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":470,"y":360,"wires":[["15224276.9ed59e"]]},{"id":"a89ef0a5.15342","type":"http in","z":"e02bd2c4.012e9","name":"","url":"/listconfigs","method":"get","upload":false,"swaggerDoc":"","x":220,"y":360,"wires":[["87655ef6.0ff65"]]},{"id":"15224276.9ed59e","type":"http response","z":"e02bd2c4.012e9","name":"","statusCode":"","headers":{},"x":690,"y":360,"wires":[]},{"id":"bc0df8cc.19d148","type":"comment","z":"e02bd2c4.012e9","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":120,"wires":[]},{"id":"e0173beb.ac7fd8","type":"comment","z":"e02bd2c4.012e9","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":220,"wires":[]},{"id":"d915ab0a.457688","type":"comment","z":"e02bd2c4.012e9","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":320,"wires":[]},{"id":"b8c56103.d7154","type":"comment","z":"e02bd2c4.012e9","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":420,"wires":[]},{"id":"48be8e53.942aa","type":"comment","z":"e02bd2c4.012e9","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":520,"wires":[]}]
