final_flow.json
[{"id":"29c7a1ef.d8290e","type":"tab","label":"Main App","disabled":false,"info":""},{"id":"659c4329.35636c","type":"tab","label":"Search Query","disabled":false,"info":""},{"id":"a76837d6.c07e08","type":"tab","label":"Delete Collection Daily","disabled":false,"info":""},{"id":"b1fcb4e6.5f45d8","type":"tab","label":"Webscrape combine","disabled":false,"info":""},{"id":"8d459938.14dd28","type":"tab","label":"Debug Tools","disabled":false,"info":""},{"id":"d7a05650.4d7538","type":"ui_group","z":"","name":"Upload PDF for analysis","tab":"34eaacab.ff46f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"34eaacab.ff46f4","type":"ui_tab","z":"","name":"Company Report Analysis Portal","icon":"dashboard","disabled":false,"hidden":false},{"id":"5e77e8ea.036608","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3fdc0371.10f93c","type":"ui_group","z":"","name":"Revenue","tab":"cc423cb5.d2955","order":2,"disp":false,"width":"6","collapse":false},{"id":"cc423cb5.d2955","type":"ui_tab","z":"","name":"Company Report Analysis Portal","icon":"dashboard","disabled":false,"hidden":false},{"id":"e985f1f1.aab83","type":"ui_group","z":"","name":"Search Query","tab":"306032d6.86f42e","order":6,"disp":false,"width":"8","collapse":false},{"id":"306032d6.86f42e","type":"ui_tab","z":"","name":"Search Query","icon":"dashboard","disabled":false,"hidden":false},{"id":"8c5aafbf.a3bdc","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"4aa74f9d.0cf18","type":"ui_group","z":"","name":"Upload New Report","tab":"33a4217.63d7ede","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b3f2d57.fa5ff4","type":"ui_tab","z":"","name":"Company Report Analysis Portal","icon":"dashboard","disabled":false,"hidden":false},{"id":"9eb4013e.ba125","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#006ac7","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#006ac7","edited":true},"page-titlebar-backgroundColor":{"value":"#0071b8","edited":true},"page-backgroundColor":{"value":"#e6e6e6","edited":true},"page-sidebar-backgroundColor":{"value":"#dedede","edited":true},"group-textColor":{"value":"#005dd6","edited":true},"group-borderColor":{"value":"#e6e6e6","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#8a8a8a","edited":true},"widget-backgroundColor":{"value":"#0062d1","edited":true},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bfd5c8d4.fd46e8","type":"ui_group","z":"","name":"Revenue","tab":"4b3f2d57.fa5ff4","order":2,"disp":false,"width":"6","collapse":false},{"id":"135b5065.61b6d","type":"ui_group","z":"","name":"Gross Profit","tab":"4b3f2d57.fa5ff4","order":3,"disp":false,"width":"6","collapse":false},{"id":"1b529f70.9d5091","type":"ui_group","z":"","name":"ReUpload","tab":"4b3f2d57.fa5ff4","order":4,"disp":false,"width":"4","collapse":false},{"id":"33a4217.63d7ede","type":"ui_tab","z":"","name":"UploadTab","icon":"dashboard","disabled":false,"hidden":false},{"id":"712fd2d3.1cd75c","type":"ui_group","z":"","name":"Title","tab":"4b3f2d57.fa5ff4","order":4,"disp":false,"width":"6","collapse":false},{"id":"b8f16d96.10971","type":"ui_group","z":"","name":"Cash Flow","tab":"4b3f2d57.fa5ff4","order":5,"disp":false,"width":"6","collapse":false},{"id":"fd6f9069.65284","type":"ui_group","z":"","name":"Search Query","tab":"82cd618f.24afa","order":6,"disp":false,"width":"8","collapse":false},{"id":"82cd618f.24afa","type":"ui_tab","z":"","name":"Search Query","icon":"dashboard","disabled":false,"hidden":false},{"id":"f9c8cca7.a1855","type":"ui_group","z":"","name":"Keywords","tab":"4b3f2d57.fa5ff4","order":6,"disp":false,"width":"6","collapse":false},{"id":"669c385b.9b5df8","type":"ui_group","z":"","name":"Finance Debt","tab":"4b3f2d57.fa5ff4","order":7,"disp":false,"width":"6","collapse":false},{"id":"54ac3598.9c717c","type":"ui_group","z":"","name":"Sentiment","tab":"4b3f2d57.fa5ff4","order":8,"disp":true,"width":"6","collapse":false},{"id":"d35311c2.f2b6f","type":"ui_group","z":"","name":"Metadata","tab":"4b3f2d57.fa5ff4","order":9,"disp":false,"width":"6","collapse":false},{"id":"a2ed5b3d.05e3c8","type":"inject","z":"a76837d6.c07e08","name":"Repeated flush discovery","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["ceebb501.09b9f8"]]},{"id":"657a7a96.3fe444","type":"function","z":"a76837d6.c07e08","name":"Set coll id to del","func":"currcollection = msg.collections[msg.currindex].collection_id\nmsg.discoveryparams = {}\nmsg.discoveryparams.collectionId = currcollection\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":180,"wires":[["c51002c8.1cbb6"]]},{"id":"d5271425.8b8598","type":"switch","z":"a76837d6.c07e08","name":"","property":"currindex","propertyType":"msg","rules":[{"t":"lt","v":"numcollections","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":180,"wires":[["657a7a96.3fe444"]]},{"id":"5b1a87d7.344868","type":"function","z":"a76837d6.c07e08","name":"init loop","func":"msg.numcollections = msg.collections.length\nmsg.currindex = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":180,"wires":[["d5271425.8b8598","a2f81465.bb0848"]]},{"id":"67539dd3.753eb4","type":"function","z":"a76837d6.c07e08","name":"Loop","func":"msg.currindex = parseInt(msg.currindex) + 1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":360,"wires":[["d5271425.8b8598","f704c196.a4869"]]},{"id":"f704c196.a4869","type":"debug","z":"a76837d6.c07e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":360,"wires":[]},{"id":"a2f81465.bb0848","type":"debug","z":"a76837d6.c07e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":360,"wires":[]},{"id":"edcef170.764db","type":"template","z":"29c7a1ef.d8290e","name":"upload doc automation synchronously","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n\n    <style>\n        body,h1 {font-family: \"Raleway\", sans-serif;}\n        body, html {height: 100%}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);;\n            min-height: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .topTxt {\n            width: 100%;\n            text-align: center;\n            font-size: 18px;\n        }\n\n\n\n\n\n    </style>\n\n\n    <body >\n        <div class=\"bgimg w3-display-container w3-animate-opacity w3-text-white\">\n            <div class=\"topTxt\">\n                Upload a financial report (pdf) for us to analyse and we'll help you decide which business is worth your time\n            </div>\n            <div class=\"w3-display-middle\" style=\"width: 40%\">\n                <h1 class=\"w3-jumbo w3-animate-top\" style=\"text-align: center\">Upload Document</h1>\n                <hr class=\"w3-border-grey\" style=\"margin:auto;width:100%\">\n                <p class=\"w3-large w3-center\"></p>\n                <div class=\"w3-large w3-center\">\n                    <form>\n                        <!--\n                        <label for=\"API Key\">API Key:</label>\n                        <input id=\"API Key\" type=\"text\" name=\"apikey\" value=\"\"><br><br>\n                        <label for=\"Endpoint\">Discovery URL:</label>\n                        <input id=\"Endpoint\" type=\"text\" name=\"endpt\" value=\"\"><br><br>\n                        -->\n                        \n                        <input id=\"Collname\" type=\"text\" name=\"collname\" value=\"\" placeholder=\"Enter Collection Name...\"><br><br>\n                    </form>\n\n\n                    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js\"></script>\n\n                    <label for=\"filehere\" class=\"chooseFile\"><i class=\"fa fa-cloud-upload\"></i>Choose File (.pdf)</label>\n                    <input id=\"filehere\" type=\"file\" name='uploadedFile' style=\"display:none;\" accept=\".pdf\">\n\n\n                    <input type=\"submit\" value=\"Analyse\" onclick=\"submit()\">\n                </div>\n\n\n\n                <p id=\"displaystatus\"></p>\n                <p id=\"displayout\"></p>\n                <p id=\"displayerr\"></p>\n            </div>\n        </div>\n\n\n\n\n        <script type=\"text/javascript\">\n            function config_inst(config) {\n                let conf_id;\n\n                // TODO - Replace values with your own values\n                switch(config) {\n                    case \"URL\":\n                        conf_id = \"placeholderurl\";\n                        break;\n                    case \"API key\":\n                        conf_id = \"placeholderapikey\";\n                        break;\n                    case \"Configuration ID\":\n                        conf_id = \"placeholderconfigid\";\n                        break;\n                    case \"Environment ID\":\n                        conf_id = \"placeholderenvid\";\n                        break;\n                    default:\n                        conf_id = \"\"\n                }\n\n                return conf_id;\n            }\n\n            function submit() {\n\n                // TODO - Replace noderedinst with your own instance\n                var noderedinst = \"placeholderurl\";\n                var nextendpt = \"/beginprocessing\";\n\n                let hardcodedapikey = config_inst(\"API key\");\n                let hardcodedurl = config_inst(\"URL\");\n                let hardcodedenvid = config_inst(\"Environment ID\");\n                let hardcodedconfigid = config_inst(\"Configuration ID\");\n\n                var envid = hardcodedenvid;\n                var configid = hardcodedconfigid;\n                var endpt = hardcodedurl;\n                var apikey = hardcodedapikey;\n                // var endpt = document.getElementById('Endpoint').value;\n                // var apikey = document.getElementById('API Key').value;\n                var collname = document.getElementById('Collname').value;\n                if (collname == \"\"){\n                    collname = \"newcollection\";\n                }\n                var apikeyentry = \"apikey:\" + apikey;\n\n                document.getElementById('displaystatus').innerHTML = \"Checking collections\";\n\n                collections = listcoll(endpt, envid, apikeyentry);\n                document.getElementById('displaystatus').innerHTML = \"Collections checked\";\n                var collobj = JSON.parse(collections);\n                numcolls = (collobj.collections).length;\n\n                var collid = \"\";\n\n                if (numcolls == 0){\n                    // create collection\n                    createcoll(configid,endpt, envid, collname, apikeyentry);\n                    // get collid\n                    newcollections = listcoll(endpt, envid, apikeyentry);\n                    newcollobj = JSON.parse(newcollections);\n                    collid = JSON.stringify(newcollobj.collections[0].collection_id);\n                } else if (numcolls == 1){\n                    collid = JSON.stringify(collobj.collections[0].collection_id);\n                } else {\n                    // throw error?\n                    document.getElementById('displayerr').innerHTML = \"Multiple Collections Error\";\n                }\n                collid = collid.slice(1,-1);\n                document.getElementById('displaystatus').innerHTML = \"Obtained collection ID\";\n                uploaddoc(endpt, envid, collid, apikeyentry);\n                document.getElementById('displaystatus').innerHTML = \"Your file is being processed. Please wait. Alternatively, visit https://node-red-ucl-2020.eu-gb.mybluemix.net/ui sometime later. Thanks!\";\n\n                docuploadedwaiting = true;\n\n                while(docuploadedwaiting){\n                   \n                    colldeets = checkColl(endpt,envid, collid, apikeyentry);\n                    var collinfo = JSON.parse(colldeets);\n                    if (collinfo.document_counts.processing == 0){\n                        if (collinfo.document_counts.available > 0){\n                            docuploadedwaiting = false;\n                        }\n                        else if (collinfo.document_counts.available > 0 && collinfo.document_counts.failed > 0){\n                            document.getElementById('displayerr').innerHTML = \"FILE UPLOAD FAILED\";\n                            return;\n                        }\n                    }\n                }\n                updatedb(noderedinst,collid);\n                var redirectto = noderedinst + nextendpt;\n                window.location.replace(redirectto);\n\n            }\n            function listcoll(endpt, envid, apikeyentry) {\n                var xmlHttp = new XMLHttpRequest();\n                thisurl = endpt + \"/v1/environments/\" + envid + \"/collections?version=2019-04-30\"\n                xmlHttp.open(\"GET\", thisurl, false);\n                xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(apikeyentry));   \n                xmlHttp.send();\n                return xmlHttp.responseText\n            }\n            function createcoll(configid, endpt, envid, collname, apikeyentry) {\n                var xmlHttp = new XMLHttpRequest();\n                thisurl = endpt + \"/v1/environments/\" + envid + \"/collections?version=2019-04-30\";\n                xmlHttp.open(\"POST\", thisurl, false);\n                xmlHttp.setRequestHeader(\"Content-Type\",\"application/json\");\n                xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(apikeyentry));   \n                xmlHttp.send(JSON.stringify({\"name\":collname,\"description\":\"My collection\",\"configuration_id\":configid,\"language\":\"en\"}));\n                return xmlHttp.responseText;\n            }\n            function uploaddoc(endpt, envid, collid, apikeyentry) {\n                var xmlHttp = new XMLHttpRequest();\n\n                var urlendpt = endpt + \"/v1/environments/\" + envid + \"/collections/\" + collid + \"/documents?version=2019-04-30\";\n\n                xmlHttp.open(\"POST\", urlendpt, false);\n                xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(apikeyentry));   \n\n                var fileInput = document.getElementById('filehere');\n                var file = fileInput.files[0];\n                var formData = new FormData();\n                formData.append(\"file\", file);\n\n                xmlHttp.send(formData);\n                return xmlHttp.responseText;\n            }\n            function checkColl(endpt, envid, collid, apikeyentry) {\n                var xmlHttp = new XMLHttpRequest();\n                thisurl = endpt + \"/v1/environments/\" + envid + \"/collections/\" + collid + \"?version=2019-04-30\";\n                xmlHttp.open(\"GET\", thisurl, false);\n                xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(apikeyentry));   \n                xmlHttp.send();\n                return xmlHttp.responseText;\n            }\n            function updatedb(endpt, collid){\n                var xmlHttp = new XMLHttpRequest();\n                thisurl = endpt + \"/newupload\";\n                xmlHttp.open(\"POST\", thisurl);\n                xmlHttp.setRequestHeader(\"Content-Type\", \"application/json\");\n\n                currfn = document.getElementById('filehere').value;\n                fnsplit = currfn.split(\"\\\\\");\n                realfname = fnsplit[(fnsplit.length)-1];\n\n                xmlHttp.send(JSON.stringify({\"filename\":realfname,\"collid\":collid}));\n                return true;\n            }\n\n            $('#filehere').change(function() {\n                var i = $(this).prev('label').clone();\n                var file = $('#filehere')[0].files[0].name;\n                $(this).prev('label').text(file);\n            });\n        </script>\n    </body>\n</html>","output":"str","x":450,"y":80,"wires":[["9a3c03c3.06a52","fde5f1e2.f8b2"]]},{"id":"96a2bfb3.92574","type":"http in","z":"29c7a1ef.d8290e","name":"","url":"/uploadfile","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["edcef170.764db"]]},{"id":"9a3c03c3.06a52","type":"debug","z":"29c7a1ef.d8290e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":120,"wires":[]},{"id":"fde5f1e2.f8b2","type":"http response","z":"29c7a1ef.d8290e","name":"","statusCode":"","headers":{},"x":750,"y":80,"wires":[]},{"id":"4d87f855.6eeb48","type":"http in","z":"29c7a1ef.d8290e","name":"","url":"/beginprocessing","method":"get","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["7dab928.3b0466c"]]},{"id":"51bdf9c4.6d92a8","type":"comment","z":"29c7a1ef.d8290e","name":"Redirects here upon file upload success","info":"","x":150,"y":240,"wires":[]},{"id":"7a21c6cc.bd70d8","type":"function","z":"29c7a1ef.d8290e","name":"Get coll id","func":"msg.collectionIdtouse = msg.collections[0].collection_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":280,"wires":[["489e44c6.bc3dec","96cfd7a0.381118"]]},{"id":"489e44c6.bc3dec","type":"debug","z":"29c7a1ef.d8290e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":280,"wires":[]},{"id":"83ba6562.8841d8","type":"http response","z":"659c4329.35636c","name":"","statusCode":"","headers":{},"x":550,"y":180,"wires":[]},{"id":"50729d37.5d3fa4","type":"template","z":"659c4329.35636c","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Send query here:</h1>\n<form action=\"/watsonhandler\" method=\"POST\">\n    <label for=\"query\">Enter query:</label>\n    <input type=\"text\" name=\"query\" /> <br> <br>\n    <label for=\"searchScope\">Search:</label>\n    <select id=\"searchScope\" name=\"searchScope\">\n        <option value=\"Document\">Document</option>\n        <option value=\"News\">News</option>\n        <option value=\"Web\">Web</option>\n    </select> <br> <br>\n    <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":350,"y":180,"wires":[["83ba6562.8841d8"]]},{"id":"ce424c3b.4778e","type":"http in","z":"659c4329.35636c","name":"","url":"/searchwatson","method":"get","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["50729d37.5d3fa4"]]},{"id":"dd87da87.910168","type":"http in","z":"659c4329.35636c","name":"","url":"/watsonhandler","method":"post","upload":false,"swaggerDoc":"","x":100,"y":620,"wires":[["9a471bbf.048768"]]},{"id":"aa80a772.dfef88","type":"http response","z":"659c4329.35636c","name":"","statusCode":"","headers":{},"x":1370,"y":760,"wires":[]},{"id":"ef88f931.2ff5d8","type":"switch","z":"659c4329.35636c","name":"","property":"queryParams.searchNews","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":760,"wires":[["b09410d3.64348"]]},{"id":"9a471bbf.048768","type":"function","z":"659c4329.35636c","name":"Parse Query","func":"msg.queryParams = {};\nmsg.queryParams.queryterm = msg.payload.query;\nmsg.queryParams.searchDoc = false;\nmsg.queryParams.searchNews = false;\nmsg.queryParams.searchWeb = false;\nif ((msg.payload.searchScope) == \"Document\"){\n    msg.queryParams.searchDoc = true;\n}\nif ((msg.payload.searchScope) == \"News\"){\n    msg.queryParams.searchNews = true;\n}\nif ((msg.payload.searchScope) == \"Web\"){\n    msg.queryParams.searchWeb = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":760,"wires":[["ef88f931.2ff5d8","33a3d26e.66a1fe","a046e78a.484d78"]]},{"id":"2145b0a9.f38c1","type":"debug","z":"659c4329.35636c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":660,"wires":[]},{"id":"f85ba886.ba6088","type":"watson-discovery-v1","z":"659c4329.35636c","name":"Search Watson","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"5","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"term(text)","return":"text,website","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":1080,"y":660,"wires":[["2145b0a9.f38c1","a9b1e3c3.534dd"]]},{"id":"b09410d3.64348","type":"function","z":"659c4329.35636c","name":"Overwrite Query","func":"msg.discoveryparams = {};\nmsg.discoveryparams.query = \"text:\" + msg.queryParams.queryterm;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":660,"wires":[["f85ba886.ba6088"]]},{"id":"a9b1e3c3.534dd","type":"function","z":"659c4329.35636c","name":"Display Top Result","func":"msg.payload = msg.search_results.results[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":740,"wires":[["2e869327.15a44c","13cd7433.06627c"]]},{"id":"1653721f.d6c7ee","type":"comment","z":"29c7a1ef.d8290e","name":"DOC CONSUMPTION","info":"","x":140,"y":40,"wires":[]},{"id":"96cfd7a0.381118","type":"function","z":"29c7a1ef.d8290e","name":"transform query","func":"msg.discoveryparams = {};\nmsg.discoveryparams.collectionId = msg.collectionIdtouse;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":520,"wires":[["f084189e.899178"]]},{"id":"2b44b16.6d4294e","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let revenues = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const revenue = item.passage_text + ' ';\n  revenues = revenues.concat('', revenue);\n})\n\nmsg.ui.last_revenue = revenues;\nmsg.payload = revenues;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":820,"wires":[["87107fd9.a514a"]]},{"id":"7dab928.3b0466c","type":"watson-discovery-v1","z":"29c7a1ef.d8290e","name":"List Collections test","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"listCollections","service-endpoint":"","x":430,"y":280,"wires":[["7a21c6cc.bd70d8"]]},{"id":"33a3d26e.66a1fe","type":"switch","z":"659c4329.35636c","name":"","property":"queryParams.searchDoc","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":1000,"wires":[["4ee2952a.2cc3ac"]]},{"id":"4230d8ed.512248","type":"watson-discovery-v1","z":"659c4329.35636c","name":"Query","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","collection_name":"","count":"2","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"term(text)","return":"text","description":"","size":"","discovery-method":"query","service-endpoint":"","x":1130,"y":1380,"wires":[["b51b9f31.2aaee"]]},{"id":"6f44b43e.3fc80c","type":"function","z":"659c4329.35636c","name":"build query","func":"msg.discoveryparams.query=msg.payload.query;\nmsg.discoveryparams.nlp_query=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1380,"wires":[["4230d8ed.512248"]]},{"id":"b51b9f31.2aaee","type":"function","z":"659c4329.35636c","name":"","func":"msg.payload = {}\nmsg.payload.result = msg.search_results.passages;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":1480,"wires":[["3c7e8f29.d0786","bc5e9ddc.d4a"]]},{"id":"4ee2952a.2cc3ac","type":"watson-discovery-v1","z":"659c4329.35636c","name":"List env_id","environmentname":"","environmentId":"","collectionId":"ec3020bf-ea5e-4b00-8737-63de6a2bade3","configurationname":"","configurationId":"","collection_name":"","count":"2","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"term(text)","return":"text","description":"","size":"","discovery-method":"listEnvrionments","service-endpoint":"","x":630,"y":1160,"wires":[["b5abae9c.f0072"]]},{"id":"b5abae9c.f0072","type":"function","z":"659c4329.35636c","name":"get env_id","func":"msg.discoveryparams = {};\nmsg.discoveryparams.environmentId = msg.environments[1].environment_id;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":1220,"wires":[["a802f6a6.ef5e38"]]},{"id":"a802f6a6.ef5e38","type":"watson-discovery-v1","z":"659c4329.35636c","name":"List collections","environmentname":"","environmentId":"","collectionId":"ec3020bf-ea5e-4b00-8737-63de6a2bade3","configurationname":"","configurationId":"","collection_name":"","count":"2","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"term(text)","return":"text","description":"","size":"","discovery-method":"listCollections","service-endpoint":"","x":620,"y":1320,"wires":[["7eec10c7.0b9ff"]]},{"id":"7eec10c7.0b9ff","type":"function","z":"659c4329.35636c","name":"get coll_id","func":"msg.discoveryparams.collectionId = msg.collections[0].collection_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1380,"wires":[["6f44b43e.3fc80c"]]},{"id":"eb23bb1.aabb348","type":"watson-discovery-v1","z":"29c7a1ef.d8290e","name":"Revenue Last Year","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"revenue last year","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":250,"y":820,"wires":[["2b44b16.6d4294e"]]},{"id":"69e3f234.11dedc","type":"watson-discovery-v1","z":"29c7a1ef.d8290e","name":"Finance Debt","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"finance debt","filter":"","aggregation":"","return":"","description":"","size":"","discovery-method":"query","service-endpoint":"","x":250,"y":980,"wires":[["9cf69ff7.b1d4e"]]},{"id":"9cf69ff7.b1d4e","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let debts = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const debt = item.passage_text + ' ';\n  debts = debts.concat('', debt);\n})\n\nmsg.ui.finance_debt = debts;\nmsg.payload = debts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":980,"wires":[["3d831e8b.8be3b2"]]},{"id":"d9315a58.6f6908","type":"watson-discovery-v1","z":"29c7a1ef.d8290e","name":"Cash Flow","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"cash flow","filter":"","aggregation":"","return":"","description":"","size":"","discovery-method":"query","service-endpoint":"","x":230,"y":900,"wires":[["71c9fa68.aa7024"]]},{"id":"71c9fa68.aa7024","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let cash_flow = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const cash = item.passage_text + ' ';\n  cash_flow = cash_flow.concat('', cash);\n})\n\nmsg.ui.cash_flow = cash_flow;\nmsg.payload = cash_flow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":900,"wires":[["3da243b2.dce31c"]]},{"id":"3c7e8f29.d0786","type":"debug","z":"659c4329.35636c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":1480,"wires":[]},{"id":"f4da8172.e6cb4","type":"inject","z":"29c7a1ef.d8290e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":460,"wires":[["90681eb2.0880e"]]},{"id":"90681eb2.0880e","type":"function","z":"29c7a1ef.d8290e","name":"Set collection id","func":"// TODO - replace placeholder below\nmsg.collectionIdtouse = \"placeholderid\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":460,"wires":[["96cfd7a0.381118"]]},{"id":"a046e78a.484d78","type":"switch","z":"659c4329.35636c","name":"","property":"queryParams.searchWeb","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":860,"wires":[["608451df.7f082","7171f761.bf9898"]]},{"id":"70458281.66817c","type":"function","z":"a76837d6.c07e08","name":"Set update log","func":"msg.datenow = Date.now();\nmsg.payload = \"UPDATE FILELOG SET DELETED='\" + msg.datenow + \"' WHERE COLLECTION='\"+ msg.discoveryparams.collectionId +\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":180,"wires":[["3f7dd1df.be3bbe"]]},{"id":"3f7dd1df.be3bbe","type":"dashDB in","z":"a76837d6.c07e08","dashDB":"","service":"_ext_","query":"","params":"","name":"","x":1220,"y":280,"wires":[["67539dd3.753eb4"]]},{"id":"2b34c2c8.ee373e","type":"http in","z":"a76837d6.c07e08","name":"","url":"/newupload","method":"post","upload":false,"swaggerDoc":"","x":370,"y":480,"wires":[["d7f4a587.a384c8","e27ac7d3.2070e8"]]},{"id":"d7f4a587.a384c8","type":"function","z":"a76837d6.c07e08","name":"","func":"msg.fn = msg.payload.filename;\nmsg.collid = msg.payload.collid;\nmsg.datenow = Date.now();\nmsg.payload = \"INSERT INTO FILELOG (FILENAME, COLLECTION, ADDED, DELETED) VALUES ('\"+ msg.fn + \"', '\"+ msg.collid + \"', '\"+ msg.datenow + \"', null);\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":480,"wires":[["268cc1b5.73248e"]]},{"id":"268cc1b5.73248e","type":"dashDB in","z":"a76837d6.c07e08","dashDB":"","service":"_ext_","query":"","params":"","name":"","x":760,"y":480,"wires":[["680b0133.7e306"]]},{"id":"680b0133.7e306","type":"debug","z":"a76837d6.c07e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":480,"wires":[]},{"id":"ceebb501.09b9f8","type":"watson-discovery-v1","z":"a76837d6.c07e08","name":"list coll test","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"listCollections","service-endpoint":"","x":430,"y":260,"wires":[["5b1a87d7.344868"]]},{"id":"c51002c8.1cbb6","type":"watson-discovery-v1","z":"a76837d6.c07e08","name":"delete coll test","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"deleteCollection","service-endpoint":"","x":1270,"y":140,"wires":[["70458281.66817c"]]},{"id":"e27ac7d3.2070e8","type":"debug","z":"a76837d6.c07e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":540,"wires":[]},{"id":"3527849.6e0b27c","type":"watson-discovery-v1","z":"29c7a1ef.d8290e","name":"Keyword","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":false,"query":"","filter":"","aggregation":"term(enriched_text.concepts.text,count:7)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":260,"y":580,"wires":[["2103957a.b5f29a"]]},{"id":"9ebad8ff.857508","type":"debug","z":"29c7a1ef.d8290e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":1120,"wires":[]},{"id":"2103957a.b5f29a","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let keywords = [];\n\nmsg.search_results.aggregations[0].results.forEach(function(item, index, array) {\n  keywords.push(item.key)\n});\n\nmsg.ui.keyword = keywords;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["64e9b40c.f28a1c"]]},{"id":"f084189e.899178","type":"watson-discovery-v1","z":"29c7a1ef.d8290e","name":"Metadata","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":300,"y":520,"wires":[["333f51c6.3e2a5e"]]},{"id":"333f51c6.3e2a5e","type":"function","z":"29c7a1ef.d8290e","name":"","func":"msg.ui = {};\n\nmsg.ui.colours = {\n    \"analytical\": \"#19A3F7\",\n    \"anger\": \"#FFA197\",\n    \"confident\": \"#A779D8\",\n    \"fear\": \"#7DB258\",\n    \"joy\": \"#FFF173\",\n    \"sadness\": \"#69C3E2\",\n    \"tentative\": \"#94FFEF\",\n    \"na\": \"white\"\n};\n\n// Title\nmsg.ui.title = msg.search_results.results[0].extracted_metadata.title;\n\n// Sentiment analysis\nmsg.ui.sentiment = msg.search_results.results[0].enriched_text.sentiment.document.label;\n\n// Industries\nlet industries = [];\nmsg.search_results.results[0].enriched_text.categories.forEach(function(item, index, array) {\n  let labels = item.label.split(' and ');\n  labels.forEach(function(item, index, array) {\n      if(item.startsWith('/')) {\n          array[index] = item.substr(1);\n      }\n  })\n  industries = industries.concat(labels);\n})\nconst industry = new Set(industries);   // Remove duplications\nmsg.ui.industry = [...industry];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":580,"wires":[["3527849.6e0b27c"]]},{"id":"d87e5e37.b26f1","type":"comment","z":"b1fcb4e6.5f45d8","name":"GET Company Overview","info":"","x":270,"y":700,"wires":[]},{"id":"815b6ad4.b2c5f8","type":"inject","z":"b1fcb4e6.5f45d8","name":"make request normalco","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"09678867","payload":"","payloadType":"date","x":260,"y":940,"wires":[["f688075f.63b608"]]},{"id":"f688075f.63b608","type":"function","z":"b1fcb4e6.5f45d8","name":"set url","func":"// check isalphanumeric\nif(!msg.topic.match(/^([0-9]|[a-z])+([0-9a-z]+)$/i)){\n    msg.payload = \"ERROR!\";\n    return msg;\n}\nmsg.url = \"https://beta.companieshouse.gov.uk/company/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":920,"wires":[["1e5aced3.f4d641"]]},{"id":"1e5aced3.f4d641","type":"switch","z":"b1fcb4e6.5f45d8","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":820,"wires":[["65af9b1b.949e54"]]},{"id":"65af9b1b.949e54","type":"http request","z":"b1fcb4e6.5f45d8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":1020,"wires":[["fd591dfe.ef294"]]},{"id":"a397efb1.21774","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"div.column-half","ret":"html","as":"single","x":1560,"y":960,"wires":[["e69e1a9a.de6d88"]]},{"id":"99366cbe.83bfd","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"dl dd","ret":"html","as":"single","x":1270,"y":920,"wires":[["2c31a540.f974ca"]]},{"id":"9b193143.d6454","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"#sic0","ret":"html","as":"single","x":950,"y":1020,"wires":[["34a43aa6.93a5c6"]]},{"id":"fd591dfe.ef294","type":"function","z":"b1fcb4e6.5f45d8","name":"init returnval + store html file","func":"msg.infotoreturn = {};\nmsg.infotoreturn.compnumber = msg.topic;\nmsg.html = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1020,"wires":[["9b193143.d6454"]]},{"id":"34a43aa6.93a5c6","type":"function","z":"b1fcb4e6.5f45d8","name":"store natureofbiz + reinstate payload html","func":"msg.infotoreturn.natureofbiz = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":1020,"wires":[["99366cbe.83bfd"]]},{"id":"b8870ae3.3c0b88","type":"inject","z":"b1fcb4e6.5f45d8","name":"make request dissolved co","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"09854375","payload":"","payloadType":"date","x":290,"y":900,"wires":[["f688075f.63b608"]]},{"id":"2c31a540.f974ca","type":"function","z":"b1fcb4e6.5f45d8","name":"store info","func":"msg.infotoreturn.address = msg.payload[0];\nmsg.infotoreturn.companystatus = msg.payload[1];\nif(msg.payload.length == 5){\n    msg.infotoreturn.dissolvedate = msg.payload[2];\n    msg.infotoreturn.companytype = msg.payload[3];\n    msg.infotoreturn.incdate = msg.payload[4];\n}\nelse if (msg.payload.length == 4){\n    msg.infotoreturn.companytype = msg.payload[2];\n    msg.infotoreturn.incdate = msg.payload[3];\n}\nelse {\n    // error has occurred\n}\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":780,"wires":[["557a7784.43aa68"]]},{"id":"557a7784.43aa68","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"p.heading-xlarge","ret":"html","as":"single","x":1470,"y":780,"wires":[["fe86bd0f.9c203"]]},{"id":"fe86bd0f.9c203","type":"function","z":"b1fcb4e6.5f45d8","name":"Store info","func":"msg.infotoreturn.compname = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":860,"wires":[["a397efb1.21774"]]},{"id":"e69e1a9a.de6d88","type":"function","z":"b1fcb4e6.5f45d8","name":"store accounts and confirmation statement for future parsing","func":"msg.accounts = msg.payload[0];\nmsg.statementsexist = false;\nif (msg.payload.length == 2){\n    msg.statementsexist = true;\n    msg.confirmationstatements = msg.payload[1];\n}\ndelete msg['html'];\n\nmsg.payload = msg.accounts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":880,"wires":[["218ed674.0b6cca"]]},{"id":"218ed674.0b6cca","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"p","ret":"html","as":"single","x":1770,"y":940,"wires":[["2d2657d5.40cb18"]]},{"id":"2d2657d5.40cb18","type":"function","z":"b1fcb4e6.5f45d8","name":"process account info","func":"arrlen = msg.payload.length;\naccinfo = \"\";\nfor(var i=0; i<arrlen; i++){\n    msg.payload[i] = msg.payload[i].replace(/(\\r\\n|\\n|\\r)/gm, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<strong>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<\\/strong>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<br>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<br\\/>/g, \"\");\n    msg.payload[i] = msg.payload[i].split(/\\s+/).join(' ');\n    thisinfo = msg.payload[i].concat(\". \");\n    accinfo = accinfo.concat(thisinfo);\n}\nmsg.infotoreturn.acc = accinfo;\ndelete msg['accounts'];\nmsg.payload = msg.confirmationstatements;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":980,"wires":[["33bf367e.fba3ca","ce44374d.304868"]]},{"id":"33bf367e.fba3ca","type":"switch","z":"b1fcb4e6.5f45d8","name":"","property":"statementsexist","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2050,"y":960,"wires":[["d2d9fb98.ae50e8"]]},{"id":"d2d9fb98.ae50e8","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"p","ret":"html","as":"single","x":2190,"y":960,"wires":[["bae2beb7.4d24e"]]},{"id":"bae2beb7.4d24e","type":"function","z":"b1fcb4e6.5f45d8","name":"process statement info","func":"arrlen = msg.payload.length;\nstatementinfo = \"\";\nfor(var i=0; i<arrlen; i++){\n    msg.payload[i] = msg.payload[i].replace(/(\\r\\n|\\n|\\r)/gm, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<strong>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<\\/strong>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<br>/g, \"\");\n    msg.payload[i] = msg.payload[i].replace(/<br\\/>/g, \"\");\n    msg.payload[i] = msg.payload[i].split(/\\s+/).join(' ');\n    thisinfo = msg.payload[i].concat(\". \");\n    statementinfo = statementinfo.concat(thisinfo);\n}\nmsg.infotoreturn.statement = statementinfo;\ndelete msg['confirmationstatements'];\nmsg.overview = msg.infotoreturn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2280,"y":1000,"wires":[["9b7d9478.994fa8"]]},{"id":"ce44374d.304868","type":"switch","z":"b1fcb4e6.5f45d8","name":"","property":"statementsexist","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":2040,"y":1040,"wires":[["6923963b.a127a8"]]},{"id":"6923963b.a127a8","type":"function","z":"b1fcb4e6.5f45d8","name":"Set payload","func":"msg.overview = msg.infotoreturn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2190,"y":1080,"wires":[["9b7d9478.994fa8"]]},{"id":"9b7d9478.994fa8","type":"function","z":"b1fcb4e6.5f45d8","name":"set url","func":"// check isalphanumeric\nif(!msg.topic.match(/^([0-9]|[a-z])+([0-9a-z]+)$/i)){\n    msg.payload = \"ERROR!\";\n    return msg;\n}\nmsg.url = \"https://beta.companieshouse.gov.uk/company/\" + msg.topic + \"/officers\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1280,"wires":[["c8191874.c6ad58"]]},{"id":"c8191874.c6ad58","type":"switch","z":"b1fcb4e6.5f45d8","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"53","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":1340,"wires":[["439be022.baef7"]]},{"id":"439be022.baef7","type":"http request","z":"b1fcb4e6.5f45d8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":1220,"wires":[["f9c0831f.b0572"]]},{"id":"9b56c622.0da078","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"div.appointments-list","ret":"html","as":"single","x":840,"y":1240,"wires":[["3f796fc8.e9d76"]]},{"id":"9a217c86.3e4c","type":"inject","z":"b1fcb4e6.5f45d8","name":"make request empty","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":170,"y":1020,"wires":[["f688075f.63b608"]]},{"id":"414cd681.358c98","type":"inject","z":"b1fcb4e6.5f45d8","name":"make request invalid","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"@@@","payload":"","payloadType":"date","x":210,"y":980,"wires":[["f688075f.63b608"]]},{"id":"3f796fc8.e9d76","type":"function","z":"b1fcb4e6.5f45d8","name":"set payload non array","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":1200,"wires":[["6d7bf827.2f80f8"]]},{"id":"6d7bf827.2f80f8","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"div","ret":"html","as":"single","x":990,"y":1280,"wires":[["55252f80.254c4"]]},{"id":"f9c0831f.b0572","type":"function","z":"b1fcb4e6.5f45d8","name":"init returnval + store html file","func":"msg.infotoreturn = {};\nmsg.infotoreturn.compnumber = msg.topic;\nmsg.html = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1260,"wires":[["d9647696.4d4118"]]},{"id":"d9647696.4d4118","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"p.heading-xlarge","ret":"html","as":"single","x":550,"y":1320,"wires":[["862a494d.972ef8"]]},{"id":"862a494d.972ef8","type":"function","z":"b1fcb4e6.5f45d8","name":"Store info","func":"msg.infotoreturn.compname = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1380,"wires":[["672df071.60926"]]},{"id":"672df071.60926","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"#company-appointments","ret":"html","as":"single","x":750,"y":1380,"wires":[["8db592d9.d7016"]]},{"id":"8db592d9.d7016","type":"function","z":"b1fcb4e6.5f45d8","name":"Store info","func":"msg.payload[0] = msg.payload[0].replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nmsg.payload[0] = msg.payload[0].split(/\\s+/).join(' ');\n\nmsg.infotoreturn.totalappts = msg.payload[0];\nmsg.payload = msg.html;\ndelete msg['html'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1380,"wires":[["9b56c622.0da078"]]},{"id":"55252f80.254c4","type":"function","z":"b1fcb4e6.5f45d8","name":"get correct divs","func":"arrlen = msg.payload.length;\nnewpayload = [];\nfor(var i=0; i<arrlen; i++){\n    if(msg.payload[i].includes('h2')){\n        newpayload = newpayload.concat([msg.payload[i]]);\n    }\n}\nmsg.infotoreturn.people = [];\nmsg.currpayload = newpayload[0];\nmsg.payload = msg.currpayload;\nmsg.divstoparse = newpayload.slice(1);\nmsg.loopleft = newpayload.length;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1280,"wires":[["427d15b2.510c0c","598b58fb.4195e8"]]},{"id":"5681e91c.cbefd8","type":"html","z":"b1fcb4e6.5f45d8","name":"Get Name","property":"payload","outproperty":"payload","tag":"h2 span a","ret":"html","as":"single","x":1970,"y":1280,"wires":[["14c7d61f.4e659a"]]},{"id":"fc0f53ff.5b196","type":"html","z":"b1fcb4e6.5f45d8","name":"Get info","property":"payload","outproperty":"payload","tag":"dl dd","ret":"html","as":"single","x":1620,"y":1300,"wires":[["66bbcf99.03843"]]},{"id":"66bbcf99.03843","type":"function","z":"b1fcb4e6.5f45d8","name":"Parse Info","func":"arrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    msg.thisguy[msg.thisguyfields[i]] = msg.payload[i];\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1770,"y":1300,"wires":[["5681e91c.cbefd8"]]},{"id":"427d15b2.510c0c","type":"switch","z":"b1fcb4e6.5f45d8","name":"Loop finished","property":"loopleft","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1420,"y":1220,"wires":[["f989ac3b.9910d"]]},{"id":"598b58fb.4195e8","type":"switch","z":"b1fcb4e6.5f45d8","name":"Enter Loop","property":"loopleft","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":1280,"wires":[["2b1b4645.003c2a"]]},{"id":"14c7d61f.4e659a","type":"function","z":"b1fcb4e6.5f45d8","name":"Parse Info","func":"msg.thisguy.name = msg.payload[0];\nmsg.infotoreturn.people = msg.infotoreturn.people.concat([msg.thisguy]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":1280,"wires":[["f087457b.a75328"]]},{"id":"f087457b.a75328","type":"function","z":"b1fcb4e6.5f45d8","name":"Setup next loop","func":"delete msg['thisguy'];\ndelete msg['thisguyfields'];\nif (msg.divstoparse.length >0){\n    msg.currpayload = msg.divstoparse[0];\n    msg.payload = msg.currpayload;\n    msg.divstoparse = msg.divstoparse.slice(1);\n}\nmsg.loopleft--;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":1220,"wires":[["427d15b2.510c0c","598b58fb.4195e8"]]},{"id":"f989ac3b.9910d","type":"function","z":"b1fcb4e6.5f45d8","name":"Setup returning values","func":"delete msg['currpayload'];\ndelete msg['divstoparse'];\ndelete msg['loopleft'];\nmsg.ppl = msg.infotoreturn;\ndelete msg['infotoreturn'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":1180,"wires":[["cd4381e5.cc70e"]]},{"id":"2b1b4645.003c2a","type":"function","z":"b1fcb4e6.5f45d8","name":"setup return value","func":"msg.thisguy = {}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":1380,"wires":[["d099c204.45e8b"]]},{"id":"d099c204.45e8b","type":"html","z":"b1fcb4e6.5f45d8","name":"Get fields","property":"payload","outproperty":"payload","tag":"dl dt","ret":"html","as":"single","x":1840,"y":1380,"wires":[["ef168629.39e8a8"]]},{"id":"ef168629.39e8a8","type":"function","z":"b1fcb4e6.5f45d8","name":"Create fields","func":"msg.thisguyfields = msg.payload;\narrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    if (msg.payload[i].includes(\"Role\")){\n        msg.payload[i] = \"Role\";\n    }\n    msg.thisguy[msg.payload[i]] = \"\";\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2010,"y":1380,"wires":[["fc0f53ff.5b196"]]},{"id":"cd4381e5.cc70e","type":"function","z":"b1fcb4e6.5f45d8","name":"set url","func":"// check isalphanumeric\nif(!msg.topic.match(/^([0-9]|[a-z])+([0-9a-z]+)$/i)){\n    msg.payload = \"ERROR!\";\n    return msg;\n}\nmsg.url = \"https://beta.companieshouse.gov.uk/company/\" + msg.topic + \"/charges\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1620,"wires":[["2fa1f61c.ba1f9a"]]},{"id":"2fa1f61c.ba1f9a","type":"switch","z":"b1fcb4e6.5f45d8","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"52","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":1680,"wires":[["2f5e239c.48ec0c"]]},{"id":"2f5e239c.48ec0c","type":"http request","z":"b1fcb4e6.5f45d8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":1560,"wires":[["be31297d.dfc7e8"]]},{"id":"be31297d.dfc7e8","type":"function","z":"b1fcb4e6.5f45d8","name":"init returnval + store html file","func":"msg.infotoreturn = {};\nmsg.infotoreturn.compnumber = msg.topic;\nmsg.html = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1600,"wires":[["5c7e4334.5284cc","9a26ebdc.7b4f88"]]},{"id":"2ba32176.6d22ee","type":"function","z":"b1fcb4e6.5f45d8","name":"Store info","func":"msg.infotoreturn.compname = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1640,"wires":[["cc51f52a.c2dd78"]]},{"id":"5f8f4b94.da8364","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"p.heading-xlarge","ret":"html","as":"single","x":1250,"y":1580,"wires":[["2ba32176.6d22ee"]]},{"id":"9a26ebdc.7b4f88","type":"switch","z":"b1fcb4e6.5f45d8","name":"No Charges","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":1660,"wires":[["ddc98c37.44c63"]]},{"id":"5c7e4334.5284cc","type":"switch","z":"b1fcb4e6.5f45d8","name":"Charges found","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":840,"y":1600,"wires":[["84dfc20b.4bbc"]]},{"id":"ddc98c37.44c63","type":"function","z":"b1fcb4e6.5f45d8","name":"Setup return value","func":"msg.infotoreturn.charges = \"NONE\";\n\nmsg.charges = msg.infotoreturn;\n\ndelete msg['html'];\ndelete msg['infotoreturn'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1700,"wires":[["ce98a085.6f1ae"]]},{"id":"84dfc20b.4bbc","type":"function","z":"b1fcb4e6.5f45d8","name":"reset html","func":"msg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1600,"wires":[["5f8f4b94.da8364"]]},{"id":"cc51f52a.c2dd78","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"#company-mortgages","ret":"html","as":"single","x":1520,"y":1560,"wires":[["178222bf.00e1ad"]]},{"id":"178222bf.00e1ad","type":"function","z":"b1fcb4e6.5f45d8","name":"Store info","func":"msg.infotoreturn.charges = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1620,"wires":[["f2a88653.03cfc8"]]},{"id":"f2a88653.03cfc8","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"#company-mortgages-breakdown","ret":"html","as":"single","x":1820,"y":1560,"wires":[["e7725a04.c9a628"]]},{"id":"e7725a04.c9a628","type":"function","z":"b1fcb4e6.5f45d8","name":"Store info","func":"msg.infotoreturn.chargesdetailed = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":1620,"wires":[["db77bd46.5c34c"]]},{"id":"9f1e0d15.ea991","type":"function","z":"b1fcb4e6.5f45d8","name":"return values","func":"delete msg['currpayload'];\ndelete msg['divstoparse'];\ndelete msg['loopleft'];\nmsg.charges = msg.infotoreturn;\ndelete msg['infotoreturn'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1780,"wires":[["ce98a085.6f1ae"]]},{"id":"db77bd46.5c34c","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"#mortgage-content div","ret":"html","as":"single","x":1840,"y":1720,"wires":[["65463c42.fa15e4"]]},{"id":"65463c42.fa15e4","type":"function","z":"b1fcb4e6.5f45d8","name":"get correct divs","func":"arrlen = msg.payload.length;\nnewpayload = [];\nfor(var i=0; i<arrlen; i++){\n    if(msg.payload[i].includes('h2')){\n        newpayload = newpayload.concat([msg.payload[i]]);\n    }\n}\nmsg.infotoreturn.chargelist = [];\nmsg.currpayload = newpayload[0];\nmsg.payload = msg.currpayload;\nmsg.divstoparse = newpayload.slice(1);\nmsg.loopleft = newpayload.length;\ndelete msg['html'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2160,"y":1700,"wires":[["4a0d9d90.b401a4","e8b4e0ad.21c87"]]},{"id":"e8b4e0ad.21c87","type":"switch","z":"b1fcb4e6.5f45d8","name":"Enter Loop","property":"loopleft","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2410,"y":1740,"wires":[["5599bdee.eb8944"]]},{"id":"4a0d9d90.b401a4","type":"switch","z":"b1fcb4e6.5f45d8","name":"Loop finished","property":"loopleft","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2420,"y":1680,"wires":[["9f1e0d15.ea991"]]},{"id":"5599bdee.eb8944","type":"function","z":"b1fcb4e6.5f45d8","name":"setup return value","func":"msg.thischarge = {}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2610,"y":1740,"wires":[["d7716191.f32af"]]},{"id":"d7716191.f32af","type":"html","z":"b1fcb4e6.5f45d8","name":"Get fields","property":"payload","outproperty":"payload","tag":"dl dt","ret":"html","as":"single","x":2780,"y":1740,"wires":[["1105a128.c9728f"]]},{"id":"1105a128.c9728f","type":"function","z":"b1fcb4e6.5f45d8","name":"Create fields","func":"msg.thischargefields = msg.payload;\narrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    if (msg.payload[i].includes(\"Role\")){\n        msg.payload[i] = \"Role\";\n    }\n    msg.thischarge[msg.payload[i]] = \"\";\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2930,"y":1720,"wires":[["b63879b.22e4988"]]},{"id":"b63879b.22e4988","type":"html","z":"b1fcb4e6.5f45d8","name":"Get info","property":"payload","outproperty":"payload","tag":"dl dd","ret":"html","as":"single","x":3000,"y":1800,"wires":[["270c207b.ad0bc"]]},{"id":"270c207b.ad0bc","type":"function","z":"b1fcb4e6.5f45d8","name":"Parse Info","func":"arrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    msg.thischarge[msg.thischargefields[i]] = msg.payload[i];\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3150,"y":1860,"wires":[["eae4ad8d.2b53f"]]},{"id":"eae4ad8d.2b53f","type":"html","z":"b1fcb4e6.5f45d8","name":"Get info","property":"payload","outproperty":"payload","tag":"div.text","ret":"html","as":"single","x":3360,"y":1840,"wires":[["7ae0a76e.95b7f8"]]},{"id":"7ae0a76e.95b7f8","type":"function","z":"b1fcb4e6.5f45d8","name":"Setup payload","func":"msg.currpayload = msg.payload[0];\ndelete msg['thischargefields'];\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3546.199951171875,"y":1844.4000244140625,"wires":[["68a0b9f1.e15558"]]},{"id":"68a0b9f1.e15558","type":"html","z":"b1fcb4e6.5f45d8","name":"Get fields","property":"payload","outproperty":"payload","tag":"h3","ret":"html","as":"single","x":3720,"y":1800,"wires":[["5c5f9e9c.e2b2d"]]},{"id":"5c5f9e9c.e2b2d","type":"function","z":"b1fcb4e6.5f45d8","name":"Create fields","func":"msg.thischargefields = msg.payload;\narrlen = msg.payload.length;\nfor(var i=0; i<arrlen; i++){\n    if (msg.payload[i].includes(\"Role\")){\n        msg.payload[i] = \"Role\";\n    }\n    msg.thischarge[msg.payload[i]] = \"\";\n}\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3870,"y":1800,"wires":[["fbfafd9e.0f863"]]},{"id":"fbfafd9e.0f863","type":"html","z":"b1fcb4e6.5f45d8","name":"Get info","property":"payload","outproperty":"payload","tag":"li","ret":"html","as":"single","x":3880,"y":1860,"wires":[["127f1d6c.a1dbe3"]]},{"id":"127f1d6c.a1dbe3","type":"function","z":"b1fcb4e6.5f45d8","name":"Parse Info","func":"msg.thischarge[msg.thischargefields[0]] = msg.payload[0];\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4050,"y":1840,"wires":[["d482567a.3b0238"]]},{"id":"d482567a.3b0238","type":"html","z":"b1fcb4e6.5f45d8","name":"Get info","property":"payload","outproperty":"payload","tag":"p","ret":"html","as":"single","x":4100,"y":1900,"wires":[["2bb75bdb.692fa4"]]},{"id":"2bb75bdb.692fa4","type":"function","z":"b1fcb4e6.5f45d8","name":"Parse Info","func":"msg.thischarge[msg.thischargefields[1]] = msg.payload[0];\nmsg.infotoreturn.chargelist = msg.infotoreturn.chargelist.concat([msg.thischarge]);\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3773.800048828125,"y":1675.5999755859375,"wires":[["a7b164b1.607b98"]]},{"id":"a7b164b1.607b98","type":"function","z":"b1fcb4e6.5f45d8","name":"Setup next loop","func":"delete msg['thischarge'];\ndelete msg['thischargefields'];\nif (msg.divstoparse.length >0){\n    msg.currpayload = msg.divstoparse[0];\n    msg.payload = msg.currpayload;\n    msg.divstoparse = msg.divstoparse.slice(1);\n}\nmsg.loopleft--;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2680,"y":1680,"wires":[["4a0d9d90.b401a4","e8b4e0ad.21c87"]]},{"id":"ce98a085.6f1ae","type":"function","z":"b1fcb4e6.5f45d8","name":"set url","func":"// check isalphanumeric\nif(!msg.topic.match(/^([0-9]|[a-z])+([0-9a-z]+)$/i)){\n    msg.payload = \"ERROR!\";\n    return msg;\n}\nmsg.url = \"https://beta.companieshouse.gov.uk/company/\" + msg.topic + \"/filing-history\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1980,"wires":[["e76b0f1c.9e94"]]},{"id":"e76b0f1c.9e94","type":"switch","z":"b1fcb4e6.5f45d8","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"59","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":2040,"wires":[["66cfea9f.11d394"]]},{"id":"66cfea9f.11d394","type":"http request","z":"b1fcb4e6.5f45d8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":1920,"wires":[["8b59a416.6ea908"]]},{"id":"8b59a416.6ea908","type":"function","z":"b1fcb4e6.5f45d8","name":"init returnval + store html file","func":"msg.infotoreturn = {};\nmsg.infotoreturn.compnumber = msg.topic;\nmsg.html = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1960,"wires":[["996204ea.4f1708","a70a656a.bc8ee8"]]},{"id":"996204ea.4f1708","type":"switch","z":"b1fcb4e6.5f45d8","name":"Valid Page","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1960,"wires":[["fa1d2588.f098f8"]]},{"id":"a70a656a.bc8ee8","type":"switch","z":"b1fcb4e6.5f45d8","name":"Invalid Page","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":2020,"wires":[["990084c8.f08548"]]},{"id":"fa1d2588.f098f8","type":"function","z":"b1fcb4e6.5f45d8","name":"reset html","func":"msg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1960,"wires":[["4dc48b4.9171774"]]},{"id":"4dc48b4.9171774","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"p.heading-xlarge","ret":"html","as":"single","x":1390,"y":1940,"wires":[["f998700e.b92c3"]]},{"id":"f998700e.b92c3","type":"function","z":"b1fcb4e6.5f45d8","name":"Store info","func":"msg.infotoreturn.compname = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1470,"y":2000,"wires":[["b48f1b15.3eaee8"]]},{"id":"990084c8.f08548","type":"function","z":"b1fcb4e6.5f45d8","name":"Setup return value","func":"msg.infotoreturn.files = \"NONE\";\n\nmsg.filestoret = msg.infotoreturn;\n\ndelete msg['html'];\ndelete msg['infotoreturn'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":2020,"wires":[["a7f61f8f.35c02"]]},{"id":"a7f61f8f.35c02","type":"debug","z":"b1fcb4e6.5f45d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":2020,"wires":[]},{"id":"b48f1b15.3eaee8","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"#fhTable","ret":"html","as":"single","x":1620,"y":2040,"wires":[["47e4a8a9.f36698"]]},{"id":"47e4a8a9.f36698","type":"function","z":"b1fcb4e6.5f45d8","name":"","func":"msg.html = msg.payload[0];\nmsg.payload = msg.html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":2040,"wires":[["1ecc23dc.31075c"]]},{"id":"1ecc23dc.31075c","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"tr","ret":"html","as":"single","x":1950,"y":2040,"wires":[["537d1476.25364c"]]},{"id":"537d1476.25364c","type":"function","z":"b1fcb4e6.5f45d8","name":"setup loop","func":"delete msg['html'];\nmsg.infotoreturn.filelist = [];\nmsg.loopleft = msg.payload.length - 1;\nmsg.currpayload = msg.payload[1];\nmsg.rowstoparse = msg.payload.slice(2);\nmsg.payload = msg.currpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2110,"y":2060,"wires":[["a5c89dfd.99572","82a2bc1.f6fe24"]]},{"id":"82a2bc1.f6fe24","type":"switch","z":"b1fcb4e6.5f45d8","name":"Enter Loop","property":"loopleft","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2330,"y":2100,"wires":[["5d2211e2.24bff"]]},{"id":"a5c89dfd.99572","type":"switch","z":"b1fcb4e6.5f45d8","name":"Loop finished","property":"loopleft","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2350,"y":2000,"wires":[["cfcc8c82.cf1a2"]]},{"id":"5d2211e2.24bff","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"td","ret":"html","as":"single","x":2510,"y":2120,"wires":[["7ac15304.dc859c"]]},{"id":"7ac15304.dc859c","type":"function","z":"b1fcb4e6.5f45d8","name":"Parse this file","func":"msg.thisfile = {}\nmsg.thisfile[\"Date\"] = msg.payload[0];\n\nthisdesc = msg.payload[2];\nthisdesc = thisdesc.split(\"<strong>\").join('');\nthisdesc = thisdesc.split(\"</strong>\").join('');\nthisdesc = thisdesc.replace(/<\\/?[^>]+(>|$)/g, \"\");\nmsg.thisfile[\"Description\"] = thisdesc;\n\n//tidyup just get url\nthislink = msg.payload[3];\nthislink = thislink.replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nthislink = thislink.split(/\\s+/).join(' ');\nthislink = thislink.split(\"\\\"\")[1];\nmsg.thisfile[\"Link\"] = \"https://beta.companieshouse.gov.uk\" + thislink;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2700,"y":2120,"wires":[["f442eba7.4f3268"]]},{"id":"f442eba7.4f3268","type":"function","z":"b1fcb4e6.5f45d8","name":"Setup next loop","func":"msg.infotoreturn.filelist = msg.infotoreturn.filelist.concat([msg.thisfile]);\n\ndelete msg['thisfile'];\nif (msg.rowstoparse.length >0){\n    msg.currpayload = msg.rowstoparse[0];\n    msg.payload = msg.currpayload;\n    msg.rowstoparse = msg.rowstoparse.slice(1);\n}\nmsg.loopleft--;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2560,"y":2060,"wires":[["82a2bc1.f6fe24","a5c89dfd.99572"]]},{"id":"cfcc8c82.cf1a2","type":"function","z":"b1fcb4e6.5f45d8","name":"return values","func":"delete msg['currpayload'];\ndelete msg['rowstoparse'];\ndelete msg['loopleft'];\nmsg.filestoret = msg.infotoreturn;\ndelete msg['infotoreturn'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2530,"y":1980,"wires":[["96cf89ec.a3ce88"]]},{"id":"412116f6.1db728","type":"debug","z":"b1fcb4e6.5f45d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3130,"y":1960,"wires":[]},{"id":"f94164ef.603288","type":"http in","z":"b1fcb4e6.5f45d8","name":"","url":"/retcompdetails","method":"post","upload":false,"swaggerDoc":"","x":200,"y":800,"wires":[["99939244.4de51","2bfe850d.92c39a"]]},{"id":"99939244.4de51","type":"function","z":"b1fcb4e6.5f45d8","name":"Set topic","func":"msg.topic = msg.payload.company;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":820,"wires":[["f688075f.63b608"]]},{"id":"96cf89ec.a3ce88","type":"function","z":"b1fcb4e6.5f45d8","name":"setup payload","func":"msg.payload = {\"overview\": msg.overview, \"ppl\": msg.ppl, \"charges\": msg.charges, \"files\": msg.filestoret, \"statements\": msg.statementsexist};\ndelete msg['statementsexist'];\ndelete msg['overview'];\ndelete msg['ppl'];\ndelete msg['charges'];\ndelete msg['filestoret'];\ndelete msg['headers'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2780,"y":1960,"wires":[["412116f6.1db728","a3bf175a.2257d8"]]},{"id":"a3bf175a.2257d8","type":"template","z":"b1fcb4e6.5f45d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1985123_wwjfylz91uo.css\">\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n\t\t\tpadding-top: 40px;\n\t\t\ttext-align: center;\n        }\n\t\t\n\t\t.cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n\t\t\tbackground: white;\n\t\t\tborder-radius: 5px;\n\t\t\tmargin-left: 6px;\n\t\t\tmargin-top: 6px;\n\t\t\tmargin-bottom: 6px;\n        }\n\t\t\n\t\t.feature {\n\t\t\tmargin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n\t\t\tcolor: grey;\n\t\t\tfont-weight: bold;\n\t\t}\n\t\t\n\t\t.content {\n\t\t\tmargin-left: 20px;\n\t\t\tmargin-top: 10px;\n\t\t\tfloat: left;\n\t\t\twidth: 90%;\n\t\t\tcolor: black;\n\t\t\tfont-size: 160%; \n\t\t}\n\t\t\n\t\t.bottom {\n\t\t\tmargin-left: 20px;\n\t\t\tmargin-top: 8px;\n\t\t\tfloat: left:\n\t\t\t/*width: 90%;*/\n\t\t\tcolor: black;\n\t\t\tfont-size: 100%;\n\t\t\tfont-weight: light;\n\t\t\n\t\t}\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Company Information from CompanyHouse</div>\n\t\t\t\n\t\t\t<!-- row1 -->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-NameCard\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \t\n    \t\t\t\t\t<font class=\"feature\">Company Name</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<font class=\"content\" style=\"font-weight: bold;\">{{payload.overview.compname}}</font>\n    \t\t\t\t\t\n    \t\t\t\t\t\n    \t\t\t\t\t<div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 150px;\"></div>\n            \n    \t\t\t\t\t<div class=\"bottom\">\n    \t\t\t\t\t\t<font>Company Number:</font>\n    \t\t\t\t\t\t\t\n    \t\t\t\t\t\t<font style=\"margin-left: 20px;\">{{payload.overview.compnumber}}</font>\n    \t\t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t\n    \t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-SuiteCase\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \t\n    \t\t\t\t\t<font class=\"feature\">Nature of Business</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<font class=\"content\">{{payload.overview.natureofbiz}}</font>\n    \t\t\t\t\t\n    \t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Presentation\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n    \t\t\t\t\t<div class=\"feature\">Company Type</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<font class=\"content\"  style=\"font-weight: bold;\">{{payload.overview.companytype}}</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 150px;\"></div>\n            \n    \t\t\t\t\t<div class=\"bottom\">\n    \t\t\t\t\t\t<font>Company Status:</font>\n\n                            <i id=\"statusIcon\" class=\"iconfont icon-active\" style=\"margin-left: 20px; color: #51ea14; margin-top: 15px; \"></i>\n    \t\t\t\t\t\t\t\n    \t\t\t\t\t\t<font style=\"\">{{payload.overview.companystatus}}</font>\n    \t\t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t</div>\n\n                </div>\n\t\t\t\t\n            </div>\n\t\t\t\n\t\t\t<!-- row2 -->\n\t\t\t\n\t\t\t<div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n\t\t\t\t\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Building\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n    \t\t\t\t\t<div class=\"feature\">Registered Office Address</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<font class=\"content\" style=\"font-size: 120%;\">{{payload.overview.address}}</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 150px;\"></div>\n            \n    \t\t\t\t\t<div class=\"bottom\">\n    \t\t\t\t\t\t<font>Incorporate Date:</font>\n    \t\t\t\t\t\t\t\n    \t\t\t\t\t\t<font style=\"margin-left: 20px;\">{{payload.overview.incdate}}</font>\n    \t\t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t</div>\n    \t\t\t\t\n    \t\t\t\t<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Note\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n    \t\t\t\t\t<div id=\"statementTitle\" class=\"feature\">Statement</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<font id=\"statementContent\" class=\"content\" style=\"font-size: 110%;\">{{payload.overview.statement}}</font>\n    \t\t\t\t\t\n    \t\t\t\t\t<!-- <font class=\"content\" style=\"font-size: 110%;\">Last statement dated 24 January 2020.</font> -->\n    \t\t\t\t\n    \t\t\t\t</div>\n\n                    <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Analyst\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Account</div>\n                        \n                        <font class=\"content\" style=\"font-size: 110%;\">{{payload.overview.acc}}</font>\n                        \n                        <!-- <font class=\"content\" style=\"font-size: 110%;\">Last accounts made up to 31 December 2018.</font> -->\n                        \n                    </div>\n\n                </div>\n\t\t\t\t\n            </div>\n\t\t\t\n\t\t\t<!-- row3 -->\n\t\t\t\n\t\t\t<div id=\"row3\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n\n    \t\t\t\t<div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Profit\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n    \t\t\t\t\t<div class=\"feature\">Charges</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<div style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px; margin-bottom: 10px;\">\n                            <font id=\"chargesTitle\">Total:</font>\n    \t\t\t\t\t    <font id=\"chargesContent\">{{payload.charges.charges}}</font>\n    \t\t\t\t\t</div>\n    \t\t\t\t\t\n    \t\t\t\t\t<div id=\"chargesDetail\" style=\"float: left; width: 100%; margin-left: 20px;\">\n                            <font>Detail:</font>\n    \t\t\t\t\t    <font>{{payload.charges.chargesdetailed}}</font>\n    \t\t\t\t\t</div>\n\n                        <div id=\"chargesTable\" style=\"float: left; margin-left: 20px; margin-top: 15px; margin-bottom: 20px;\">\n                            <table class=\"gridtable\">\n                                <thead>\n                                    <tr>\n                                        <th width=\"150px;\">Created</th>\n                                        <th width=\"150px;\">Delivered</th>\n                                        <th width=\"150px;\">Status</th>\n                                        <th width=\"200px;\">Persons entitled</th>\n                                        <th width=\"250px;\">Brief Description</th>\n                                    </tr>\n\n                                </thead>\n\n                                <tbody>\n                                    {{#payload.charges.chargelist}}\n                                    <tr>\n                                        <td>{{Created}}</td>\n                                        <td>{{Delivered}}</td>\n                                        <td>{{Status}}</td>\n                                        <td>{{Persons entitled}}</td>\n                                        <td>{{Brief description}}</td>\n                                    </tr>\n                                    {{/payload.charges.chargelist}}\n                                </tbody>                           \n                            </table>\n                        </div>\n    \t\t\t\t</div>\n                </div>\n\t\t\t\n\t\t\t</div>\n\n            <!-- row4 -->\n\n            <div id=\"row4\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    \n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Meeting\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">People</div>\n                        \n                        <div style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px;\">\n                            <font>Total Appointments:</font>\n                            <font>{{payload.ppl.totalappts}}</font>\n                        </div>\n\n                        <div style=\"float: left; margin-left: 20px; margin-right: 20px; margin-top: 15px; margin-bottom: 20px;\">\n                            <table class=\"gridtable\">\n                                <thead>\n                                    <tr>\n                                        <th width=\"100px;\">Name</th>\n                                        <th width=\"80px;\">Occupation</th>\n                                        <th width=\"80px;\">Role</th>\n                                        <th width=\"100px;\">DOB</th>\n                                        <th width=\"250px;\">Address</th>\n                                        <th width=\"100px;\">Appointed on</th>\n                                        <th width=\"100px;\">Resigned on</th>\n                                        <th width=\"100px;\">Nationality</th>\n                                        <th width=\"100px;\">Residence</th>\n                                    </tr>\n\n                                </thead>\n\n                                <tbody>\n                                    {{#payload.ppl.people}}\n                                    <tr>\n                                        <td>{{name}}</td>\n                                        <td>{{Occupation}}</td>\n                                        <td>{{Role}}</td>\n                                        <td>{{Date of birth}}</td>\n                                        <td>{{Correspondence address}}</td>\n                                        <td>{{Appointed on}}</td>\n                                        <td>{{Resigned on}}</td>\n                                        <td>{{Nationality}}</td>\n                                        <td>{{Country of residence}}</td>\n                                    </tr>\n                                    {{/payload.ppl.people}}\n                                </tbody>                           \n                            </table>\n                        </div>\n                    \n                    </div>\n\n                </div>\n            \n            </div>\n\n            <!-- row5 -->\n            <div id=\"row5\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; margin-bottom: 30px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icon-Computer\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Related Files</div>\n\n                        <div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 40px;\"></div>\n\n                        {{#payload.files.filelist}}\n                        \n                        <div style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px;\">\n\n                            <a href={{Link}} target=\"_blank\">{{{Description}}}</a>\n                        </div>\n\n                        <div style=\"width: 100%;\">\n\n                            <i class=\"iconfont icon-time\" style=\"margin-top: 4px; float: left; margin-left: 20px;\"></i>\n\n                            <font style=\"font-size: 10px; margin-left: 10px; margin-top: 9px; float: left;\">{{Date}}</font> \n                        </div>\n\n                        {{/payload.files.filelist}}\n                    \n                    </div>\n                </div>\n            \n            </div>\n\n\n\t\t\t\n        </div>\n\n\n\n        <script type=\"text/javascript\">\n        \n            if({{payload.statements}} == true) {\n                //document.getElementById('statusIcon').style.color = \"iconfont icon-active\";\n                document.getElementById('statementTitle').innerHTML = \"Statement\";\n                document.getElementById('statementContent').innerHTML = \"{{payload.overview.statement}}\";\n            }\n            else {\n                document.getElementById('statusIcon').style.color = \"red\";\n                document.getElementById('statementTitle').innerHTML = \"Dissolved Date\";\n                document.getElementById('statementContent').innerHTML = \"{{payload.overview.dissolvedate}}\";\n            }\n\n            \n            // if(\"{{statusCode}}\" == 404){\n            //     $('chargesTitle').val(\"\");\n            //     $('chargesContent').val(\"No charges found for Company.\");\n            //     document.getElementById('chargesTitle').innerHTML = \"\"\n            //     document.getElementById('chargesDetail').style.display = \"none\";\n            //     document.getElementById('chargesTable').style.display = \"none\";\n            // }\n            // else{\n            //     $('chargesTitle').val(\"Charges\");\n            //     $('chargesContent').val(payload.charges.charges);\n            // }\n            \n            if(\"{{payload.charges.charges}}\" == \"NONE\"){\n                document.getElementById('chargesTitle').innerHTML = \"\";\n                document.getElementById('chargesContent').innerHTML = \"No charges found for Company.\";\n                document.getElementById('chargesDetail').style.display = \"none\";\n                document.getElementById('chargesTable').style.display = \"none\";\n            }\n\n        </script>\n    </body>\n</html>","output":"str","x":3100,"y":2060,"wires":[["c17d2be8.59e268"]]},{"id":"c17d2be8.59e268","type":"http response","z":"b1fcb4e6.5f45d8","name":"","statusCode":"","headers":{},"x":3290,"y":2060,"wires":[]},{"id":"64e9b40c.f28a1c","type":"watson-discovery-v1","z":"29c7a1ef.d8290e","name":"Locations","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"nested(enriched_text.entities).filter(enriched_text.entities.type:Location).term(enriched_text.entities.text)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":560,"y":580,"wires":[["8c0e6053.a94c6"]]},{"id":"8c0e6053.a94c6","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let locations = [];\nmsg.search_results.aggregations[0].aggregations[0].aggregations[0].results.forEach(function(item, index, array) {\n  locations.push(item.key)\n});\nmsg.ui.locations = locations;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":580,"wires":[["9ebd22a4.a3513"]]},{"id":"5841fb61.f474d4","type":"watson-discovery-v1","z":"29c7a1ef.d8290e","name":"Risk","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"risk","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":250,"y":640,"wires":[["94ddb881.8fb548"]]},{"id":"94ddb881.8fb548","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let risks = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const risk = item.passage_text + ' ';\n  risks = risks.concat('', risk);\n})\n\nmsg.ui.risk = risks;\nmsg.payload = risks;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":640,"wires":[["fc83e13c.18dd8"]]},{"id":"9ebd22a4.a3513","type":"watson-discovery-v1","z":"29c7a1ef.d8290e","name":"VIP","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"nested(enriched_text.entities).filter(enriched_text.entities.type::Person).term(enriched_text.entities.text)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":890,"y":580,"wires":[["bf73396a.67d978"]]},{"id":"bf73396a.67d978","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let vip = [];\n\nmsg.search_results.aggregations[0].aggregations[0].aggregations[0].results.forEach(function(item, index, array) {\n    vip.push(item.key);\n})\n\nmsg.ui.vip = vip;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":580,"wires":[["5841fb61.f474d4"]]},{"id":"5864ccf3.fd2b14","type":"watson-discovery-v1","z":"29c7a1ef.d8290e","name":"Revenue This Year","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"revenue this year","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":270,"y":720,"wires":[["69ccbf1e.4ca57"]]},{"id":"69ccbf1e.4ca57","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let revenues = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const revenue = item.passage_text + ' ';\n  revenues = revenues.concat('', revenue);\n})\n\nmsg.ui.this_revenue = revenues;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":720,"wires":[["c6030e31.199b3"]]},{"id":"32f24a07.814ff6","type":"watson-discovery-v1","z":"29c7a1ef.d8290e","name":"EPS This Year","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"earnings per share this year","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":240,"y":1060,"wires":[["db9572a7.25991"]]},{"id":"bae7ebc3.f77ea8","type":"watson-discovery-v1","z":"29c7a1ef.d8290e","name":"EPS Last Year","environmentname":"","environmentId":"","collectionId":"","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"earnings per share last year","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":240,"y":1120,"wires":[["d8499972.9e1798"]]},{"id":"db9572a7.25991","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let earnings = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const eps = item.passage_text + ' ';\n  earnings = earnings.concat('', eps);\n})\n\nmsg.ui.this_eps = earnings;\nmsg.payload = earnings;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1060,"wires":[["ee430376.0acc3"]]},{"id":"d8499972.9e1798","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let earnings = '';\n\nmsg.search_results.passages.forEach(function(item, index, array) {\n  const eps = item.passage_text + ' ';\n  earnings = earnings.concat('', eps);\n})\n\nmsg.ui.last_eps = earnings;\nmsg.payload = earnings;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1120,"wires":[["79b7087c.3d4038"]]},{"id":"dfea3db8.8dc52","type":"template","z":"8d459938.14dd28","name":"try createnv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to create environments</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n         xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                document.getElementById(\"display\").innerHTML = \"ENVIRONMENT CREATED\";\n            }\n        }\n        \n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments?version=2019-04-30\";\n\n        xmlHttp.open(\"POST\", url);\n\n        xmlHttp.setRequestHeader(\"Content-Type\",\"application/json\");\n        \n        \n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        \n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));   \n        xmlHttp.send(JSON.stringify({\"name\":\"my_environment\",\"description\":\"My environment\"}));\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":480,"y":260,"wires":[["9a01b23f.79022"]]},{"id":"5a624cbc.2974d4","type":"http in","z":"8d459938.14dd28","name":"","url":"/makeenv","method":"get","upload":false,"swaggerDoc":"","x":230,"y":260,"wires":[["dfea3db8.8dc52"]]},{"id":"9a01b23f.79022","type":"http response","z":"8d459938.14dd28","name":"","statusCode":"","headers":{},"x":700,"y":260,"wires":[]},{"id":"ed65e65a.1f8ba8","type":"template","z":"8d459938.14dd28","name":"try listenv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to list environments</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n        xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                result = xmlHttp.responseText;\n                document.getElementById(\"display\").innerHTML = result;\n            }\n        }\n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments?version=2019-04-30\";\n        \n        xmlHttp.open(\"GET\", url);\n        \n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        \n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));   \n        xmlHttp.send();\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":470,"y":160,"wires":[["b350eb4e.aedb18"]]},{"id":"f904111c.c7f9d","type":"http in","z":"8d459938.14dd28","name":"","url":"/listenv","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["ed65e65a.1f8ba8"]]},{"id":"b350eb4e.aedb18","type":"http response","z":"8d459938.14dd28","name":"","statusCode":"","headers":{},"x":700,"y":160,"wires":[]},{"id":"acc67fcd.787ab","type":"template","z":"8d459938.14dd28","name":"try listcoll","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to list collections</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n        xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                result = xmlHttp.responseText;\n                document.getElementById(\"display\").innerHTML = result;\n            }\n        }\n        \n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments/\" + \"placeholderenvid\" + \"/collections?version=2019-04-30\";\n               \n        xmlHttp.open(\"GET\", url);\n\n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        \n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));   \n        xmlHttp.send();\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":500,"y":600,"wires":[["d1d08a0e.90f838"]]},{"id":"7a27facb.e89b54","type":"http in","z":"8d459938.14dd28","name":"","url":"/listcoll","method":"get","upload":false,"swaggerDoc":"","x":250,"y":600,"wires":[["acc67fcd.787ab"]]},{"id":"d1d08a0e.90f838","type":"http response","z":"8d459938.14dd28","name":"","statusCode":"","headers":{},"x":730,"y":600,"wires":[]},{"id":"35b6f33d.4df56c","type":"template","z":"8d459938.14dd28","name":"try makecoll","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to create collection</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n         xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                document.getElementById(\"display\").innerHTML = \"Collection CREATED\";\n            }\n        }\n        \n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments/\" + \"placeholderenvid\" + \"/collections?version=2019-04-30\";\n        \n        xmlHttp.open(\"POST\", url);\n        xmlHttp.setRequestHeader(\"Content-Type\",\"application/json\");\n        \n        \n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));\n        \n        \n        // TODO - REPLACE placeholder below\n        var configid = \"placeholderconfigid\";\n        \n        xmlHttp.send(JSON.stringify({\"name\":\"test_collection\",\"description\":\"My testcoll\",\"configuration_id\":configid,\"language\":\"en\"}));\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":510,"y":480,"wires":[["abe82eed.55465"]]},{"id":"e8de2419.877ff8","type":"http in","z":"8d459938.14dd28","name":"","url":"/makecoll","method":"get","upload":false,"swaggerDoc":"","x":250,"y":480,"wires":[["35b6f33d.4df56c"]]},{"id":"abe82eed.55465","type":"http response","z":"8d459938.14dd28","name":"","statusCode":"","headers":{},"x":730,"y":480,"wires":[]},{"id":"954207ad.5317c8","type":"template","z":"8d459938.14dd28","name":"try listconfigs","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>click to list configs</h1>\n\n<input type=\"submit\" value=\"Start\" onclick=\"submit()\">\n\n<p id=\"display\"></p>\n\n<script type=\"text/javascript\">\n    function submit() {\n        var xmlHttp = new XMLHttpRequest();\n        xmlHttp.onreadystatechange = function() {\n            if (xmlHttp.readyState === 4) {\n                result = xmlHttp.responseText;\n                document.getElementById(\"display\").innerHTML = result;\n            }\n        }\n        \n        // TODO - REPLACE placeholder below\n        var url = \"placeholderurl\" + \"/v1/environments/\" + \"placeholderenvid\" + \"/configurations?version=2019-04-30\";\n        \n        xmlHttp.open(\"GET\", url);\n\n        // TODO - REPLACE placeholder below\n        var api = \"apikey:\" + \"placeholderapi\";\n        \n        xmlHttp.setRequestHeader(\"Authorization\",\"Basic \" + btoa(api));   \n        xmlHttp.send();\n        return xmlHttp.responseText;\n    }\n</script>","output":"str","x":490,"y":380,"wires":[["d15213f6.4daea"]]},{"id":"bf1f8103.ac4ee","type":"http in","z":"8d459938.14dd28","name":"","url":"/listconfigs","method":"get","upload":false,"swaggerDoc":"","x":240,"y":380,"wires":[["954207ad.5317c8"]]},{"id":"d15213f6.4daea","type":"http response","z":"8d459938.14dd28","name":"","statusCode":"","headers":{},"x":710,"y":380,"wires":[]},{"id":"e9bba910.025e28","type":"http in","z":"29c7a1ef.d8290e","name":"","url":"/report","method":"get","upload":false,"swaggerDoc":"","x":210,"y":380,"wires":[["90681eb2.0880e"]]},{"id":"422332f6.53054c","type":"template","z":"29c7a1ef.d8290e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1994741_yitk9l5cgp.css\">\n\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-base.min.js\"></script>\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js\"></script>\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n            padding-top: 40px;\n            text-align: center;\n        }\n        \n        .cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n            background: white;\n            border-radius: 5px;\n            margin-left: 6px;\n            margin-top: 6px;\n            margin-bottom: 6px;\n        }\n        \n        .feature {\n            margin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n            color: black;\n            font-weight: bold;\n        }\n        \n        .content {\n            margin-left: 20px;\n            margin-top: 10px;\n            float: left;\n            width: 90%;\n            color: black;\n            font-size: 160%; \n        }\n        \n        .bottom {\n            margin-left: 20px;\n            margin-top: 8px;\n            float: left:\n            /*width: 90%;*/\n            color: black;\n            font-size: 100%;\n            font-weight: light;\n        \n        }\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n        button {\n            border-radius: 30px;\n            border: 1px;\n            text-align: center;\n            font-size: 90%; \n            height: 28px;\n            margin-left: 10px;\n        }\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Annual Report Analysis Portal</div>\n            \n            <!-- row1: search suggestion-->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsearch\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <font class=\"feature\">Search Query</font>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left;\">\n\n                                <form action=\"/watsonhandler\" method=\"POST\" style=\"margin-top: 10px; float: left;\">\n\n                                    <font for=\"query\" style=\"font-size: 100%; margin-top: 10px; margin-left: 10px;\">Enter query:</font>\n\n                                    <input id=\"queryInput\" required=\"required\" type=\"text\" name=\"query\" style=\"width: 400px; height: 30px; margin-top: 6px; margin-left: 13px;\" placeholder=\"Please input the query you want to search ...\"/>\n\n                                    \n                                    <font for=\"searchScope\" style=\"margin-left: 40px;\" >Search Scope:</font>\n                                    <select id=\"searchScope\" name=\"searchScope\" style=\"width: 150px; margin-left: 10px;\">\n                                        <option value=\"Document\">Document</option>\n                                        <option value=\"News\">News</option>\n                                        <option value=\"Web\">Web</option>\n                                    </select>\n\n                                    <input type=\"submit\" value=\"Submit\" style=\"margin-left: 50px; width: 150px; height: 40px; text-align: center;\">\n\n                                </form>\n                                \n\n                            </div>\n\n                            <div id=\"searchSuggestion\" style=\"width: 100%; margin-left: 10px; margin-top: 20px; float: left;\">\n\n                                <button id=\"strategy\" style=\"width: 100px; background-color: #b8f1ed;\" onclick=\"ss_strategy()\">Strategy</button>\n\n                                <button id=\"innovation\" style=\"width: 110px; background-color: #b8f1ed;\" onclick=\"ss_innovation()\">Innovation</button>\n\n                                <button id=\"risk\" style=\"width: 120px; background-color: #b8f1ed;\" onclick=\"ss_risk()\">Risk Factors</button>\n\n                                <button id=\"investor\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_investor()\">Investor Proposition</button>\n\n                                <button id=\"sustainability\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_sustainability()\">Sustainability Issues</button>\n\n                                <button id=\"global\" style=\"width: 220px; background-color: #b8f1ed;\" onclick=\"ss_global()\">Global Market Performance</button>\n\n                            </div>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left; margin-top: 20px;\"></div>\n                    \n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row2 -->\n            \n            <div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n                \n                    <div class=\"cardBox\" style=\"height: 200px;  position: relative; left: -50%;\">\n\n                    <i class=\"iconfont iconjobtitle\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                    <div class=\"feature\">Title</div>\n                    \n                    <font class=\"content\" style=\"font-size: 120%;\">{{ui.title}}</font>\n                    \n                \n                    </div>\n                \n                    <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsmile\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Sentiment</div>\n                        \n                        <font class=\"content\" style=\"font-size: 120%; text-align: center; margin-bottom: 10px;\">{{ui.sentiment}}</font>\n\n                        <div style=\"width: 100%;\" align=\"center\">\n                            <img id=\"sentiment_img\" src=\"https://raw.githubusercontent.com/yamanXu/img/master/positive.png\" width=\"70px\" height=\"70px\" />\n                        </div>\n\n                        \n                    \n                    </div>\n\n                    <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconguanjianzhibiao\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Keywords</div>\n                        \n                        <div id=\"container\" style=\"width: 100%; height: 80%;\"></div>\n                            \n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row3 -->\n            \n            <div id=\"row3\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n\n                    <div class=\"cardBox\" style=\"height: 200px;  position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconBuilding\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Industry</div>\n\n                        <div class=\"content\" style=\"font-size: 100%; margin-left: 0px; margin-top: 0px;\">\n                            <ul id=\"industryList\"></ul>\n                        </div>\n                        \n                    \n                    </div>\n                    \n                    <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconpeople1\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">VIP</div>\n                        \n                        <div class=\"content\" style=\"font-size: 100%; margin-left: 0px; margin-top: 0px;\">\n                            <ul id=\"vipList\"></ul>\n                        </div>\n                    \n                    </div>\n\n                    {{!--<div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">--}}\n\n                    {{!--    <i class=\"iconfont iconlocation\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>--}}\n\n                    {{!--    <div class=\"feature\">Location</div>--}}\n\n                    {{!--    <div style=\"width: 100%; margin-top: 20px; float: left;\" align=\"center\">--}}\n                    {{!--        <img src=\"https://raw.githubusercontent.com/yamanXu/img/master/map.png\" width=\"280px\" height=\"120px\" />--}}\n                    {{!--    </div>--}}\n                        \n                            \n                    {{!--</div>--}}\n                    \n                    <div class=\"cardBox\" style=\"height: 200px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconlocation\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Locations</div>\n                        \n                        <div id=\"container-loc\" style=\"width: 100%; height: 80%;\"></div>\n                            \n                    </div>\n                    \n                </div>\n            \n            </div>\n            \n            {{!--row 3.5--}}\n            <div id=\"row35\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    \n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n                        \n                        <div class=\"feature\" style=\"width: 27%\">Personality Insight Notations</div>\n                        \n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.analytical}};\">Analytical</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.anger}};\">Anger</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.confident}};\">Confident</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.fear}};\">Fear</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.joy}};\">Joy</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.sadness}};\">Sadness</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.tentative}};\">Tentative</p>\n                        <p class=\"content\" style=\"width: 7%; font-size: 90%; padding-bottom: 10px; text-align: justify; background: {{ui.colours.na}};\">n/a</p>\n\n                    </div>\n                </div>\n            \n            </div>\n\n            <!-- row4 -->\n\n            <div id=\"row4\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    \n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%; background:{{ui.risk_sentiment}};\">\n                        \n                        <i class=\"iconfont iconrisk\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Risk</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.risk}}</p>\n\n                    </div>\n                </div>\n            \n            </div>\n\n            <!-- row5 -->\n            <div id=\"row5\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n\n                    <div id=\"revenue_this\" class=\"cardBox\" style=\"height: auto; width: 545px; position: relative; left: -50%; background:{{ui.this_revenue_sentiment}};\">\n\n                        <i class=\"iconfont iconmoney\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Revenue (current year)</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.this_revenue}}</p>\n                    \n                    </div>\n\n                    <div id=\"revenue_last\" class=\"cardBox\" style=\"height: auto; width: 545px; position: relative; left: -50%; background:{{ui.last_revenue_sentiment}}; \">\n\n                        <i class=\"iconfont iconmoney\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Revenue (previous year)</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.last_revenue}}</p>\n\n                    </div>\n\n\n                </div>\n            \n            </div>\n\n            <!-- row6 -->\n\n            <div id=\"row6\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n\n                    <div id=\"eps_this\" class=\"cardBox\" style=\"width:545px; height: auto; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icongupiao-zuhe\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Earnings per share (current year)</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.this_eps}}</p>\n                        \n                    </div>\n\n                    <div id=\"eps_last\" class=\"cardBox\" style=\"width:545px; height: auto; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont icongupiao-zuhe\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Earnings per share (previous year)</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.last_eps}}</p>\n                    \n                    </div>\n                \n                </div>\n\n            </div>\n\n            <!-- row7 -->\n            <div id=\"row7\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    \n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%; background:{{ui.cash_flow_sentiment}};\">\n                        \n                        <i class=\"iconfont iconst-cash\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Cash Flow</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.cash_flow}}</p>\n\n                    </div>\n                </div>\n            \n            </div>\n\n            <!-- row8 -->\n\n            <div id=\"row8\" style=\"width: 100%; margin-top: 30px;\">\n\n                <div style=\"position: relative; left: 50%; float: left; margin-bottom: 20px;\">\n                    \n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%; background:{{ui.finance_debt_sentiment}};\">\n                        \n                        <i class=\"iconfont iconzhaiquan\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n\n                        <div class=\"feature\">Finance Debt</div>\n                        \n                        <p class=\"content\" style=\"font-size: 90%; padding-bottom: 10px; text-align: justify;\">{{ui.finance_debt}}</p>\n\n                    </div>\n                </div>\n            \n            </div>\n\n            \n        </div>\n\n\n\n        <script type=\"text/javascript\">\n            anychart.onDocumentReady(function() {\n                var data = [\n                    {x: \"{{ui.keyword.0}}\", value: 800000000},\n                    {x: \"{{ui.keyword.1}}\", value: 750000000},\n                    {x: \"{{ui.keyword.2}}\", value: 700000000},\n                    {x: \"{{ui.keyword.3}}\", value: 700000000},\n                    {x: \"{{ui.keyword.4}}\", value: 650000000},\n                    {x: \"{{ui.keyword.5}}\", value: 650000000},\n                    {x: \"{{ui.keyword.6}}\", value: 650000000},\n                    {x: \" \", value: 800}\n                ];\n                \n                let data_loc = [\n                    {x: \"{{ui.locations.0}}\", value: 800000000},\n                    {x: \"{{ui.locations.1}}\", value: 750000000},\n                    {x: \"{{ui.locations.2}}\", value: 700000000},\n                    {x: \"{{ui.locations.3}}\", value: 700000000},\n                    {x: \"{{ui.locations.4}}\", value: 650000000},\n                    {x: \"{{ui.locations.5}}\", value: 650000000},\n                    {x: \"{{ui.locations.6}}\", value: 650000000},\n                    {x: \" \", value: 800}\n                ];\n                \n                // create a tag (word) cloud chart\n                var chart = anychart.tagCloud(data);\n                \n                let chart_loc = anychart.tagCloud(data_loc);\n                // set a chart title\n                // chart.title('15 most spoken languages')\n                // set an array of angles at which the words will be laid out\n                chart.angles([0]);\n                \n                chart_loc.angles([0]);\n                // enable a color range\n                // chart.colorRange(true);\n                // set the color range length\n                // chart.colorRange().length('80%');\n                // display the word cloud chart\n                chart.container(\"container\");\n                chart.draw();\n                \n                chart_loc.container(\"container-loc\");\n                chart_loc.draw();\n            });\n\n            // industry\n\n            (function() {\n\n                var industry = document.getElementById('industryList');\n\n                var industry_html = '';\n\n                if (\"{{ui.industry.0}}\"){\n                    industry_html += '<li>' + \"{{ui.industry.0}}\" + '</li>';\n                }\n\n                if (\"{{ui.industry.1}}\"){\n                    industry_html += '<li>' + \"{{ui.industry.1}}\" + '</li>';\n                }\n\n                if (\"{{ui.industry.2}}\"){\n                    industry_html += '<li>' + \"{{ui.industry.2}}\" + '</li>';\n                }\n\n                if (\"{{ui.industry.3}}\"){\n                    industry_html += '<li>' + \"{{ui.industry.3}}\" + '</li>';\n                }\n\n                if (\"{{ui.industry.4}}\"){\n                    industry_html += '<li>' + \"{{ui.industry.4}}\" + '</li>';\n                }\n\n                if (\"{{ui.industry.5}}\"){\n                    industry_html += '<li>' + \"{{ui.industry.5}}\" + '</li>';\n                }\n                \n                industry.innerHTML = industry_html;\n\n            })();\n\n            // vip\n\n            (function() {\n\n                var vip = document.getElementById('vipList');\n\n                var vip_html = '';\n\n                if (\"{{ui.vip.0}}\"){\n                    vip_html += '<li>' + \"{{ui.vip.0}}\" + '</li>';\n                }\n\n                if (\"{{ui.vip.1}}\"){\n                    vip_html += '<li>' + \"{{ui.vip.1}}\" + '</li>';\n                }\n\n                if (\"{{ui.vip.2}}\"){\n                    vip_html += '<li>' + \"{{ui.vip.2}}\" + '</li>';\n                }\n\n                if (\"{{ui.vip.3}}\"){\n                    vip_html += '<li>' + \"{{ui.vip.3}}\" + '</li>';\n                }\n\n                if (\"{{ui.vip.4}}\"){\n                    vip_html += '<li>' + \"{{ui.vip.4}}\" + '</li>';\n                }\n\n                if (\"{{ui.vip.5}}\"){\n                    vip_html += '<li>' + \"{{ui.vip.5}}\" + '</li>';\n                }\n                \n                vip.innerHTML = vip_html;\n            \n            })();\n\n            // cardHeight\n\n            (function() {\n\n                var revenue_this_height = document.getElementById('revenue_this').offsetHeight;\n                var revenue_last_height = document.getElementById('revenue_last').offsetHeight;\n\n                if (revenue_this_height <= revenue_last_height) {\n                    document.getElementById('revenue_this').style.height = revenue_last_height + \"px\";\n                }\n                else{\n                    document.getElementById('revenue_last').style.height = revenue_this_height + \"px\";\n                }\n\n                var eps_this_height = document.getElementById('eps_this').offsetHeight;\n                var eps_last_height = document.getElementById('eps_last').offsetHeight;\n\n                if (eps_this_height <= eps_last_height) {\n                    document.getElementById('eps_this').style.height = eps_last_height + \"px\";\n                }\n                else{\n                    document.getElementById('eps_last').style.height = eps_this_height + \"px\";\n                }\n\n            })();\n\n            \n            function ss_strategy(){\n                document.getElementById('queryInput').value = document.getElementById('strategy').innerHTML;\n            }\n\n            function ss_innovation(){\n                document.getElementById('queryInput').value = document.getElementById('innovation').innerHTML;\n            }\n\n            function ss_risk(){\n                document.getElementById('queryInput').value = document.getElementById('risk').innerHTML;\n            }\n\n            function ss_investor(){\n                document.getElementById('queryInput').value = document.getElementById('investor').innerHTML;\n            }\n\n            function ss_sustainability(){\n                document.getElementById('queryInput').value = document.getElementById('sustainability').innerHTML;\n            }\n\n            function ss_global(){\n                document.getElementById('queryInput').value = document.getElementById('global').innerHTML;\n            }\n\n\n\n            (function() {\n\n                var sentiment = \"{{ui.sentiment}}\";\n\n                if (sentiment == \"positive\") {\n                    document.getElementById('sentiment_img').src = \"https://raw.githubusercontent.com/yamanXu/img/master/positive.png\";\n                }\n\n                if (sentiment == \"neutral\"){\n                    document.getElementById('sentiment_img').src = \"https://raw.githubusercontent.com/yamanXu/img/master/neutral.png\";\n                }\n\n                if (sentiment == \"negative\") {\n                    document.getElementById('sentiment_img').src = \"https://raw.githubusercontent.com/yamanXu/img/master/negative.png\"\n                }\n\n            })();\n            \n            \n            \n            \n\n\n\n            \n\n        </script>\n\n    </body>\n</html>","output":"str","x":680,"y":1220,"wires":[["1035f978.4a38a7"]]},{"id":"1035f978.4a38a7","type":"http response","z":"29c7a1ef.d8290e","name":"","statusCode":"","headers":{},"x":850,"y":1220,"wires":[]},{"id":"bc5e9ddc.d4a","type":"template","z":"659c4329.35636c","name":"Search result for document","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1994741_yitk9l5cgp.css\">\n\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-base.min.js\"></script>\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js\"></script>\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n            padding-top: 40px;\n            text-align: center;\n        }\n        \n        .cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n            background: white;\n            border-radius: 5px;\n            margin-left: 6px;\n            margin-top: 6px;\n            margin-bottom: 6px;\n        }\n        \n        .feature {\n            margin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n            color: grey;\n            font-weight: bold;\n        }\n        \n        .content {\n            margin-left: 20px;\n            margin-top: 10px;\n            float: left;\n            width: 90%;\n            color: black;\n            font-size: 160%; \n        }\n        \n        .bottom {\n            margin-left: 20px;\n            margin-top: 8px;\n            float: left:\n            /*width: 90%;*/\n            color: black;\n            font-size: 100%;\n            font-weight: light;\n        \n        }\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n        button {\n            border-radius: 30px;\n            border: 1px;\n            text-align: center;\n            font-size: 90%; \n            height: 28px;\n            margin-left: 10px;\n        }\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Annual Report Analysis Portal</div>\n            \n            <!-- row1: search suggestion-->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsearch\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <font class=\"feature\">Search Query</font>\n\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left;\">\n\n                                <form action=\"/watsonhandler\" method=\"POST\" style=\"margin-top: 10px; float: left;\">\n\n                                    <font for=\"query\" style=\"font-size: 100%; margin-top: 10px; margin-left: 10px;\">Enter query:</font>\n\n                                    <input id=\"queryInput\" required=\"required\" type=\"text\" name=\"query\" style=\"width: 400px; height: 30px; margin-top: 6px; margin-left: 13px;\" placeholder=\"Please input the query you want to search ...\"/>\n\n                                    \n                                    <font for=\"searchScope\" style=\"margin-left: 40px;\" >Search Scope:</font>\n                                    <select id=\"searchScope\" name=\"searchScope\" style=\"width: 150px; margin-left: 10px;\">\n                                        <option value=\"Document\">Document</option>\n                                        <option value=\"News\">News</option>\n                                        <option value=\"Web\">Web</option>\n                                    </select>\n\n                                    <input type=\"submit\" value=\"Submit\" style=\"margin-left: 50px; width: 150px; height: 40px; text-align: center;\">\n\n                                </form>\n                                \n\n                            </div>\n\n                            <div id=\"searchSuggestion\" style=\"width: 100%; margin-left: 10px; margin-top: 20px; float: left;\">\n\n                                <button id=\"strategy\" style=\"width: 100px; background-color: #b8f1ed;\" onclick=\"ss_strategy()\">Strategy</button>\n\n                                <button id=\"innovation\" style=\"width: 110px; background-color: #b8f1ed;\" onclick=\"ss_innovation()\">Innovation</button>\n\n                                <button id=\"risk\" style=\"width: 120px; background-color: #b8f1ed;\" onclick=\"ss_risk()\">Risk Factors</button>\n\n                                <button id=\"investor\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_investor()\">Investor Proposition</button>\n\n                                <button id=\"sustainability\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_sustainability()\">Sustainability Issues</button>\n\n                                <button id=\"global\" style=\"width: 220px; background-color: #b8f1ed;\" onclick=\"ss_global()\">Global Market Performance</button>\n\n                            </div>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left; margin-top: 20px;\"></div>\n\n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row2 -->\n\n            <div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconjobtitle\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <div class=\"feature\">Relevant Paragraph</div>\n                    \n                        <font class=\"content\" style=\"font-size: 100%; margin-bottom: 20px;\">{{payload.result.0.passage_text}}</font>\n\n\n\n                    </div>\n\n\n                </div>\n                \n            </div>\n\n\n\n            \n        </div>\n\n\n\n        <script type=\"text/javascript\">\n        \n\n        </script>\n\n    </body>\n</html>","output":"str","x":1440,"y":1540,"wires":[["1fa455c.20f58aa"]]},{"id":"1fa455c.20f58aa","type":"http response","z":"659c4329.35636c","name":"","statusCode":"","headers":{},"x":1670,"y":1540,"wires":[]},{"id":"2e869327.15a44c","type":"template","z":"659c4329.35636c","name":"Search result for News","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1994741_yitk9l5cgp.css\">\n\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-base.min.js\"></script>\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js\"></script>\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        input[type=text] {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        input[type=text]:focus {\n            border-color:#333;\n        }\n\n        input[type=submit] {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        input[type=submit]:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n            padding-top: 40px;\n            text-align: center;\n        }\n        \n        .cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n            background: white;\n            border-radius: 5px;\n            margin-left: 6px;\n            margin-top: 6px;\n            margin-bottom: 6px;\n        }\n        \n        .feature {\n            margin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n            color: grey;\n            font-weight: bold;\n        }\n        \n        .content {\n            margin-left: 20px;\n            margin-top: 10px;\n            float: left;\n            width: 90%;\n            color: black;\n            font-size: 160%; \n        }\n        \n        .bottom {\n            margin-left: 20px;\n            margin-top: 8px;\n            float: left:\n            /*width: 90%;*/\n            color: black;\n            font-size: 100%;\n            font-weight: light;\n        \n        }\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n        button {\n            border-radius: 30px;\n            border: 1px;\n            text-align: center;\n            font-size: 90%; \n            height: 28px;\n            margin-left: 10px;\n        }\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Annual Report Analysis Portal</div>\n            \n            <!-- row1: search suggestion-->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsearch\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <font class=\"feature\">Search Query</font>\n\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left;\">\n\n                                <form action=\"/watsonhandler\" method=\"POST\" style=\"margin-top: 10px; float: left;\">\n\n                                    <font for=\"query\" style=\"font-size: 100%; margin-top: 10px; margin-left: 10px;\">Enter query:</font>\n\n                                    <input id=\"queryInput\" required=\"required\" type=\"text\" name=\"query\" style=\"width: 400px; height: 30px; margin-top: 6px; margin-left: 13px;\" placeholder=\"Please input the query you want to search ...\"/>\n\n                                    \n                                    <font for=\"searchScope\" style=\"margin-left: 40px;\" >Search Scope:</font>\n                                    <select id=\"searchScope\" name=\"searchScope\" style=\"width: 150px; margin-left: 10px;\">\n                                        <option value=\"Document\">Document</option>\n                                        <option value=\"News\" selected = \"selected\">News</option>\n                                        <option value=\"Web\">Web</option>\n                                    </select>\n\n                                    <input type=\"submit\" value=\"Submit\" style=\"margin-left: 50px; width: 150px; height: 40px; text-align: center;\">\n\n                                </form>\n                                \n\n                            </div>\n\n                            <div id=\"searchSuggestion\" style=\"width: 100%; margin-left: 10px; margin-top: 20px; float: left;\">\n\n                                <button id=\"strategy\" style=\"width: 100px; background-color: #b8f1ed;\" onclick=\"ss_strategy()\">Strategy</button>\n\n                                <button id=\"innovation\" style=\"width: 110px; background-color: #b8f1ed;\" onclick=\"ss_innovation()\">Innovation</button>\n\n                                <button id=\"risk\" style=\"width: 120px; background-color: #b8f1ed;\" onclick=\"ss_risk()\">Risk Factors</button>\n\n                                <button id=\"investor\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_investor()\">Investor Proposition</button>\n\n                                <button id=\"sustainability\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_sustainability()\">Sustainability Issues</button>\n\n                                <button id=\"global\" style=\"width: 220px; background-color: #b8f1ed;\" onclick=\"ss_global()\">Global Market Performance</button>\n\n                            </div>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left; margin-top: 20px;\"></div>\n\n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row2 -->\n\n            <div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconjobtitle\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <div class=\"feature\">Relevant Paragraph</div>\n                    \n                        <font class=\"content\" style=\"font-size: 100%; margin-bottom: 20px;\">{{{payload}}}</font>\n\n\n\n                    </div>\n\n\n                </div>\n                \n            </div>\n\n\n\n            \n        </div>\n\n\n\n        <script type=\"text/javascript\">\n    \n        \n\n        </script>\n\n    </body>\n</html>","output":"str","x":1180,"y":780,"wires":[["aa80a772.dfef88"]]},{"id":"a16d431c.81986","type":"http request","z":"659c4329.35636c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":880,"wires":[["dcd0459a.6f0738"]]},{"id":"608451df.7f082","type":"debug","z":"659c4329.35636c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":800,"wires":[]},{"id":"7171f761.bf9898","type":"function","z":"659c4329.35636c","name":"","func":"msg.payload.company = msg.queryParams.queryterm;\n\n//todo replace placeholder\nmsg.url = \"PLACEHOLDER_NODERED_URL\" + \"/chquerycompany\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":880,"wires":[["a16d431c.81986"]]},{"id":"dcd0459a.6f0738","type":"http response","z":"659c4329.35636c","name":"","statusCode":"","headers":{},"x":1170,"y":880,"wires":[]},{"id":"2bfe850d.92c39a","type":"debug","z":"b1fcb4e6.5f45d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":860,"wires":[]},{"id":"213ee3ac.ff725c","type":"inject","z":"659c4329.35636c","name":"Search risk for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"risk","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":530,"y":660,"wires":[["b09410d3.64348"]]},{"id":"13cd7433.06627c","type":"debug","z":"659c4329.35636c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":720,"wires":[]},{"id":"cf45d7fb.9d6c58","type":"inject","z":"659c4329.35636c","name":"Search vip for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"vip","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":530,"y":620,"wires":[["b09410d3.64348"]]},{"id":"d5345613.a402f8","type":"inject","z":"659c4329.35636c","name":"Search keyword for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"keyword","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":580,"wires":[["b09410d3.64348"]]},{"id":"e0b83df5.b2a9e","type":"inject","z":"659c4329.35636c","name":"Search location for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"location","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":540,"wires":[[]]},{"id":"27eb1a25.a6eb56","type":"inject","z":"659c4329.35636c","name":"Search debt for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"debt","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":500,"wires":[["b09410d3.64348"]]},{"id":"6b2ba159.869eb","type":"inject","z":"659c4329.35636c","name":"Search revenue this year for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"revenue in this year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":420,"wires":[["b09410d3.64348"]]},{"id":"79fa697.b6d7798","type":"inject","z":"659c4329.35636c","name":"Search revenue last year for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"revenue in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":380,"wires":[["b09410d3.64348"]]},{"id":"25ecbe93.8b3142","type":"inject","z":"659c4329.35636c","name":"Search cash flow for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"cash flow","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":460,"wires":[["b09410d3.64348"]]},{"id":"84b9a74e.10a348","type":"inject","z":"659c4329.35636c","name":"Search eps last year for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"earning per share in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":340,"wires":[[]]},{"id":"553949e9.82c828","type":"inject","z":"659c4329.35636c","name":"Search eps this year for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"earning per share in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":300,"wires":[["b09410d3.64348"]]},{"id":"1da25d99.281572","type":"inject","z":"659c4329.35636c","name":"Search empty for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":260,"wires":[["b09410d3.64348"]]},{"id":"6bb7ee46.ee05","type":"inject","z":"659c4329.35636c","name":"Search invalid query for News","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"@@@","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":220,"wires":[["b09410d3.64348"]]},{"id":"67328cc7.de48a4","type":"inject","z":"659c4329.35636c","name":"Search risk for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"location","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":1060,"wires":[["4ee2952a.2cc3ac"]]},{"id":"19934592.3a77da","type":"inject","z":"659c4329.35636c","name":"Search vip for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"vip","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":1420,"wires":[["4ee2952a.2cc3ac"]]},{"id":"3319e69c.3d074a","type":"inject","z":"659c4329.35636c","name":"Search keyword for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"keyword","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1380,"wires":[["4ee2952a.2cc3ac"]]},{"id":"90a20f74.c0d05","type":"inject","z":"659c4329.35636c","name":"Search location for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"location","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1340,"wires":[["4ee2952a.2cc3ac"]]},{"id":"532455e1.ecb78c","type":"inject","z":"659c4329.35636c","name":"Search debt for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"debt","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":1300,"wires":[["4ee2952a.2cc3ac"]]},{"id":"b8a7591.0d132a8","type":"inject","z":"659c4329.35636c","name":"Search revenue this year for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"revenue in this year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":1220,"wires":[["4ee2952a.2cc3ac"]]},{"id":"19132884.613617","type":"inject","z":"659c4329.35636c","name":"Search revenue last year for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"revenue in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":1180,"wires":[["4ee2952a.2cc3ac"]]},{"id":"bd630d60.374ef","type":"inject","z":"659c4329.35636c","name":"Search cash flow for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"cash flow","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1260,"wires":[["4ee2952a.2cc3ac"]]},{"id":"3922d93b.6c3b06","type":"inject","z":"659c4329.35636c","name":"Search eps last year for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"earning per share in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":1140,"wires":[["4ee2952a.2cc3ac"]]},{"id":"b3d5686f.7626d8","type":"inject","z":"659c4329.35636c","name":"Search eps this year for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"earning per share in last year","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":1100,"wires":[["4ee2952a.2cc3ac"]]},{"id":"37e2497a.f398a6","type":"inject","z":"659c4329.35636c","name":"Search empty for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1020,"wires":[["4ee2952a.2cc3ac"]]},{"id":"556b29a3.632a18","type":"inject","z":"659c4329.35636c","name":"Search invalid query for Doc","props":[{"p":"payload"},{"p":"queryParams.queryterm","v":"@@@","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":980,"wires":[["4ee2952a.2cc3ac"]]},{"id":"fc83e13c.18dd8","type":"watson-tone-analyzer-v3","z":"29c7a1ef.d8290e","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":580,"y":640,"wires":[["22ef4f16.ecb73"]]},{"id":"22ef4f16.ecb73","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let max_score = 0;\nlet max_index = -1;\n\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.risk_sentiment = msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":640,"wires":[["5864ccf3.fd2b14"]]},{"id":"c6030e31.199b3","type":"watson-tone-analyzer-v3","z":"29c7a1ef.d8290e","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":620,"y":720,"wires":[["ad855693.254688"]]},{"id":"ad855693.254688","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.this_revenue_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":720,"wires":[["eb23bb1.aabb348"]]},{"id":"87107fd9.a514a","type":"watson-tone-analyzer-v3","z":"29c7a1ef.d8290e","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":620,"y":820,"wires":[["63bf0c92.f0a254"]]},{"id":"63bf0c92.f0a254","type":"function","z":"29c7a1ef.d8290e","name":"","func":"let max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.last_revenue_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":820,"wires":[["d9315a58.6f6908"]]},{"id":"3da243b2.dce31c","type":"watson-tone-analyzer-v3","z":"29c7a1ef.d8290e","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":600,"y":900,"wires":[["4545d237.6c1e4c"]]},{"id":"4545d237.6c1e4c","type":"function","z":"29c7a1ef.d8290e","name":"","func":"// msg.ui.cash_flow_sentiment = msg.response.document_tone;\n\nlet max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.cash_flow_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":900,"wires":[["69e3f234.11dedc"]]},{"id":"3d831e8b.8be3b2","type":"watson-tone-analyzer-v3","z":"29c7a1ef.d8290e","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":600,"y":980,"wires":[["49aea663.86feb8"]]},{"id":"49aea663.86feb8","type":"function","z":"29c7a1ef.d8290e","name":"","func":"// msg.ui.finance_debt_sentiment = msg.response.document_tone;\n\nlet max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.finance_debt_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":980,"wires":[["32f24a07.814ff6"]]},{"id":"1d1108d3.5c0367","type":"function","z":"29c7a1ef.d8290e","name":"","func":"// msg.ui.this_eps_sentiment = msg.response.document_tone;\n\nlet max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.this_eps_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1060,"wires":[["bae7ebc3.f77ea8"]]},{"id":"ee430376.0acc3","type":"watson-tone-analyzer-v3","z":"29c7a1ef.d8290e","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":580,"y":1060,"wires":[["1d1108d3.5c0367"]]},{"id":"aa2f52b3.5011b","type":"function","z":"29c7a1ef.d8290e","name":"","func":"// msg.ui.last_eps_sentiment = msg.response.document_tone;\n\nlet max_score = 0;\nlet max_index = -1;\nmsg.response.document_tone.tones.forEach(function(item, index, array) {\n    if(item.score > max_score){\n        max_score = item.score;\n        max_index = index;\n    }\n})\n\nlet tone = (max_index >= 0 ? msg.response.document_tone.tones[max_index].tone_id : \"na\");\nmsg.ui.last_eps_sentiment= msg.ui.colours[tone];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1120,"wires":[["9ebad8ff.857508","422332f6.53054c"]]},{"id":"79b7087c.3d4038","type":"watson-tone-analyzer-v3","z":"29c7a1ef.d8290e","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":580,"y":1120,"wires":[["aa2f52b3.5011b"]]},{"id":"2d4a0ffe.772fb","type":"inject","z":"b1fcb4e6.5f45d8","name":"make request without statements","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"09854375","payload":"","payloadType":"date","x":130,"y":1060,"wires":[["f688075f.63b608"]]},{"id":"8b5f17bf.b91578","type":"inject","z":"b1fcb4e6.5f45d8","name":"make request without charges","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"09678867","payload":"","payloadType":"date","x":140,"y":1100,"wires":[["f688075f.63b608"]]},{"id":"6fe0b594.7c1d3c","type":"inject","z":"b1fcb4e6.5f45d8","name":"make request valid","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"joe & the juice","payload":"","payloadType":"date","x":250,"y":420,"wires":[["a544721d.55d05"]]},{"id":"c4d91841.08b738","type":"http request","z":"b1fcb4e6.5f45d8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":440,"wires":[["41ddb841.3fe838"]]},{"id":"a544721d.55d05","type":"function","z":"b1fcb4e6.5f45d8","name":"set url","func":"msg.topic = msg.topic.split(\"%\").join(\"%25\");\nmsg.topic = msg.topic.split(\"+\").join(\"%2B\");\nrefinedquery = msg.topic.split(/\\s+/).join(\"+\");\n\n// refinedquery = encodeURIComponent(refinedquery);\n// error above due to spaces and + and other special characters\nrefinedquery = refinedquery.split(\"&\").join(\"%26\");\nrefinedquery = refinedquery.split(\"\\/\").join(\"%2F\");\nrefinedquery = refinedquery.split(\"\\\\\").join(\"%5C\");\nrefinedquery = refinedquery.split(\"!\").join(\"%21\");\nrefinedquery = refinedquery.split(\"\\'\").join(\"%27\");\nrefinedquery = refinedquery.split(\"\\(\").join(\"%28\");\nrefinedquery = refinedquery.split(\"\\)\").join(\"%29\");\nrefinedquery = refinedquery.split(\"#\").join(\"%23\");\nrefinedquery = refinedquery.split(\"$\").join(\"%24\");\nrefinedquery = refinedquery.split(\",\").join(\"%2C\");\n\n\nmsg.url = \"https://beta.companieshouse.gov.uk/search?q=\" + refinedquery;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":520,"wires":[["fc5597ba.ca24c8"]]},{"id":"41ddb841.3fe838","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"ul.results-list","ret":"html","as":"single","x":590,"y":500,"wires":[["9b38ab36.ebb948","1f6434f1.c66bfb","b4937061.eac7a"]]},{"id":"3660a7a6.bbde98","type":"comment","z":"b1fcb4e6.5f45d8","name":"Getting List of companies","info":"","x":310,"y":140,"wires":[]},{"id":"76d38003.6674e","type":"html","z":"b1fcb4e6.5f45d8","name":"","property":"payload","outproperty":"payload","tag":"li.type-company","ret":"html","as":"single","x":1200,"y":520,"wires":[["3beb0eb0.8e2d22"]]},{"id":"1addb4b5.c288eb","type":"debug","z":"b1fcb4e6.5f45d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1670,"y":440,"wires":[]},{"id":"3beb0eb0.8e2d22","type":"function","z":"b1fcb4e6.5f45d8","name":"Obtain Company Numbers and Names","func":"arrlen = msg.payload.length;\nallcompnumbers = []\nallcompnames = []\nfor(var i=0; i<arrlen; i++){\n    // Obtain Company Numbers\n    compnumbindex = msg.payload[i].indexOf(\"a href=\\\"\\/company\\/\");\n    if (compnumbindex != -1){\n        compnumbindex = compnumbindex + 17;\n        compnumber = msg.payload[i].substring(compnumbindex);\n        compnumber = compnumber.split(\"\\\"\")[0];\n        allcompnumbers = allcompnumbers.concat([compnumber]);\n    }\n    else {\n        msg.payload = \"COMPANY NUMBER ERRROR!\";\n        return msg;\n    } \n    // Obtain Company Names\n    compnameindex = msg.payload[i].indexOf(\"View company\");\n    if (compnameindex != -1){\n        compnameindex = compnameindex + 14;\n        compname = msg.payload[i].substring(compnameindex);\n        nameend = compname.indexOf(\"<\\/a>\");\n        if (nameend == -1){\n            msg.payload = \"COMPANY NAME ERRROR!\";\n            return msg;\n        }\n        compname = compname.substring(0, nameend);\n        \n        // check if <strong> is used\n        if (compname.includes(\"<strong>\")){\n            compname = compname.replace(\"<strong>\",'');\n            compname = compname.replace(\"</strong>\",'');\n        }\n        compname = compname.trim();\n        compname = compname.replace(/<\\/?[^>]+(>|$)/g, \"\");\n        allcompnames = allcompnames.concat([compname]);\n    }\n    else {\n        msg.payload = \"COMPANY NAME ERRROR!\";\n        return msg;\n    } \n    \n}\n// Map names to numbers\nmsg.compnumbers = allcompnumbers;\nmsg.compnames = allcompnames;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":400,"wires":[["d9f9affd.bc7aa"]]},{"id":"fc5597ba.ca24c8","type":"switch","z":"b1fcb4e6.5f45d8","name":"Query must be non null","property":"url.length","propertyType":"msg","rules":[{"t":"gte","v":"45","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":580,"wires":[["c4d91841.08b738"]]},{"id":"fc2e4477.254eb8","type":"function","z":"b1fcb4e6.5f45d8","name":"Change payload to non-array","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":420,"wires":[["76d38003.6674e"]]},{"id":"9b38ab36.ebb948","type":"switch","z":"b1fcb4e6.5f45d8","name":"relevant results","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":460,"wires":[["fc2e4477.254eb8"]]},{"id":"1f6434f1.c66bfb","type":"switch","z":"b1fcb4e6.5f45d8","name":"No Relevant Results","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":540,"wires":[["3d8feb2d.b464e4"]]},{"id":"b4937061.eac7a","type":"switch","z":"b1fcb4e6.5f45d8","name":"Too many results (ERROR)","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":600,"wires":[["a3028654.99b0a8"]]},{"id":"3d8feb2d.b464e4","type":"debug","z":"b1fcb4e6.5f45d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":540,"wires":[]},{"id":"a3028654.99b0a8","type":"debug","z":"b1fcb4e6.5f45d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":600,"wires":[]},{"id":"daa19488.7ecb98","type":"inject","z":"b1fcb4e6.5f45d8","name":"make request no results","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"asjsajks","payload":"","payloadType":"date","x":240,"y":460,"wires":[["a544721d.55d05"]]},{"id":"c492fd7a.9f138","type":"inject","z":"b1fcb4e6.5f45d8","name":"make request empty","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":230,"y":500,"wires":[["a544721d.55d05"]]},{"id":"1e9eaa02.3cfb06","type":"inject","z":"b1fcb4e6.5f45d8","name":"make request simple","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"facebook","payload":"","payloadType":"date","x":250,"y":380,"wires":[["a544721d.55d05"]]},{"id":"da6a2e00.f1bec","type":"http in","z":"b1fcb4e6.5f45d8","name":"","url":"/chquerycompany","method":"post","upload":false,"swaggerDoc":"","x":290,"y":260,"wires":[["fd58a873.5b43c8"]]},{"id":"fd58a873.5b43c8","type":"function","z":"b1fcb4e6.5f45d8","name":"Set topic","func":"msg.topic = msg.payload.company;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":320,"wires":[["a544721d.55d05"]]},{"id":"d9f9affd.bc7aa","type":"function","z":"b1fcb4e6.5f45d8","name":"Set payload","func":"msg.payload = [];\narrlen = msg.compnumbers.length;\nfor(var i=0; i<arrlen; i++){\n    thiscomp = {};\n    thiscomp['compname'] = msg.compnames[i];\n    thiscomp['compno'] = msg.compnumbers[i];\n    msg.payload[i]= thiscomp;\n}\ndelete msg['compnumbers'];\ndelete msg['compnames'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":440,"wires":[["1addb4b5.c288eb","1e0ae7ca.6babb8"]]},{"id":"2337ee10.0abfd2","type":"http response","z":"b1fcb4e6.5f45d8","name":"","statusCode":"","headers":{},"x":1870,"y":340,"wires":[]},{"id":"1e0ae7ca.6babb8","type":"template","z":"b1fcb4e6.5f45d8","name":"Search result for Web","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <title>Financial Analyser</title>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n\n    <link rel=\"stylesheet\" href=\"http://at.alicdn.com/t/font_1994741_yitk9l5cgp.css\">\n\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-base.min.js\"></script>\n    <script src=\"https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js\"></script>\n\n\n    <style>\n        body,h1 {font-family: \"Verdana\", sans-serif;}\n        body, html {background-size: cover; background-image: radial-gradient( #39435c, #272f3f);}\n        .bgimg {\n            background-image: radial-gradient( #39435c, #272f3f);\n            min-height: 100%;\n            width: 100%;\n            background-position: center;\n            background-size: cover;\n        }\n        .searchSubmit {\n            padding:5px; \n            border:2px solid #ccc; \n            border-radius: 5px;\n            width: 100%;\n            text-align: center\n\n        }\n\n        .searchSubmit:focus {\n            border-color:#333;\n        }\n\n        .searchSubmit {\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: black;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            width: 30%;\n\n        }\n\n        .searchSubmit:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .chooseFile {\n            cursor: pointer;\n            padding: 1rem;\n            font-size: 1rem;\n            padding: .5rem 3rem;\n            color: grey;\n            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);\n            border: solid 3px transparent;\n            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(grey, grey, grey);\n            background-origin: border-box;\n            background-clip: content-box, border-box;\n            box-shadow: 2px 1000px 1px #fff inset;\n            display: inline-block;\n            width: 69%;\n\n        }\n\n        label:hover {\n            box-shadow: none;\n            color: white;\n        }\n\n        .title {\n            width: 100%;\n            font-size: 30px;\n            padding-top: 40px;\n            text-align: center;\n        }\n        \n        .cardBox {\n            width: 360px;\n            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\n            float: left;\n            margin-right: 6px;\n            padding: 5px;\n            background: white;\n            border-radius: 5px;\n            margin-left: 6px;\n            margin-top: 6px;\n            margin-bottom: 6px;\n        }\n        \n        .feature {\n            margin-left: 10px;\n            margin-top: 10px;\n            float: left;\n            width: 70%;\n            color: grey;\n            font-weight: bold;\n        }\n        \n        .content {\n            margin-left: 20px;\n            margin-top: 10px;\n            float: left;\n            width: 90%;\n            color: black;\n            font-size: 160%; \n        }\n        \n        .bottom {\n            margin-left: 20px;\n            margin-top: 8px;\n            float: left:\n            /*width: 90%;*/\n            color: black;\n            font-size: 100%;\n            font-weight: light;\n        \n        }\n\n        table.gridtable {\n            font-family: verdana,arial,sans-serif;\n            font-size:11px;\n            color:#333333;\n            border-width: 1px;\n            border-color: #666666;\n            border-collapse: collapse;\n        }\n\n        table.gridtable th {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #dedede;\n        }\n        table.gridtable td {\n            border-width: 1px;\n            padding: 8px;\n            border-style: solid;\n            border-color: #666666;\n            background-color: #ffffff;\n        }\n\n        button {\n            border-radius: 30px;\n            border: 1px;\n            text-align: center;\n            font-size: 90%; \n            height: 28px;\n            margin-left: 10px;\n        }\n        \n        font.visible {visibility:visible}\n        font.invisible {display: none;}\n\n\n\n    </style>\n\n\n    <body>\n        <div class=\"bgimg w3-display-container w3-animate-opacity\">\n            <div class=\"title w3-text-white\">Annual Report Analysis Portal</div>\n            \n            <!-- row1: search suggestion-->\n            <div id=\"row1\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconsearch\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <font class=\"feature\">Search Query</font>\n\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left;\">\n\n                                <form action=\"/watsonhandler\" method=\"POST\" style=\"margin-top: 10px; float: left;\">\n\n                                    <font for=\"query\" style=\"font-size: 100%; margin-top: 10px; margin-left: 10px;\">Enter query:</font>\n\n                                    <input id=\"queryInput\" required=\"required\" type=\"text\" name=\"query\" style=\"width: 400px; height: 30px; margin-top: 6px; margin-left: 13px;\" placeholder=\"Please input the query you want to search ...\"/>\n\n                                    \n                                    <font for=\"searchScope\" style=\"margin-left: 40px;\" >Search Scope:</font>\n                                    <select id=\"searchScope\" name=\"searchScope\" style=\"width: 150px; margin-left: 10px;\">\n                                        <option value=\"Document\">Document</option>\n                                        <option value=\"News\">News</option>\n                                        <option value=\"Web\" selected = \"selected\">Web</option>\n                                    </select>\n\n                                    <input id=\"searchSubmit\" type=\"submit\" value=\"Submit\" style=\"margin-left: 50px; width: 150px; height: 40px; text-align: center;\">\n\n                                </form>\n                                \n\n                            </div>\n\n                            <div id=\"searchSuggestion\" style=\"width: 100%; margin-left: 10px; margin-top: 20px; float: left;\">\n\n                                <button id=\"strategy\" style=\"width: 100px; background-color: #b8f1ed;\" onclick=\"ss_strategy()\">Strategy</button>\n\n                                <button id=\"innovation\" style=\"width: 110px; background-color: #b8f1ed;\" onclick=\"ss_innovation()\">Innovation</button>\n\n                                <button id=\"risk\" style=\"width: 120px; background-color: #b8f1ed;\" onclick=\"ss_risk()\">Risk Factors</button>\n\n                                <button id=\"investor\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_investor()\">Investor Proposition</button>\n\n                                <button id=\"sustainability\" style=\"width: 180px; background-color: #b8f1ed;\" onclick=\"ss_sustainability()\">Sustainability Issues</button>\n\n                                <button id=\"global\" style=\"width: 220px; background-color: #b8f1ed;\" onclick=\"ss_global()\">Global Market Performance</button>\n\n                            </div>\n\n                            <div style=\"width: 100%; margin-left: 10px; float: left; margin-top: 20px;\"></div>\n\n                    </div>\n\n                </div>\n                \n            </div>\n            \n            <!-- row2 -->\n\n            <div id=\"row2\" style=\"width: 100%; margin-top: 30px;\">\n                <div style=\"position: relative; left: 50%; float: left;\">\n                    <div class=\"cardBox\" style=\"height: auto; width: 1103px; position: relative; left: -50%;\">\n\n                        <i class=\"iconfont iconjobtitle\" style=\"margin-left: 20px; margin-top: 10px; float: left;\"></i>\n    \n                        <div class=\"feature\">Company List</div>\n                    \n                        <div style=\"border:0.5px solid #CCC; margin-left: 20px; margin-right: 20px; margin-top: 40px;\"></div>\n                        \n                        <font id=\"NoCompanyFound\" class=\"invisible\" style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px; margin-bottom: 20px;\">No Company Found</font>\n                        \n                        {{#payload}}\n\n                        <div style=\"margin-top: 10px; float: left; width: 100%; margin-left: 20px;\">\n                            \n                            \n\n                            <form action=\"/retcompdetails\" method=\"POST\">\n\n                                <font>[</font>\n\n                                <font>{{compno}}</font>\n\n                                <font>]</font>\n\n                                <font style=\"margin-left: 15px;\">{{{compname}}}</font>\n                                \n                                <input type=\"hidden\" name=\"company\" value={{compno}} />\n\n                                <input type=\"submit\" value=\"see more\" style=\"margin-left: 15px;\">\n                        \n                            </form>\n\n                        </div>\n\n                        {{/payload}}\n                        \n                    </div>\n\n\n                </div>\n                \n            </div>\n            \n        </div>\n\n        <script type=\"text/javascript\">\n        \n            if(\"{{payload}}\" == \"\"){\n                \n                document.getElementById(\"NoCompanyFound\").className = 'visible';\n                \n            }\n        \n\n        </script>\n\n    </body>\n</html>","output":"str","x":1700,"y":340,"wires":[["2337ee10.0abfd2"]]},{"id":"4222fcfe.fdb444","type":"comment","z":"8d459938.14dd28","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":120,"wires":[]},{"id":"14689691.6cdea9","type":"comment","z":"8d459938.14dd28","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":220,"wires":[]},{"id":"4999c840.5d7918","type":"comment","z":"8d459938.14dd28","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":340,"wires":[]},{"id":"2ab4b2ef.60d09e","type":"comment","z":"8d459938.14dd28","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":440,"wires":[]},{"id":"a2fc0583.ffa188","type":"comment","z":"8d459938.14dd28","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":500,"y":560,"wires":[]},{"id":"6f8aa7d0.151ea8","type":"comment","z":"a76837d6.c07e08","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":440,"y":220,"wires":[]},{"id":"6376715c.9df4f","type":"comment","z":"a76837d6.c07e08","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":1260,"y":100,"wires":[]},{"id":"4ac6028d.2adeec","type":"comment","z":"a76837d6.c07e08","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":1240,"y":240,"wires":[]},{"id":"3625063f.f49d3a","type":"comment","z":"a76837d6.c07e08","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":780,"y":440,"wires":[]},{"id":"3f90da87.a82fb6","type":"comment","z":"659c4329.35636c","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":1080,"y":620,"wires":[]},{"id":"b9211961.7060f8","type":"comment","z":"659c4329.35636c","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":660,"y":1120,"wires":[]},{"id":"d2e9a6a8.dd62c8","type":"comment","z":"659c4329.35636c","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":680,"y":1280,"wires":[]},{"id":"bb28dfa2.05829","type":"comment","z":"659c4329.35636c","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":1120,"y":1340,"wires":[]},{"id":"4ccc25a8.d2c7ec","type":"comment","z":"29c7a1ef.d8290e","name":"REPLACE PLACEHOLDERS IN ALL DISCOVERY NODE (DARK ORANGE) AND INSIGHTS NODE (BLUE) BELOW","info":"","x":670,"y":200,"wires":[]},{"id":"7f532add.85c5c4","type":"comment","z":"29c7a1ef.d8290e","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":520,"y":420,"wires":[]},{"id":"5fe49cd9.973054","type":"comment","z":"29c7a1ef.d8290e","name":"REPLACE PLACEHOLDERS IN NODE BELOW","info":"","x":460,"y":40,"wires":[]},{"id":"e3a4cbe3.ff5578","type":"comment","z":"659c4329.35636c","name":"REPLACE URL IN NODE BELOW","info":"","x":760,"y":840,"wires":[]}]